In [1]:
#import necessary modules
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import datetime
import dataframe_image as dfi
import sqlite3
from pandasql import sqldf

sqlit = lambda q: sqldf(q, globals())

In [2]:
conn = sqlite3.connect('pdga.sqlite')
players_events_df = pd.read_sql_query("SELECT * FROM players_events", conn)

---
# Adding Preliminary Player Data

## Calling MPO Websites

and adding output to local html files.

Once the files were formed, commented out the calls.

In [3]:

# MPO1 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=Male&Bracket=MPO&continent=All&Country=All&StateProv=All')
# MPO2 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=Male&Bracket=MPO&continent=All&Country=All&StateProv=All&page=1')
# MPO3 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=Male&Bracket=MPO&continent=All&Country=All&StateProv=All&page=2')
# MPO4 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=Male&Bracket=MPO&continent=All&Country=All&StateProv=All&page=3')
# MPO5 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=Male&Bracket=MPO&continent=All&Country=All&StateProv=All&page=4')

# with open("MPO1.html", "w") as f:
#     f.write(MPO1.text)
# with open("MPO2.html", "w") as f:
#     f.write(MPO2.text)
# with open("MPO3.html", "w") as f:
#     f.write(MPO3.text)
# with open("MPO4.html", "w") as f:
#     f.write(MPO4.text)
# with open("MPO5.html", "w") as f:
#     f.write(MPO5.text)

In [4]:
# MPO6 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=Male&Bracket=MPO&continent=All&Country=All&StateProv=All&page=5')
# MPO7 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=Male&Bracket=MPO&continent=All&Country=All&StateProv=All&page=6')
# MPO8 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=Male&Bracket=MPO&continent=All&Country=All&StateProv=All&page=7')
# MPO9 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=Male&Bracket=MPO&continent=All&Country=All&StateProv=All&page=8')
# MPO10 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=Male&Bracket=MPO&continent=All&Country=All&StateProv=All&page=9')

# with open("MPO6.html", "w") as f:
#     f.write(MPO6.text)
# with open("MPO7.html", "w") as f:
#     f.write(MPO7.text)
# with open("MPO8.html", "w") as f:
#     f.write(MPO8.text)
# with open("MPO9.html", "w") as f:
#     f.write(MPO9.text)
# with open("MPO10.html", "w") as f:
#     f.write(MPO10.text)

In [5]:
# MPO11 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=Male&Bracket=MPO&continent=All&Country=All&StateProv=All&page=10')
# MPO12 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=Male&Bracket=MPO&continent=All&Country=All&StateProv=All&page=11')
# MPO13 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=Male&Bracket=MPO&continent=All&Country=All&StateProv=All&page=12')
# MPO14 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=Male&Bracket=MPO&continent=All&Country=All&StateProv=All&page=13')
# MPO15 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=Male&Bracket=MPO&continent=All&Country=All&StateProv=All&page=14')

# with open("MPO11.html", "w") as f:
#     f.write(MPO11.text)
# with open("MPO12.html", "w") as f:
#     f.write(MPO12.text)
# with open("MPO13.html", "w") as f:
#     f.write(MPO13.text)
# with open("MPO14.html", "w") as f:
#     f.write(MPO14.text)
# with open("MPO15.html", "w") as f:
#     f.write(MPO15.text)

In [6]:
# MPO16 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=Male&Bracket=MPO&continent=All&Country=All&StateProv=All&page=15')
# MPO17 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=Male&Bracket=MPO&continent=All&Country=All&StateProv=All&page=16')
# MPO18 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=Male&Bracket=MPO&continent=All&Country=All&StateProv=All&page=17')
# MPO19 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=Male&Bracket=MPO&continent=All&Country=All&StateProv=All&page=18')
# MPO20 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=Male&Bracket=MPO&continent=All&Country=All&StateProv=All&page=19')

# with open("MPO16.html", "w") as f:
#     f.write(MPO16.text)
# with open("MPO17.html", "w") as f:
#     f.write(MPO17.text)
# with open("MPO18.html", "w") as f:
#     f.write(MPO18.text)
# with open("MPO19.html", "w") as f:
#     f.write(MPO19.text)
# with open("MPO20.html", "w") as f:
#     f.write(MPO20.text)

In [7]:
# MPO21 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=Male&Bracket=MPO&continent=All&Country=All&StateProv=All&page=20')
# MPO22 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=Male&Bracket=MPO&continent=All&Country=All&StateProv=All&page=21')
# MPO23 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=Male&Bracket=MPO&continent=All&Country=All&StateProv=All&page=22')
# MPO24 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=Male&Bracket=MPO&continent=All&Country=All&StateProv=All&page=23')
# MPO25 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=Male&Bracket=MPO&continent=All&Country=All&StateProv=All&page=24')

# with open("MPO21.html", "w") as f:
#     f.write(MPO21.text)
# with open("MPO22.html", "w") as f:
#     f.write(MPO22.text)
# with open("MPO23.html", "w") as f:
#     f.write(MPO23.text)
# with open("MPO24.html", "w") as f:
#     f.write(MPO24.text)
# with open("MPO25.html", "w") as f:
#     f.write(MPO25.text)

In [8]:
# MPO26 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=Male&Bracket=MPO&continent=All&Country=All&StateProv=All&page=25')
# MPO27 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=Male&Bracket=MPO&continent=All&Country=All&StateProv=All&page=26')
# MPO28 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=Male&Bracket=MPO&continent=All&Country=All&StateProv=All&page=27')
# MPO29 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=Male&Bracket=MPO&continent=All&Country=All&StateProv=All&page=28')
# MPO30 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=Male&Bracket=MPO&continent=All&Country=All&StateProv=All&page=29')

# with open("MPO26.html", "w") as f:
#     f.write(MPO26.text)
# with open("MPO27.html", "w") as f:
#     f.write(MPO27.text)
# with open("MPO28.html", "w") as f:
#     f.write(MPO28.text)
# with open("MPO29.html", "w") as f:
#     f.write(MPO29.text)
# with open("MPO30.html", "w") as f:
#     f.write(MPO30.text)

In [9]:
# MPO31 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=Male&Bracket=MPO&continent=All&Country=All&StateProv=All&page=30')
# MPO32 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=Male&Bracket=MPO&continent=All&Country=All&StateProv=All&page=31')
# MPO33 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=Male&Bracket=MPO&continent=All&Country=All&StateProv=All&page=32')
# MPO34 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=Male&Bracket=MPO&continent=All&Country=All&StateProv=All&page=33')
# MPO35 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=Male&Bracket=MPO&continent=All&Country=All&StateProv=All&page=34')

# with open("MPO31.html", "w") as f:
#     f.write(MPO31.text)
# with open("MPO32.html", "w") as f:
#     f.write(MPO32.text)
# with open("MPO33.html", "w") as f:
#     f.write(MPO33.text)
# with open("MPO34.html", "w") as f:
#     f.write(MPO34.text)
# with open("MPO35.html", "w") as f:
#     f.write(MPO35.text)

In [10]:

# FPO1 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=All&Bracket=FPO&continent=All&Country=All&StateProv=All')
# FPO2 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=All&Bracket=FPO&continent=All&Country=All&StateProv=All&page=1')
# FPO3 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=All&Bracket=FPO&continent=All&Country=All&StateProv=All&page=2')
# FPO4 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=All&Bracket=FPO&continent=All&Country=All&StateProv=All&page=3')
# FPO5 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=All&Bracket=FPO&continent=All&Country=All&StateProv=All&page=4')

# with open("FPO1.html", "w") as f:
#     f.write(FPO1.text)
# with open("FPO2.html", "w") as f:
#     f.write(FPO2.text)
# with open("FPO3.html", "w") as f:
#     f.write(FPO3.text)
# with open("FPO4.html", "w") as f:
#     f.write(FPO4.text)
# with open("FPO5.html", "w") as f:
#     f.write(FPO5.text)

In [11]:
# FPO6 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=All&Bracket=FPO&continent=All&Country=All&StateProv=All&page=5')
# FPO7 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=All&Bracket=FPO&continent=All&Country=All&StateProv=All&page=6')
# FPO8 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=All&Bracket=FPO&continent=All&Country=All&StateProv=All&page=7')
# FPO9 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=All&Bracket=FPO&continent=All&Country=All&StateProv=All&page=8')
# FPO10 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=All&Bracket=FPO&continent=All&Country=All&StateProv=All&page=9')

# with open("FPO6.html", "w") as f:
#     f.write(FPO6.text)
# with open("FPO7.html", "w") as f:
#     f.write(FPO7.text)
# with open("FPO8.html", "w") as f:
#     f.write(FPO8.text)
# with open("FPO9.html", "w") as f:
#     f.write(FPO9.text)
# with open("FPO10.html", "w") as f:
#     f.write(FPO10.text)

In [12]:
# FPO11 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=All&Bracket=FPO&continent=All&Country=All&StateProv=All&page=10')
# FPO12= requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=All&Bracket=FPO&continent=All&Country=All&StateProv=All&page=11')
# FPO13= requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=All&Bracket=FPO&continent=All&Country=All&StateProv=All&page=12')
# FPO14= requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=All&Bracket=FPO&continent=All&Country=All&StateProv=All&page=13')
# FPO15 = requests.get('https://www.pdga.com/players/stats?Year=2021&player_Class=1&Gender=All&Bracket=FPO&continent=All&Country=All&StateProv=All&page=14')

# with open("FPO11.html", "w") as f:
#     f.write(FPO11.text)
# with open("FPO12.html", "w") as f:
#     f.write(FPO12.text)
# with open("FPO13.html", "w") as f:
#     f.write(FPO13.text)
# with open("FPO14.html", "w") as f:
#     f.write(FPO14.text)
# with open("FPO15.html", "w") as f:
#     f.write(FPO15.text)

---


## Parse MPO html docs

This data is already in the database. Commented out the parsing.

In [13]:
# with open("MPO1.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')
    
# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# MPO1_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [14]:
# with open("MPO2.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')
    
# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# MPO2_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [15]:
# with open("MPO3.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')
    
# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# MPO3_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [16]:
# with open("MPO4.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# MPO4_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [17]:
# with open("MPO5.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')


# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# MPO5_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [18]:
# with open("MPO6.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# MPO6_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [19]:
# with open("MPO7.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# MPO7_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [20]:
# with open("MPO8.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# MPO8_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [21]:
# with open("MPO9.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# MPO9_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [22]:
# with open("MPO10.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# MPO10_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [23]:
# with open("MPO11.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# MPO11_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [24]:
# with open("MPO12.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# MPO12_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [25]:
# with open("MPO13.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# MPO13_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [26]:
# with open("MPO14.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# MPO14_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [27]:
# with open("MPO15.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# MPO15_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [28]:
# with open("MPO16.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# MPO16_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [29]:
# with open("MPO17.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# MPO17_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [30]:
# with open("MPO18.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# MPO18_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [31]:
# with open("MPO19.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# MPO19_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [32]:
# with open("MPO20.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# MPO20_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [33]:
# with open("MPO21.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# MPO21_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [34]:
# with open("MPO22.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# MPO22_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [35]:
# with open("MPO23.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# MPO23_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [36]:
# with open("MPO24.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# MPO24_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [37]:
# with open("MPO25.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# MPO25_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [38]:
# with open("MPO26.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# MPO26_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [39]:
# with open("MPO27.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# MPO27_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [40]:
# with open("MPO28.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# MPO28_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [41]:
# with open("MPO29.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# MPO29_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [42]:
# with open("MPO30.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# MPO30_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [43]:
# with open("MPO31.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# MPO31_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [44]:
# with open("MPO32.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# MPO32_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [45]:
# with open("MPO33.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# MPO33_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [46]:
# with open("MPO34.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# MPO34_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [47]:
# with open("MPO35.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# MPO35_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

---
## Combine data into MPO dataframe

Already in database

In [48]:
# #Combine MPO DFs


# MPO_players_df = pd.concat([MPO1_df, MPO2_df, MPO3_df, MPO4_df, MPO5_df, MPO6_df, MPO7_df, MPO8_df, MPO9_df, MPO10_df, MPO11_df, MPO12_df, MPO13_df, MPO14_df, MPO15_df, MPO16_df, MPO17_df, MPO18_df, MPO19_df, MPO20_df, MPO21_df, MPO22_df, MPO23_df, MPO24_df, MPO25_df, MPO26_df, MPO27_df, MPO28_df, MPO29_df, MPO30_df, MPO31_df, MPO32_df, MPO33_df, MPO34_df, MPO35_df], axis=0)

---
## Parse FPO html docs

already in database. Commented out parsing.

In [49]:
# with open("FPO1.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# FPO1_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [50]:
# with open("FPO2.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# FPO2_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [51]:
# with open("FPO3.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# FPO3_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [52]:
# with open("FPO4.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# FPO4_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [53]:
# with open("FPO5.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# FPO5_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [54]:
# with open("FPO6.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')


# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# FPO6_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [55]:
# with open("FPO7.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# FPO7_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [56]:
# with open("FPO8.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# FPO8_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [57]:
# with open("FPO9.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# FPO9_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [58]:
# with open("FPO10.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# FPO10_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [59]:
# with open("FPO11.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# FPO11_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [60]:
# with open("FPO12.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# FPO12_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [61]:
# with open("FPO13.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# FPO13_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [62]:
# with open("FPO14.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# FPO14_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

In [63]:
# with open("FPO15.html") as fp:
#     soup = BeautifulSoup(fp, 'html.parser')

# names_t = soup.find_all('td', class_ = "views-field views-field-nothing player-name")
# names = []
# for entry in names_t:
#     name = entry.get_text()
#     names.append(name.strip('\n').strip())
    
# ids_t = soup.find_all('td', class_ = "views-field views-field-player-PDGANum views-align-center pdga-number")
# ids = []
# for entry in ids_t:
#     id = entry.get_text()
#     ids.append(id.strip('\n').strip())

# div_t = soup.find_all('td', class_ = "views-field views-field-Bracket")
# divs = []
# for entry in div_t:
#     div = entry.get_text()
#     divs.append(div.strip('\n').strip())

# countries_t = soup.find_all('td', class_ = "views-field views-field-player-Country")
# countries = []
# for entry in countries_t:
#     country = entry.get_text()
#     countries.append(country.strip('\n').strip())
    
# states_t = soup.find_all('td', class_ = "views-field views-field-player-AdministrativeArea")
# states = []
# for entry in states_t:
#     state = entry.get_text()
#     states.append(state.strip('\n').strip())
    
# FPO15_df = pd.DataFrame(list(zip(names, ids, divs, countries, states)), columns = ['name', 'id', 'division', 'country', 'state_province'])

---
## Combine data into FPO dataframe

In database already

In [64]:
# #Combine FPO DFs

# FPO_players_df = pd.concat([FPO1_df, FPO2_df, FPO3_df, FPO4_df, FPO5_df, FPO6_df, FPO7_df, FPO8_df, FPO9_df, FPO10_df, FPO11_df, FPO12_df, FPO13_df, FPO14_df, FPO15_df], axis=0)

---
## Combine into Players Dataframe

in database already

In [65]:
# #make players df


# players_df = pd.concat([FPO_players_df,MPO_players_df], axis=0)

___

# Load Tournaments

## Las Vegas Challenge

In [66]:
#Las Vegas Challenge

#to do: Check the number of divisions. If there are more than MPO and FPO, widdle down the records

#to do: change the URL
# event = requests.get('https://www.pdga.com/tour/event/47877')
# with open("LVC.html", "w") as f:
#     f.write(event.text)

with open("LVC.html") as ti:
    soup = BeautifulSoup(ti, 'html.parser')

#leave all this be...

places_t = soup.find_all('td', class_ = 'place')
places = []
for entry in places_t:
    place = entry.get_text()
    places.append(place)
    
ids_t = soup.find_all('td', class_ = 'pdga-number')
ids = []
for entry in ids_t:
    id = entry.get_text()
    ids.append(id)

pars_t = soup.find_all(True, {'class':['par under', 'par over', 'par', 'dnf']})
pars = []
for entry in pars_t:
    par = entry.get_text()
    if par == 'E':
        par = 0
    pars.append(par)
pars.remove('Par')
pars.remove('Par')

prizes_t = soup.find_all('td', class_ = 'prize')
prizes = []
for entry in prizes_t:
    prize = entry.get_text()
    if not prize:
        prize = '$0'
    prize = prize.replace(',', '')
    prize = prize.strip('$')
    prizes.append(prize)

totals_t = soup.find_all('td', class_ = 'total')
totals = []
for entry in totals_t:
    total = entry.get_text()
    totals.append(total)    


#to do: change the df name, change column names

LVC_df = pd.DataFrame(list(zip(places, ids, pars, prizes, totals)), columns = ['LVC_place', 'player_id', 'LVC_par', 'LVC_prize', 'total'])

#clean up DNFs. Putting in nulls instead of trash results.
#to do: change the df name, change column names

LVC_df.loc[LVC_df.total == 'DNF', 'LVC_place'] = np.nan
LVC_df.loc[LVC_df.total == 'DNF', 'LVC_par'] = np.nan
LVC_df.loc[LVC_df.total == 'DNF', 'LVC_prize'] = np.nan
LVC_df.loc[LVC_df.total == 'DNF', 'LVC_DNF'] = 'yes'
LVC_df.loc[LVC_df.total != 'DNF', 'LVC_DNF'] = 'no'


#drop total column
#to do: change the df name

LVC_df = LVC_df.drop(columns = 'total')

#to_do: widdle records down here if there is more than MPO and FPO...




#to do: merge with p_e using correct df name
#(commented out because in db already)

# players_events_df = players_df.merge(LVC_df, left_on = 'id', right_on = 'player_id', how = 'outer')


#players_events_df cleanup (no to-dos)...

    #worried about "settingwithcopy" warning (https://www.dataquest.io/blog/settingwithcopywarning/)
    #at the end... destroy the "player_id" column in p_e

    #Adding players who played in this event but are not in the dataframe yet
    #(commented out because in db already)


# players_events_df_nulls = players_events_df[players_events_df['name'].isnull()] #these are those players

#     #adding their name
# for ind in players_events_df_nulls.index:
#     player_page = "https://www.pdga.com/player/" + players_events_df_nulls['player_id'][ind]
#     player_get = requests.get(player_page)
#     soup = BeautifulSoup(player_get.content, 'html.parser')
#     name_t = soup.find(True, {'class' : ['panel-pane pane-page-title', 'panel-pane pane-page-title E']})
#     soup2 = BeautifulSoup(str(name_t), 'html.parser')
#     name_u = soup2.find('h1')
#     name_z = name_u.text
#     name_parts = name_z.split()
#     name = name_parts[0][0] + '.' + ' ' + name_parts[1]
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'name'] = name
    
#     #adding their id
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'id'] = players_events_df_nulls['player_id'][ind]
    
#     #adding their division
#     division_t = soup.find('td', class_ = 'division')
#     try:
#         division = division_t.get_text()
#     except:
#         continue
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'division'] = division.strip()

#     #adding their country
    
#     location_t = soup.find('li', class_ = 'location')
#     location_u = location_t.text
#     location_u_split = location_u.split(':')
#     location = location_u_split[1]
#     country_t = location.split(',')[2]
#     country_u = country_t.replace('Classification', '')
#     country = country_u.strip()
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'country'] = country

#     #adding their state_province
    
#     state_t = location.split(',')[1]
#     state = state_t.strip()
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'state_province'] = state

#and drop the player_id column

# players_events_df = players_events_df.drop(columns = 'player_id')



# #player cleanup. Played tourney but expired.(only LVC)

# players_events_df.loc[players_events_df.id == '19453', 'division'] = 'Open'
# players_events_df.loc[players_events_df.id == '19453', 'country'] = 'United States'
# players_events_df.loc[players_events_df.id == '19453', 'state_province'] = 'California'

# #change division entry names (nothing to do here)
# players_events_df = sqlit("SELECT name, id, REPLACE(division, 'Open Women', 'FPO') as division, country, state_province, LVC_place, LVC_par, LVC_prize, LVC_DNF FROM players_events_df")
# players_events_df = sqlit("SELECT name, id, REPLACE(division, 'Open', 'MPO') as division, country, state_province, LVC_place, LVC_par, LVC_prize, LVC_DNF FROM players_events_df")

#ADDING STATS

#TODO: change column names and values of best scores
# players_events_df.loc[players_events_df.division == 'MPO', 'LVC_par_best'] = -48
# players_events_df.loc[players_events_df.division == 'FPO', 'LVC_par_best'] = -25

# #find cash_std MPO LVC
# #TODO: change entries in SQL and array, and variable
# df = sqlit("SELECT name, division, LVC_par, LVC_prize from players_events_df WHERE division = 'MPO' AND LVC_prize IS NOT NULL AND LVC_prize != '0'")
# array = df['LVC_par'].to_numpy()
# array = array.astype(int)
# LVC_std_M = array.std()

# #set MPO cash_std LVC
# #TODO: change entries and variable
# players_events_df.loc[players_events_df.division == 'MPO', 'LVC_cash_std'] = LVC_std_M

# #find cash_std FPO LVC
# #TODO: change entries in SQL and array, and variable
# df = sqlit("SELECT name, division, LVC_par, LVC_prize from players_events_df WHERE division = 'FPO' AND LVC_prize IS NOT NULL AND LVC_prize != '0'")
# array = df['LVC_par'].to_numpy()
# array = array.astype(int)
# LVC_std_F = array.std()

# #set FPO cash_std LVC
# #TODO: change entries and variable
# players_events_df.loc[players_events_df.division == 'FPO', 'LVC_cash_std'] = LVC_std_F

# #Set std_away
# #TODO: change column names

# players_events_df['LVC_par'] = players_events_df['LVC_par'].astype(float)
# players_events_df['LVC_par_best'] = players_events_df['LVC_par_best'].astype(float)
# players_events_df['LVC_std_away'] = (players_events_df['LVC_par'] - players_events_df['LVC_par_best'])/players_events_df['LVC_cash_std']

---
## Waco Charity Open

In [67]:
#Waco Charity Open

#to do: Check the number of divisions. If there are more than MPO and FPO, widdle down the records

#to do: change the URL
# event = requests.get('https://www.pdga.com/tour/event/48685')
# with open("Waco.html", "w") as f:
#     f.write(event.text)

with open("Waco.html") as ti:
    soup = BeautifulSoup(ti, 'html.parser')

#leave all this be...

places_t = soup.find_all('td', class_ = 'place')
places = []
for entry in places_t:
    place = entry.get_text()
    places.append(place)
    
ids_t = soup.find_all('td', class_ = 'pdga-number')
ids = []
for entry in ids_t:
    id = entry.get_text()
    ids.append(id)

pars_t = soup.find_all(True, {'class':['par under', 'par over', 'par', 'dnf']})
pars = []
for entry in pars_t:
    par = entry.get_text()
    if par == 'E':
        par = 0
    pars.append(par)
pars.remove('Par')
pars.remove('Par')

prizes_t = soup.find_all('td', class_ = 'prize')
prizes = []
for entry in prizes_t:
    prize = entry.get_text()
    if not prize:
        prize = '$0'
    prize = prize.replace(',', '')
    prize = prize.strip('$')
    prizes.append(prize)

totals_t = soup.find_all('td', class_ = 'total')
totals = []
for entry in totals_t:
    total = entry.get_text()
    totals.append(total)    


#to do: change the df name, change column names

Waco_df = pd.DataFrame(list(zip(places, ids, pars, prizes, totals)), columns = ['Waco_place', 'player_id', 'Waco_par', 'Waco_prize', 'total'])

#clean up DNFs. Putting in nulls instead of trash results.
#to do: change the df name, change column names

Waco_df.loc[Waco_df.total == 'DNF', 'Waco_place'] = np.nan
Waco_df.loc[Waco_df.total == 'DNF', 'Waco_par'] = np.nan
Waco_df.loc[Waco_df.total == 'DNF', 'Waco_prize'] = np.nan
Waco_df.loc[Waco_df.total == 'DNF', 'Waco_DNF'] = 'yes'
Waco_df.loc[Waco_df.total != 'DNF', 'Waco_DNF'] = 'no'


#drop total column
#TODO: change the df name

Waco_df = Waco_df.drop(columns = 'total')

#TODO: widdle records down here if there is more than MPO and FPO...




# #TODO: merge with p_e using correct df name

# players_events_df = players_events_df.merge(Waco_df, left_on = 'id', right_on = 'player_id', how = 'outer')


# #players_events_df cleanup (no to-dos)...

#     #worried about "settingwithcopy" warning (https://www.dataquest.io/blog/settingwithcopywarning/)
#     #at the end... destroy the "player_id" column in p_e

#     #Adding players who played in this event but are not in the dataframe yet

# players_events_df_nulls = players_events_df[players_events_df['name'].isnull()] #these are those players

#     #adding their name
# for ind in players_events_df_nulls.index:
#     player_page = "https://www.pdga.com/player/" + players_events_df_nulls['player_id'][ind]
#     player_get = requests.get(player_page)
#     soup = BeautifulSoup(player_get.content, 'html.parser')
#     name_t = soup.find(True, {'class' : ['panel-pane pane-page-title', 'panel-pane pane-page-title E']})
#     soup2 = BeautifulSoup(str(name_t), 'html.parser')
#     name_u = soup2.find('h1')
#     name_z = name_u.text
#     name_parts = name_z.split()
#     name = name_parts[0][0] + '.' + ' ' + name_parts[1]
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'name'] = name
    
#     #adding their id
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'id'] = players_events_df_nulls['player_id'][ind]
    
#     #adding their division
#     division_t = soup.find('td', class_ = 'division')
#     try:
#         division = division_t.get_text()
#     except:
#         continue
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'division'] = division.strip()

#     #adding their country
    
#     location_t = soup.find('li', class_ = 'location')
#     location_u = location_t.text
#     location_u_split = location_u.split(':')
#     location = location_u_split[1]
#     country_t = location.split(',')[2]
#     country_u = country_t.replace('Classification', '')
#     country = country_u.strip()
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'country'] = country

#     #adding their state_province
    
#     state_t = location.split(',')[1]
#     state = state_t.strip()
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'state_province'] = state

# #and drop the player_id column

# players_events_df = players_events_df.drop(columns = 'player_id')


# #change division entry names (nothing to do here)
# players_events_df['division'] = sqlit("SELECT REPLACE(division, 'Open Women', 'FPO') as division FROM players_events_df")
# players_events_df['division'] = sqlit("SELECT REPLACE(division, 'Open', 'MPO') as division FROM players_events_df")


# #ADDING STATS

# #TODO: change column names and values of best scores
# players_events_df.loc[players_events_df.division == 'MPO', 'Waco_par_best'] = -26
# players_events_df.loc[players_events_df.division == 'FPO', 'Waco_par_best'] = -16

# #find cash_std MPO LVC
# #TODO: change entries in SQL and array, and variable
# df = sqlit("SELECT name, division, Waco_par, Waco_prize from players_events_df WHERE division = 'MPO' AND Waco_prize IS NOT NULL AND Waco_prize != '0'")
# array = df['Waco_par'].to_numpy()
# array = array.astype(int)
# Waco_std_M = array.std()

# #set MPO cash_std LVC
# #TODO: change entries and variable
# players_events_df.loc[players_events_df.division == 'MPO', 'Waco_cash_std'] = Waco_std_M

# #find cash_std FPO LVC
# #TODO: change entries in SQL and array, and variable
# df = sqlit("SELECT name, division, Waco_par, Waco_prize from players_events_df WHERE division = 'FPO' AND Waco_prize IS NOT NULL AND Waco_prize != '0'")
# array = df['Waco_par'].to_numpy()
# array = array.astype(int)
# Waco_std_F = array.std()

# #set FPO cash_std LVC
# #TODO: change entries and variable
# players_events_df.loc[players_events_df.division == 'FPO', 'Waco_cash_std'] = Waco_std_F

# #Set std_away
# #TODO: change column names

# players_events_df['Waco_par'] = players_events_df['Waco_par'].astype(float)
# players_events_df['Waco_par_best'] = players_events_df['Waco_par_best'].astype(float)
# players_events_df['Waco_std_away'] = (players_events_df['Waco_par'] - players_events_df['Waco_par_best'])/players_events_df['Waco_cash_std']

---
## Texas States

In [68]:
#Texas States

#to do: Check the number of divisions. If there are more than MPO and FPO, widdle down the records

#to do: change the URL
# event = requests.get('https://www.pdga.com/tour/event/47512')
# with open("Texas.html", "w") as f:
#     f.write(event.text)

with open("Texas.html") as ti:
    soup = BeautifulSoup(ti, 'html.parser')

#leave all this be...

places_t = soup.find_all('td', class_ = 'place')
places = []
for entry in places_t:
    place = entry.get_text()
    places.append(place)
    
ids_t = soup.find_all('td', class_ = 'pdga-number')
ids = []
for entry in ids_t:
    id = entry.get_text()
    ids.append(id)

pars_t = soup.find_all(True, {'class':['par under', 'par over', 'par', 'dnf']})
pars = []
for entry in pars_t:
    par = entry.get_text()
    if par == 'E':
        par = 0
    pars.append(par)
pars.remove('Par')
pars.remove('Par')

prizes_t = soup.find_all('td', class_ = 'prize')
prizes = []
for entry in prizes_t:
    prize = entry.get_text()
    if not prize:
        prize = '$0'
    prize = prize.replace(',', '')
    prize = prize.strip('$')
    prizes.append(prize)

totals_t = soup.find_all('td', class_ = 'total')
totals = []
for entry in totals_t:
    total = entry.get_text()
    totals.append(total)    


#to do: change the df name, change column names

Texas_df = pd.DataFrame(list(zip(places, ids, pars, prizes, totals)), columns = ['Texas_place', 'player_id', 'Texas_par', 'Texas_prize', 'total'])

#clean up DNFs. Putting in nulls instead of trash results.
#TODO: change the df name, change column names

Texas_df.loc[Texas_df.total == 'DNF', 'Texas_place'] = np.nan
Texas_df.loc[Texas_df.total == 'DNF', 'Texas_par'] = np.nan
Texas_df.loc[Texas_df.total == 'DNF', 'Texas_prize'] = np.nan
Texas_df.loc[Texas_df.total == 'DNF', 'Texas_DNF'] = 'yes'
Texas_df.loc[Texas_df.total != 'DNF', 'Texas_DNF'] = 'no'


#drop total column
#TODO: change the df name

Texas_df = Texas_df.drop(columns = 'total')

#TODO: widdle records down here if there is more than MPO and FPO...




#TODO: merge with p_e using correct df name

# players_events_df = players_events_df.merge(Texas_df, left_on = 'id', right_on = 'player_id', how = 'outer')

# #players_events_df cleanup (no to-dos)...

#     #worried about "settingwithcopy" warning (https://www.dataquest.io/blog/settingwithcopywarning/)
#     #at the end... destroy the "player_id" column in p_e

#     #Adding players who played in this event but are not in the dataframe yet

# players_events_df_nulls = players_events_df[players_events_df['name'].isnull()] #these are those players

#     #adding their name
# for ind in players_events_df_nulls.index:
#     try:
#         player_page = "https://www.pdga.com/player/" + players_events_df_nulls['player_id'][ind]
#     except:
#         continue
#     player_get = requests.get(player_page)
#     soup = BeautifulSoup(player_get.content, 'html.parser')
#     name_t = soup.find(True, {'class' : ['panel-pane pane-page-title', 'panel-pane pane-page-title E']})
#     soup2 = BeautifulSoup(str(name_t), 'html.parser')
#     name_u = soup2.find('h1')
#     try:
#         name_z = name_u.text
#     except:
#         continue
#     name_parts = name_z.split()
#     name = name_parts[0][0] + '.' + ' ' + name_parts[1]
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'name'] = name
    
#     #adding their id
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'id'] = players_events_df_nulls['player_id'][ind]
    
#     #adding their division
#     division_t = soup.find('td', class_ = 'division')
#     try:
#         division = division_t.get_text()
#     except:
#         continue
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'division'] = division.strip()

#     #adding their country
    
#     location_t = soup.find('li', class_ = 'location')
#     location_u = location_t.text
#     location_u_split = location_u.split(':')
#     location = location_u_split[1]
#     country_t = location.split(',')[2]
#     country_u = country_t.replace('Classification', '')
#     country = country_u.strip()
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'country'] = country

#     #adding their state_province
    
#     state_t = location.split(',')[1]
#     state = state_t.strip()
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'state_province'] = state

# #and drop the player_id column

# players_events_df = players_events_df.drop(columns = 'player_id')


# #change division entry names (nothing to do here)
# players_events_df['division'] = sqlit("SELECT REPLACE(division, 'Open Women', 'FPO') as division FROM players_events_df")
# players_events_df['division'] = sqlit("SELECT REPLACE(division, 'Open', 'MPO') as division FROM players_events_df")


# #Texas only player adds
# #TODO: DELETE THIS in new tourneys

# players_events_df.loc[(players_events_df.Texas_place == '112') & (players_events_df['id'].isnull()), 'id'] = '29107'
# players_events_df.loc[(players_events_df.Texas_place == '112') & (players_events_df['name'].isnull()), 'name'] = 'T. Koons'
# players_events_df.loc[(players_events_df.Texas_place == '112') & (players_events_df['division'].isnull()), 'division'] = 'MPO'
# players_events_df.loc[(players_events_df.Texas_place == '112') & (players_events_df['country'].isnull()), 'country'] = 'United States'
# players_events_df.loc[(players_events_df.Texas_place == '112') & (players_events_df['state_province'].isnull()), 'state_province'] = 'Texas'

# players_events_df.loc[(players_events_df.Texas_place == '133') & (players_events_df['id'].isnull()), 'id'] = '20766'
# players_events_df.loc[(players_events_df.Texas_place == '133') & (players_events_df['name'].isnull()), 'name'] = "B. O'Brien"
# players_events_df.loc[(players_events_df.Texas_place == '133') & (players_events_df['division'].isnull()), 'division'] = 'MPO'
# players_events_df.loc[(players_events_df.Texas_place == '133') & (players_events_df['country'].isnull()), 'country'] = 'United States'
# players_events_df.loc[(players_events_df.Texas_place == '133') & (players_events_df['state_province'].isnull()), 'state_province'] = 'Wisconsin'


# #ADDING STATS

# #TODO: change column names and values of best scores
# players_events_df.loc[players_events_df.division == 'MPO', 'Texas_par_best'] = -28
# players_events_df.loc[players_events_df.division == 'FPO', 'Texas_par_best'] = -7

# #find cash_std MPO LVC
# #TODO: change entries in SQL and array, and variable
# df = sqlit("SELECT name, division, Texas_par, Texas_prize from players_events_df WHERE division = 'MPO' AND Texas_prize IS NOT NULL AND Texas_prize != '0'")
# array = df['Texas_par'].to_numpy()
# array = array.astype(int)
# Texas_std_M = array.std()

# #set MPO cash_std LVC
# #TODO: change entries and variable
# players_events_df.loc[players_events_df.division == 'MPO', 'Texas_cash_std'] = Texas_std_M

# #find cash_std FPO LVC
# #TODO: change entries in SQL and array, and variable
# df = sqlit("SELECT name, division, Texas_par, Texas_prize from players_events_df WHERE division = 'FPO' AND Texas_prize IS NOT NULL AND Texas_prize != '0'")
# array = df['Texas_par'].to_numpy()
# array = array.astype(int)
# Texas_std_F = array.std()

# #set FPO cash_std LVC
# #TODO: change entries and variable
# players_events_df.loc[players_events_df.division == 'FPO', 'Texas_cash_std'] = Texas_std_F

# #Set std_away
# #TODO: change column names

# players_events_df['Texas_par'] = players_events_df['Texas_par'].astype(float)
# players_events_df['Texas_par_best'] = players_events_df['Texas_par_best'].astype(float)
# players_events_df['Texas_std_away'] = (players_events_df['Texas_par'] - players_events_df['Texas_par_best'])/players_events_df['Texas_cash_std']




# #Setting null DNFs

# #TODO add DNF to null list

# players_events_df.loc[players_events_df.LVC_DNF.isnull(), 'LVC_DNF'] = 'no'
# players_events_df.loc[players_events_df.Waco_DNF.isnull(), 'Waco_DNF'] = 'no'
# players_events_df.loc[players_events_df.Texas_DNF.isnull(), 'Texas_DNF'] = 'no'

---
## Jonesboro Open

In [69]:
#Play It Again Sports Jonesboro Open 

#to do: Check the number of divisions. If there are more than MPO and FPO, widdle down the records

#to do: change the URL
# event = requests.get('https://www.pdga.com/tour/event/48567')
# with open("JB.html", "w") as f:
#     f.write(event.text)

with open("JB.html") as ti:
    soup = BeautifulSoup(ti, 'html.parser')

#leave all this be...

places_t = soup.find_all('td', class_ = 'place')
places = []
for entry in places_t:
    place = entry.get_text()
    places.append(place)
    
ids_t = soup.find_all('td', class_ = 'pdga-number')
ids = []
for entry in ids_t:
    id = entry.get_text()
    ids.append(id)

pars_t = soup.find_all(True, {'class':['par under', 'par over', 'par', 'dnf']})
pars = []
for entry in pars_t:
    par = entry.get_text()
    if par == 'E':
        par = 0
    pars.append(par)
pars.remove('Par')
pars.remove('Par')

prizes_t = soup.find_all('td', class_ = 'prize')
prizes = []
for entry in prizes_t:
    prize = entry.get_text()
    if not prize:
        prize = '$0'
    prize = prize.replace(',', '')
    prize = prize.strip('$')
    prizes.append(prize)

totals_t = soup.find_all('td', class_ = 'total')
totals = []
for entry in totals_t:
    total = entry.get_text()
    totals.append(total)    


#to do: change the df name, change column names

JB_df = pd.DataFrame(list(zip(places, ids, pars, prizes, totals)), columns = ['JB_place', 'player_id', 'JB_par', 'JB_prize', 'total'])

#clean up DNFs. Putting in nulls instead of trash results.
#TODO: change the df name, change column names

JB_df.loc[JB_df.total == 'DNF', 'JB_place'] = np.nan
JB_df.loc[JB_df.total == 'DNF', 'JB_par'] = np.nan
JB_df.loc[JB_df.total == 'DNF', 'JB_prize'] = np.nan
JB_df.loc[JB_df.total == 'DNF', 'JB_DNF'] = 'yes'
JB_df.loc[JB_df.total != 'DNF', 'JB_DNF'] = 'no'


#drop total column
#TODO: change the df name

JB_df = JB_df.drop(columns = 'total')

#TODO: widdle records down here if there is more than MPO and FPO...




#TODO: merge with p_e using correct df name

# players_events_df = players_events_df.merge(JB_df, left_on = 'id', right_on = 'player_id', how = 'outer')

# #players_events_df cleanup (no to-dos)...

#     #worried about "settingwithcopy" warning (https://www.dataquest.io/blog/settingwithcopywarning/)
#     #at the end... destroy the "player_id" column in p_e

#     #Adding players who played in this event but are not in the dataframe yet

# players_events_df_nulls = players_events_df[players_events_df['name'].isnull()] #these are those players

#     #adding their name
# for ind in players_events_df_nulls.index:
#     try:
#         player_page = "https://www.pdga.com/player/" + players_events_df_nulls['player_id'][ind]
#     except:
#         continue
#     player_get = requests.get(player_page)
#     soup = BeautifulSoup(player_get.content, 'html.parser')
#     name_t = soup.find(True, {'class' : ['panel-pane pane-page-title', 'panel-pane pane-page-title E']})
#     soup2 = BeautifulSoup(str(name_t), 'html.parser')
#     name_u = soup2.find('h1')
#     try:
#         name_z = name_u.text
#     except:
#         continue
#     name_parts = name_z.split()
#     name = name_parts[0][0] + '.' + ' ' + name_parts[1]
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'name'] = name
    
#     #adding their id
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'id'] = players_events_df_nulls['player_id'][ind]
    
#     #adding their division
#     division_t = soup.find('td', class_ = 'division')
#     try:
#         division = division_t.get_text()
#     except:
#         continue
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'division'] = division.strip()

#     #adding their country
    
#     location_t = soup.find('li', class_ = 'location')
#     location_u = location_t.text
#     location_u_split = location_u.split(':')
#     location = location_u_split[1]
#     country_t = location.split(',')[2]
#     country_u = country_t.replace('Classification', '')
#     country = country_u.strip()
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'country'] = country

#     #adding their state_province
    
#     state_t = location.split(',')[1]
#     state = state_t.strip()
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'state_province'] = state

# #and drop the player_id column

# players_events_df = players_events_df.drop(columns = 'player_id')


# #change division entry names (nothing to do here)
# players_events_df['division'] = sqlit("SELECT REPLACE(division, 'Open Women', 'FPO') as division FROM players_events_df")
# players_events_df['division'] = sqlit("SELECT REPLACE(division, 'Open', 'MPO') as division FROM players_events_df")


# #ADDING STATS

# #TODO: change column names and values of best scores
# players_events_df.loc[players_events_df.division == 'MPO', 'JB_par_best'] = -35
# players_events_df.loc[players_events_df.division == 'FPO', 'JB_par_best'] = -23

# #find cash_std MPO
# #TODO: change entries in SQL and array, and variable
# df = sqlit("SELECT name, division, JB_par, JB_prize from players_events_df WHERE division = 'MPO' AND JB_prize IS NOT NULL AND JB_prize != '0'")
# array = df['JB_par'].to_numpy()
# array = array.astype(int)
# JB_std_M = array.std()

# #set MPO cash_std
# #TODO: change entries and variable
# players_events_df.loc[players_events_df.division == 'MPO', 'JB_cash_std'] = JB_std_M

# #find cash_std FPO
# #TODO: change entries in SQL and array, and variable
# df = sqlit("SELECT name, division, JB_par, JB_prize from players_events_df WHERE division = 'FPO' AND JB_prize IS NOT NULL AND JB_prize != '0'")
# array = df['JB_par'].to_numpy()
# array = array.astype(int)
# JB_std_F = array.std()

# #set FPO cash_std LVC
# #TODO: change entries and variable
# players_events_df.loc[players_events_df.division == 'FPO', 'JB_cash_std'] = JB_std_F

# #Set std_away
# #TODO: change column names

# players_events_df['JB_par'] = players_events_df['JB_par'].astype(float)
# players_events_df['JB_par_best'] = players_events_df['JB_par_best'].astype(float)
# players_events_df['JB_std_away'] = (players_events_df['JB_par'] - players_events_df['JB_par_best'])/players_events_df['JB_cash_std']




# #Setting null DNFs

# #TODO add DNF to null list

# players_events_df.loc[players_events_df.LVC_DNF.isnull(), 'LVC_DNF'] = 'no'
# players_events_df.loc[players_events_df.Waco_DNF.isnull(), 'Waco_DNF'] = 'no'
# players_events_df.loc[players_events_df.Texas_DNF.isnull(), 'Texas_DNF'] = 'no'
# players_events_df.loc[players_events_df.JB_DNF.isnull(), 'JB_DNF'] = 'no'

# #Events Played column

# #TODO add tourney to loop

# events_played_list = []
# for ind in players_events_df.index:
#     n = 0
#     if pd.notnull(players_events_df['LVC_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Waco_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Texas_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['JB_par'][ind]):
#         n += 1
#     events_played_list.append(n)
    
# players_events_df['events_played'] = events_played_list

# #Tournaments Loaded List

# #TODO: Add touney to list

# Tournaments_Loaded_list = [('Las Vegas Classic', 'NT', 'LVC'), ('Waco', 'NT', 'Waco'), ('Texas States', 'NT', 'Texas'), ('Jonesboro', 'NT', 'JB')]
# Tournaments_Loaded_df = pd.DataFrame(Tournaments_Loaded_list, columns = ['Tournament Loaded', 'Tier', 'Nickname'])
# Tournaments_Loaded_df

# #change places for non-attended events to "0"

# #TODO: add event to list

# players_events_df.loc[players_events_df.LVC_par.isnull(), 'LVC_place'] = 0
# players_events_df.loc[players_events_df.Waco_par.isnull(), 'Waco_place'] = 0
# players_events_df.loc[players_events_df.Texas_par.isnull(), 'Texas_place'] = 0
# players_events_df.loc[players_events_df.JB_par.isnull(), 'JB_place'] = 0

# #Compute average placement

# #TODO: add event to SQL

# ap_sql = sqlit("SELECT (CAST(LVC_place as int) + CAST(Waco_place as int) + CAST(Texas_place as int) + CAST(JB_place as int))/(events_played*1.0) as ap FROM players_events_df")
# ap_list = ap_sql['ap'].tolist()
# players_events_df['average_place'] = ap_list

---
## St. Patrick's Classic

In [70]:
#St. Patrick's Classic - Powered by Innova Champion Discs

#to do: Check the number of divisions. If there are more than MPO and FPO, widdle down the records

#to do: change the URL
# event = requests.get('https://www.pdga.com/tour/event/48664')
# with open("SP.html", "w") as f:
#     f.write(event.text)

with open("SP.html") as ti:
    soup = BeautifulSoup(ti, 'html.parser')

#leave all this be...


places_t = soup.find_all('td', class_ = 'place')
places = []
for entry in places_t:
    place = entry.get_text()
    places.append(place)
    
ids_t = soup.find_all('td', class_ = 'pdga-number')
ids = []
for entry in ids_t:
    id = entry.get_text()
    ids.append(id)

pars_t = soup.find_all(True, {'class':['par under', 'par over', 'par', 'dnf']})
pars = []
for entry in pars_t:
    par = entry.get_text()
    if par == 'E':
        par = 0
    pars.append(par)
pars.remove('Par')
pars.remove('Par')

prizes_t = soup.find_all('td', class_ = 'prize')
prizes = []
for entry in prizes_t:
    prize = entry.get_text()
    if not prize:
        prize = '$0'
    prize = prize.replace(',', '')
    prize = prize.strip('$')
    prizes.append(prize)

totals_t = soup.find_all('td', class_ = 'total')
totals = []
for entry in totals_t:
    total = entry.get_text()
    totals.append(total)    


#to do: change the df name, change column names

SP_df = pd.DataFrame(list(zip(places, ids, pars, prizes, totals)), columns = ['SP_place', 'player_id', 'SP_par', 'SP_prize', 'total'])

#clean up DNFs. Putting in nulls instead of trash results.
#TODO: change the df name, change column names

SP_df.loc[SP_df.total == 'DNF', 'SP_place'] = np.nan
SP_df.loc[SP_df.total == 'DNF', 'SP_par'] = np.nan
SP_df.loc[SP_df.total == 'DNF', 'SP_prize'] = np.nan
SP_df.loc[SP_df.total == 'DNF', 'SP_DNF'] = 'yes'
SP_df.loc[SP_df.total != 'DNF', 'SP_DNF'] = 'no'


#drop total column
#TODO: change the df name

SP_df = SP_df.drop(columns = 'total')

#TODO: widdle records down here if there is more than MPO and FPO...

SP_df = sqlit("SELECT * FROM SP_df LIMIT 90")


#TODO: merge with p_e using correct df name

# players_events_df = players_events_df.merge(SP_df, left_on = 'id', right_on = 'player_id', how = 'outer')

# #players_events_df cleanup (no to-dos)...

#     #worried about "settingwithcopy" warning (https://www.dataquest.io/blog/settingwithcopywarning/)
#     #at the end... destroy the "player_id" column in p_e

#     #Adding players who played in this event but are not in the dataframe yet

# players_events_df_nulls = players_events_df[players_events_df['name'].isnull()] #these are those players

#     #adding their name
# for ind in players_events_df_nulls.index:
#     try:
#         player_page = "https://www.pdga.com/player/" + players_events_df_nulls['player_id'][ind]
#     except:
#         continue
#     player_get = requests.get(player_page)
#     soup = BeautifulSoup(player_get.content, 'html.parser')
#     name_t = soup.find(True, {'class' : ['panel-pane pane-page-title', 'panel-pane pane-page-title E']})
#     soup2 = BeautifulSoup(str(name_t), 'html.parser')
#     name_u = soup2.find('h1')
#     try:
#         name_z = name_u.text
#     except:
#         continue
#     name_parts = name_z.split()
#     name = name_parts[0][0] + '.' + ' ' + name_parts[1]
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'name'] = name
    
#     #adding their id
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'id'] = players_events_df_nulls['player_id'][ind]
    
#     #adding their division
#     division_t = soup.find('td', class_ = 'division')
#     try:
#         division = division_t.get_text()
#     except:
#         continue
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'division'] = division.strip()

#     #adding their country
    
#     location_t = soup.find('li', class_ = 'location')
#     try:
#         location_u = location_t.text
#     except:
#         continue
#     location_u_split = location_u.split(':')
#     location = location_u_split[1]
#     country_t = location.split(',')[2]
#     country_u = country_t.replace('Classification', '')
#     country = country_u.strip()
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'country'] = country

#     #adding their state_province
    
#     state_t = location.split(',')[1]
#     state = state_t.strip()
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'state_province'] = state

# #and drop the player_id column

# players_events_df = players_events_df.drop(columns = 'player_id')


# #change division entry names (nothing to do here)
# players_events_df['division'] = sqlit("SELECT REPLACE(division, 'Open Women', 'FPO') as division FROM players_events_df")
# players_events_df['division'] = sqlit("SELECT REPLACE(division, 'Open', 'MPO') as division FROM players_events_df")

# #St. Patrick's ONLY player adds (DELETE THIS in new tournaments)

# players_events_df.loc[(players_events_df.SP_place == '40') & (players_events_df['id'].isnull()), 'id'] = '104063'
# players_events_df.loc[(players_events_df.SP_place == '40') & (players_events_df['name'].isnull()), 'name'] = "Z. Moore"
# players_events_df.loc[(players_events_df.SP_place == '40') & (players_events_df['division'].isnull()), 'division'] = 'MPO'
# players_events_df.loc[(players_events_df.SP_place == '40') & (players_events_df['country'].isnull()), 'country'] = 'United States'
# players_events_df.loc[(players_events_df.SP_place == '40') & (players_events_df['state_province'].isnull()), 'state_province'] = 'California'

# players_events_df.loc[(players_events_df.SP_place == '73') & (players_events_df['id'].isnull()), 'id'] = '150330'
# players_events_df.loc[(players_events_df.SP_place == '73') & (players_events_df['name'].isnull()), 'name'] = "L. Crossley"
# players_events_df.loc[(players_events_df.SP_place == '73') & (players_events_df['division'].isnull()), 'division'] = 'MPO'
# players_events_df.loc[(players_events_df.SP_place == '73') & (players_events_df['country'].isnull()), 'country'] = 'United States'
# players_events_df.loc[(players_events_df.SP_place == '73') & (players_events_df['state_province'].isnull()), 'state_province'] = 'California'


# #ADDING STATS

# #TODO: change column names and values of best scores
# players_events_df.loc[players_events_df.division == 'MPO', 'SP_par_best'] = -37
# players_events_df.loc[players_events_df.division == 'FPO', 'SP_par_best'] = -4

# #find cash_std MPO
# #TODO: change entries in SQL and array, and variable
# df = sqlit("SELECT name, division, SP_par, SP_prize from players_events_df WHERE division = 'MPO' AND SP_prize IS NOT NULL AND SP_prize != '0'")
# array = df['SP_par'].to_numpy()
# array = array.astype(int)
# SP_std_M = array.std()

# #set MPO cash_std
# #TODO: change entries and variable
# players_events_df.loc[players_events_df.division == 'MPO', 'SP_cash_std'] = SP_std_M

# #find cash_std FPO
# #TODO: change entries in SQL and array, and variable
# df = sqlit("SELECT name, division, SP_par, SP_prize from players_events_df WHERE division = 'FPO' AND SP_prize IS NOT NULL AND SP_prize != '0'")
# array = df['SP_par'].to_numpy()
# array = array.astype(int)
# SP_std_F = array.std()

# #set FPO cash_std LVC
# #TODO: change entries and variable
# players_events_df.loc[players_events_df.division == 'FPO', 'SP_cash_std'] = SP_std_F

# #Set std_away
# #TODO: change column names

# players_events_df['SP_par'] = players_events_df['SP_par'].astype(float)
# players_events_df['SP_par_best'] = players_events_df['SP_par_best'].astype(float)
# players_events_df['SP_std_away'] = (players_events_df['SP_par'] - players_events_df['SP_par_best'])/players_events_df['SP_cash_std']




# #Setting null DNFs

# #TODO add DNF to null list

# players_events_df.loc[players_events_df.LVC_DNF.isnull(), 'LVC_DNF'] = 'no'
# players_events_df.loc[players_events_df.Waco_DNF.isnull(), 'Waco_DNF'] = 'no'
# players_events_df.loc[players_events_df.Texas_DNF.isnull(), 'Texas_DNF'] = 'no'
# players_events_df.loc[players_events_df.JB_DNF.isnull(), 'JB_DNF'] = 'no'
# players_events_df.loc[players_events_df.SP_DNF.isnull(), 'SP_DNF'] = 'no'

# #Events Played column

# #TODO add tourney to loop

# events_played_list = []
# for ind in players_events_df.index:
#     n = 0
#     if pd.notnull(players_events_df['LVC_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Waco_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Texas_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['JB_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['SP_par'][ind]):
#         n += 1
#     events_played_list.append(n)
    
# players_events_df['events_played'] = events_played_list

# #Tournaments Loaded List

# #TODO: Add touney to list

# Tournaments_Loaded_list = [('Las Vegas Classic', 'NT', 'LVC'), ('Waco', 'NT', 'Waco'), ('Texas States', 'NT', 'Texas'), ('Jonesboro', 'NT', 'JB'), ('St. Patrick', 'A', 'SP')]
# Tournaments_Loaded_df = pd.DataFrame(Tournaments_Loaded_list, columns = ['Tournament Loaded', 'Tier', 'Nickname'])

# #change places for non-attended events to "0"

# #TODO: add event to list

# players_events_df.loc[players_events_df.LVC_par.isnull(), 'LVC_place'] = 0
# players_events_df.loc[players_events_df.Waco_par.isnull(), 'Waco_place'] = 0
# players_events_df.loc[players_events_df.Texas_par.isnull(), 'Texas_place'] = 0
# players_events_df.loc[players_events_df.JB_par.isnull(), 'JB_place'] = 0
# players_events_df.loc[players_events_df.SP_par.isnull(), 'SP_place'] = 0


# #change null cashes to '0'

# #TODO: add event to list

# players_events_df.loc[players_events_df.LVC_prize.isnull(), 'LVC_prize'] = 0
# players_events_df.loc[players_events_df.Waco_prize.isnull(), 'Waco_prize'] = 0
# players_events_df.loc[players_events_df.Texas_prize.isnull(), 'Texas_prize'] = 0
# players_events_df.loc[players_events_df.JB_prize.isnull(), 'JB_prize'] = 0
# players_events_df.loc[players_events_df.SP_prize.isnull(), 'SP_prize'] = 0



# #Compute average placement

# #TODO: add event to SQL

# ap_sql = sqlit("SELECT (CAST(LVC_place as int) + CAST(Waco_place as int) + CAST(Texas_place as int) + CAST(JB_place as int) + CAST(SP_place as int))/(events_played*1.0) as ap FROM players_events_df")
# ap_list = ap_sql['ap'].tolist()
# players_events_df['average_place'] = ap_list

---
## Sun King's Throwdown

In [71]:
#Discraft presents Sun King's Throw Down the Mountain IX (Weekend 3)

#to do: Check the number of divisions. If there are more than MPO and FPO, widdle down the records

#to do: change the URL
# event = requests.get('https://www.pdga.com/tour/event/48006')
# with open("SK.html", "w") as f:
#     f.write(event.text)

with open("SK.html") as ti:
    soup = BeautifulSoup(ti, 'html.parser')

#leave all this be...

places_t = soup.find_all('td', class_ = 'place')
places = []
for entry in places_t:
    place = entry.get_text()
    places.append(place)
    
ids_t = soup.find_all('td', class_ = 'pdga-number')
ids = []
for entry in ids_t:
    id = entry.get_text()
    ids.append(id)

pars_t = soup.find_all(True, {'class':['par under', 'par over', 'par', 'dnf']})
pars = []
for entry in pars_t:
    par = entry.get_text()
    if par == 'E':
        par = 0
    pars.append(par)
pars.remove('Par')
pars.remove('Par')

prizes_t = soup.find_all('td', class_ = 'prize')
prizes = []
for entry in prizes_t:
    prize = entry.get_text()
    if not prize:
        prize = '$0'
    prize = prize.replace(',', '')
    prize = prize.strip('$')
    prizes.append(prize)

totals_t = soup.find_all('td', class_ = 'total')
totals = []
for entry in totals_t:
    total = entry.get_text()
    totals.append(total)    


#to do: change the df name, change column names

SK_df = pd.DataFrame(list(zip(places, ids, pars, prizes, totals)), columns = ['SK_place', 'player_id', 'SK_par', 'SK_prize', 'total'])

#clean up DNFs. Putting in nulls instead of trash results.

#TODO: change the df name, change column names

SK_df.loc[SK_df.total == 'DNF', 'SK_place'] = np.nan
SK_df.loc[SK_df.total == 'DNF', 'SK_par'] = np.nan
SK_df.loc[SK_df.total == 'DNF', 'SK_prize'] = np.nan
SK_df.loc[SK_df.total == 'DNF', 'SK_DNF'] = 'yes'
SK_df.loc[SK_df.total != 'DNF', 'SK_DNF'] = 'no'


#drop total column

#TODO: change the df name

SK_df = SK_df.drop(columns = 'total')

#TODO: widdle records down here if there is more than MPO and FPO...

SK_df = sqlit("SELECT * FROM SK_df LIMIT 74")


#TODO: merge with p_e using correct df name

# players_events_df = players_events_df.merge(SK_df, left_on = 'id', right_on = 'player_id', how = 'outer')

# #players_events_df cleanup (no to-dos)...

#     #worried about "settingwithcopy" warning (https://www.dataquest.io/blog/settingwithcopywarning/)
#     #at the end... destroy the "player_id" column in p_e

#     #Adding players who played in this event but are not in the dataframe yet

# players_events_df_nulls = players_events_df[players_events_df['name'].isnull()] #these are those players

#     #adding their name
# for ind in players_events_df_nulls.index:
#     try:
#         player_page = "https://www.pdga.com/player/" + players_events_df_nulls['player_id'][ind]
#     except:
#         continue
#     player_get = requests.get(player_page)
#     soup = BeautifulSoup(player_get.content, 'html.parser')
#     name_t = soup.find(True, {'class' : ['panel-pane pane-page-title', 'panel-pane pane-page-title E']})
#     soup2 = BeautifulSoup(str(name_t), 'html.parser')
#     name_u = soup2.find('h1')
#     try:
#         name_z = name_u.text
#     except:
#         continue
#     name_parts = name_z.split()
#     name = name_parts[0][0] + '.' + ' ' + name_parts[1]
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'name'] = name
    
#     #adding their id
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'id'] = players_events_df_nulls['player_id'][ind]
    
#     #adding their division
#     division_t = soup.find('td', class_ = 'division')
#     try:
#         division = division_t.get_text()
#     except:
#         continue
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'division'] = division.strip()

#     #adding their country
    
#     location_t = soup.find('li', class_ = 'location')
#     location_u = location_t.text
#     location_u_split = location_u.split(':')
#     location = location_u_split[1]
#     country_t = location.split(',')[2]
#     country_u = country_t.replace('Classification', '')
#     country = country_u.strip()
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'country'] = country

#     #adding their state_province
    
#     state_t = location.split(',')[1]
#     state = state_t.strip()
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'state_province'] = state

# #and drop the player_id column

# players_events_df = players_events_df.drop(columns = 'player_id')


# #change division entry names (nothing to do here)
# players_events_df['division'] = sqlit("SELECT REPLACE(division, 'Open Women', 'FPO') as division FROM players_events_df")
# players_events_df['division'] = sqlit("SELECT REPLACE(division, 'Open', 'MPO') as division FROM players_events_df")

# #Player adds?





# #ADDING STATS

# #TODO: change column names and values of best scores
# players_events_df.loc[players_events_df.division == 'MPO', 'SK_par_best'] = -22
# players_events_df.loc[players_events_df.division == 'FPO', 'SK_par_best'] = -7

# #find cash_std MPO

# #TODO: change entries in SQL and array, and variable
# df = sqlit("SELECT name, division, SK_par, SK_prize from players_events_df WHERE division = 'MPO' AND SK_prize IS NOT NULL AND SK_prize != '0'")
# array = df['SK_par'].to_numpy()
# array = array.astype(int)
# SK_std_M = array.std()

# #set MPO cash_std

# #TODO: change entries and variable
# players_events_df.loc[players_events_df.division == 'MPO', 'SK_cash_std'] = SK_std_M

# #find cash_std FPO

# #TODO: change entries in SQL and array, and variable
# df = sqlit("SELECT name, division, SK_par, SK_prize from players_events_df WHERE division = 'FPO' AND SK_prize IS NOT NULL AND SK_prize != '0'")
# array = df['SK_par'].to_numpy()
# array = array.astype(int)
# SK_std_F = array.std()

# #set FPO cash_std LVC
# #TODO: change entries and variable
# players_events_df.loc[players_events_df.division == 'FPO', 'SK_cash_std'] = SK_std_F

# #Set std_away
# #TODO: change column names

# players_events_df['SK_par'] = players_events_df['SK_par'].astype(float)
# players_events_df['SK_par_best'] = players_events_df['SK_par_best'].astype(float)
# players_events_df['SK_std_away'] = (players_events_df['SK_par'] - players_events_df['SK_par_best'])/players_events_df['SK_cash_std']




# #Setting null DNFs

# #TODO add DNF to null list

# players_events_df.loc[players_events_df.LVC_DNF.isnull(), 'LVC_DNF'] = 'no'
# players_events_df.loc[players_events_df.Waco_DNF.isnull(), 'Waco_DNF'] = 'no'
# players_events_df.loc[players_events_df.Texas_DNF.isnull(), 'Texas_DNF'] = 'no'
# players_events_df.loc[players_events_df.JB_DNF.isnull(), 'JB_DNF'] = 'no'
# players_events_df.loc[players_events_df.SP_DNF.isnull(), 'SP_DNF'] = 'no'
# players_events_df.loc[players_events_df.SK_DNF.isnull(), 'SK_DNF'] = 'no'

# #Events Played column

# #TODO add tourney to loop

# events_played_list = []
# for ind in players_events_df.index:
#     n = 0
#     if pd.notnull(players_events_df['LVC_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Waco_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Texas_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['JB_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['SP_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['SK_par'][ind]):
#         n += 1
#     events_played_list.append(n)
    
# players_events_df['events_played'] = events_played_list

# #Tournaments Loaded List

# #TODO: Add touney to list

# Tournaments_Loaded_list = [('Las Vegas Classic', 'NT', 'LVC'), ('Waco', 'NT', 'Waco'), ('Texas States', 'NT', 'Texas'), ('Jonesboro', 'NT', 'JB'), ('St. Patrick', 'A', 'SP'), ('Sun Kings Throwdown', 'A', 'SK')]
# Tournaments_Loaded_df = pd.DataFrame(Tournaments_Loaded_list, columns = ['Tournament Loaded', 'Tier', 'Nickname'])

# #change places for non-attended events to "0"

# #TODO: add event to list

# players_events_df.loc[players_events_df.LVC_par.isnull(), 'LVC_place'] = 0
# players_events_df.loc[players_events_df.Waco_par.isnull(), 'Waco_place'] = 0
# players_events_df.loc[players_events_df.Texas_par.isnull(), 'Texas_place'] = 0
# players_events_df.loc[players_events_df.JB_par.isnull(), 'JB_place'] = 0
# players_events_df.loc[players_events_df.SP_par.isnull(), 'SP_place'] = 0
# players_events_df.loc[players_events_df.SK_par.isnull(), 'SK_place'] = 0


# #change null cashes to '0'

# #TODO: add event to list

# players_events_df.loc[players_events_df.LVC_prize.isnull(), 'LVC_prize'] = 0
# players_events_df.loc[players_events_df.Waco_prize.isnull(), 'Waco_prize'] = 0
# players_events_df.loc[players_events_df.Texas_prize.isnull(), 'Texas_prize'] = 0
# players_events_df.loc[players_events_df.JB_prize.isnull(), 'JB_prize'] = 0
# players_events_df.loc[players_events_df.SP_prize.isnull(), 'SP_prize'] = 0
# players_events_df.loc[players_events_df.SK_prize.isnull(), 'SK_prize'] = 0



# #Compute average placement

# #TODO: add event to SQL

# ap_sql = sqlit("SELECT (CAST(LVC_place as int) + CAST(Waco_place as int) + CAST(Texas_place as int) + CAST(JB_place as int) + CAST(SP_place as int)+ CAST(SK_place as int))/(events_played*1.0) as ap FROM players_events_df")
# ap_list = ap_sql['ap'].tolist()
# players_events_df['average_place'] = ap_list

# #Compute total cash

# #TODO: add event to equation

# players_events_df['total_cash'] = players_events_df.LVC_prize.astype(int) + players_events_df.Waco_prize.astype(int) + players_events_df.Texas_prize.astype(int) + players_events_df.JB_prize.astype(int)  + players_events_df.SP_prize.astype(int) + players_events_df.SK_prize.astype(int)

# #create player prize df

# #TODO: add event to sql

# player_prize_df = sqlit("SELECT name, id, events_played, LVC_prize, Waco_prize, Texas_prize, JB_prize, SP_prize, SK_prize, total_cash from players_events_df")

---
## Vintage Open

In [72]:
#The Vintage Open a DGPT Silver Series Event

#to do: Check the number of divisions. If there are more than MPO and FPO, widdle down the records

#to do: change the URL
# event = requests.get('https://www.pdga.com/tour/event/48119')
# with open("Vintage.html", "w") as f:
#     f.write(event.text)

with open("Vintage.html") as ti:
    soup = BeautifulSoup(ti, 'html.parser')

#leave all this be...

places_t = soup.find_all('td', class_ = 'place')
places = []
for entry in places_t:
    place = entry.get_text()
    places.append(place)
    
ids_t = soup.find_all('td', class_ = 'pdga-number')
ids = []
for entry in ids_t:
    id = entry.get_text()
    ids.append(id)

pars_t = soup.find_all(True, {'class':['par under', 'par over', 'par', 'dnf']})
pars = []
for entry in pars_t:
    par = entry.get_text()
    if par == 'E':
        par = 0
    pars.append(par)
pars.remove('Par')
pars.remove('Par')

prizes_t = soup.find_all('td', class_ = 'prize')
prizes = []
for entry in prizes_t:
    prize = entry.get_text()
    if not prize:
        prize = '$0'
    prize = prize.replace(',', '')
    prize = prize.strip('$')
    prizes.append(prize)

totals_t = soup.find_all('td', class_ = 'total')
totals = []
for entry in totals_t:
    total = entry.get_text()
    totals.append(total)    


#to do: change the df name, change column names

Vintage_df = pd.DataFrame(list(zip(places, ids, pars, prizes, totals)), columns = ['Vintage_place', 'player_id', 'Vintage_par', 'Vintage_prize', 'total'])

#clean up DNFs. Putting in nulls instead of trash results.

#TODO: change the df name, change column names

Vintage_df.loc[Vintage_df.total == 'DNF', 'Vintage_place'] = np.nan
Vintage_df.loc[Vintage_df.total == 'DNF', 'Vintage_par'] = np.nan
Vintage_df.loc[Vintage_df.total == 'DNF', 'Vintage_prize'] = np.nan
Vintage_df.loc[Vintage_df.total == 'DNF', 'Vintage_DNF'] = 'yes'
Vintage_df.loc[Vintage_df.total != 'DNF', 'Vintage_DNF'] = 'no'


#drop total column

#TODO: change the df name

Vintage_df = Vintage_df.drop(columns = 'total')

#TODO: widdle records down here if there is more than MPO and FPO...



#TODO: merge with p_e using correct df name

# players_events_df = players_events_df.merge(Vintage_df, left_on = 'id', right_on = 'player_id', how = 'outer')

# #players_events_df cleanup (no to-dos)...

#     #worried about "settingwithcopy" warning (https://www.dataquest.io/blog/settingwithcopywarning/)
#     #at the end... destroy the "player_id" column in p_e

#     #Adding players who played in this event but are not in the dataframe yet

# players_events_df_nulls = players_events_df[players_events_df['name'].isnull()] #these are those players

#     #adding their name
# for ind in players_events_df_nulls.index:
#     try:
#         player_page = "https://www.pdga.com/player/" + players_events_df_nulls['player_id'][ind]
#     except:
#         continue
#     player_get = requests.get(player_page)
#     soup = BeautifulSoup(player_get.content, 'html.parser')
#     name_t = soup.find(True, {'class' : ['panel-pane pane-page-title', 'panel-pane pane-page-title E']})
#     soup2 = BeautifulSoup(str(name_t), 'html.parser')
#     name_u = soup2.find('h1')
#     try:
#         name_z = name_u.text
#     except:
#         continue
#     name_parts = name_z.split()
#     name = name_parts[0][0] + '.' + ' ' + name_parts[1]
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'name'] = name
    
#     #adding their id
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'id'] = players_events_df_nulls['player_id'][ind]
    
#     #adding their division
#     division_t = soup.find('td', class_ = 'division')
#     try:
#         division = division_t.get_text()
#     except:
#         continue
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'division'] = division.strip()

#     #adding their country
    
#     location_t = soup.find('li', class_ = 'location')
#     location_u = location_t.text
#     location_u_split = location_u.split(':')
#     location = location_u_split[1]
#     country_t = location.split(',')[2]
#     country_u = country_t.replace('Classification', '')
#     country = country_u.strip()
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'country'] = country

#     #adding their state_province
    
#     state_t = location.split(',')[1]
#     state = state_t.strip()
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'state_province'] = state

# #and drop the player_id column

# players_events_df = players_events_df.drop(columns = 'player_id')


# #change division entry names (nothing to do here)
# players_events_df['division'] = sqlit("SELECT REPLACE(division, 'Open Women', 'FPO') as division FROM players_events_df")
# players_events_df['division'] = sqlit("SELECT REPLACE(division, 'Open', 'MPO') as division FROM players_events_df")

# #Player adds?





# #ADDING STATS

# #TODO: change column names and values of best scores
# players_events_df.loc[players_events_df.division == 'MPO', 'Vintage_par_best'] = -26
# players_events_df.loc[players_events_df.division == 'FPO', 'Vintage_par_best'] = -8

# #find cash_std MPO

# #TODO: change entries in SQL and array, and variable
# df = sqlit("SELECT name, division, Vintage_par, Vintage_prize from players_events_df WHERE division = 'MPO' AND Vintage_prize IS NOT NULL AND Vintage_prize != '0'")
# array = df['Vintage_par'].to_numpy()
# array = array.astype(int)
# Vintage_std_M = array.std()

# #set MPO cash_std

# #TODO: change entries and variable
# players_events_df.loc[players_events_df.division == 'MPO', 'Vintage_cash_std'] = Vintage_std_M

# #find cash_std FPO

# #TODO: change entries in SQL and array, and variable
# df = sqlit("SELECT name, division, Vintage_par, Vintage_prize from players_events_df WHERE division = 'FPO' AND Vintage_prize IS NOT NULL AND Vintage_prize != '0'")
# array = df['Vintage_par'].to_numpy()
# array = array.astype(int)
# Vintage_std_F = array.std()

# #set FPO cash_std LVC
# #TODO: change entries and variable
# players_events_df.loc[players_events_df.division == 'FPO', 'Vintage_cash_std'] = Vintage_std_F

# #Set std_away
# #TODO: change column names

# players_events_df['Vintage_par'] = players_events_df['Vintage_par'].astype(float)
# players_events_df['Vintage_par_best'] = players_events_df['Vintage_par_best'].astype(float)
# players_events_df['Vintage_std_away'] = (players_events_df['Vintage_par'] - players_events_df['Vintage_par_best'])/players_events_df['Vintage_cash_std']




# #Setting null DNFs

# #TODO add DNF to null list

# players_events_df.loc[players_events_df.LVC_DNF.isnull(), 'LVC_DNF'] = 'no'
# players_events_df.loc[players_events_df.Waco_DNF.isnull(), 'Waco_DNF'] = 'no'
# players_events_df.loc[players_events_df.Texas_DNF.isnull(), 'Texas_DNF'] = 'no'
# players_events_df.loc[players_events_df.JB_DNF.isnull(), 'JB_DNF'] = 'no'
# players_events_df.loc[players_events_df.SP_DNF.isnull(), 'SP_DNF'] = 'no'
# players_events_df.loc[players_events_df.SK_DNF.isnull(), 'SK_DNF'] = 'no'
# players_events_df.loc[players_events_df.Vintage_DNF.isnull(), 'Vintage_DNF'] = 'no'

# #Events Played column

# #TODO add tourney to loop

# events_played_list = []
# for ind in players_events_df.index:
#     n = 0
#     if pd.notnull(players_events_df['LVC_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Waco_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Texas_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['JB_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['SP_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['SK_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Vintage_par'][ind]):
#         n += 1
#     events_played_list.append(n)
    
# players_events_df['events_played'] = events_played_list

# #Tournaments Loaded List

# #TODO: Add touney to list

# Tournaments_Loaded_list = [('Las Vegas Classic', 'NT', 'LVC'), ('Waco', 'NT', 'Waco'), ('Texas States', 'NT', 'Texas'), ('Jonesboro', 'NT', 'JB'), ('St. Patrick', 'A', 'SP'), ('Sun Kings Throwdown', 'A', 'SK'), ('Vintage Open', 'A', 'Vintage')]
# Tournaments_Loaded_df = pd.DataFrame(Tournaments_Loaded_list, columns = ['Tournament Loaded', 'Tier', 'Nickname'])

# #change places for non-attended events to "0"

# #TODO: add event to list

# players_events_df.loc[players_events_df.LVC_par.isnull(), 'LVC_place'] = 0
# players_events_df.loc[players_events_df.Waco_par.isnull(), 'Waco_place'] = 0
# players_events_df.loc[players_events_df.Texas_par.isnull(), 'Texas_place'] = 0
# players_events_df.loc[players_events_df.JB_par.isnull(), 'JB_place'] = 0
# players_events_df.loc[players_events_df.SP_par.isnull(), 'SP_place'] = 0
# players_events_df.loc[players_events_df.SK_par.isnull(), 'SK_place'] = 0
# players_events_df.loc[players_events_df.Vintage_par.isnull(), 'Vintage_place'] = 0


# #change null cashes to '0'

# #TODO: add event to list

# players_events_df.loc[players_events_df.LVC_prize.isnull(), 'LVC_prize'] = 0
# players_events_df.loc[players_events_df.Waco_prize.isnull(), 'Waco_prize'] = 0
# players_events_df.loc[players_events_df.Texas_prize.isnull(), 'Texas_prize'] = 0
# players_events_df.loc[players_events_df.JB_prize.isnull(), 'JB_prize'] = 0
# players_events_df.loc[players_events_df.SP_prize.isnull(), 'SP_prize'] = 0
# players_events_df.loc[players_events_df.SK_prize.isnull(), 'SK_prize'] = 0
# players_events_df.loc[players_events_df.Vintage_prize.isnull(), 'Vintage_prize'] = 0



# #Compute average placement

# #TODO: add event to SQL

# ap_sql = sqlit("SELECT (CAST(LVC_place as int) + CAST(Waco_place as int) + CAST(Texas_place as int) + CAST(JB_place as int) + CAST(SP_place as int) + CAST(SK_place as int) + CAST(Vintage_place as int))/(events_played*1.0) as ap FROM players_events_df")
# ap_list = ap_sql['ap'].tolist()
# players_events_df['average_place'] = ap_list

# #Compute total cash

# #TODO: add event to equation

# players_events_df['total_cash'] = players_events_df.LVC_prize.astype(int) + players_events_df.Waco_prize.astype(int) + players_events_df.Texas_prize.astype(int) + players_events_df.JB_prize.astype(int)  + players_events_df.SP_prize.astype(int) + players_events_df.SK_prize.astype(int) + players_events_df.Vintage_prize.astype(int)

# #create player prize df

# #TODO: add event to sql

# player_prize_df = sqlit("SELECT name, id, events_played, LVC_prize, Waco_prize, Texas_prize, JB_prize, SP_prize, SK_prize, Vintage_prize, total_cash from players_events_df")

---
## Mid-America Open

In [73]:
#Joe Machens Toyota’s Mid America Open

#to do: Check the number of divisions. If there are more than MPO and FPO, widdle down the records

#to do: change the URL
# event = requests.get('https://www.pdga.com/tour/event/48121')
# with open("MAO.html", "w") as f:
#     f.write(event.text)

with open("MAO.html") as ti:
    soup = BeautifulSoup(ti, 'html.parser')

#leave all this be...

places_t = soup.find_all('td', class_ = 'place')
places = []
for entry in places_t:
    place = entry.get_text()
    places.append(place)
    
ids_t = soup.find_all('td', class_ = 'pdga-number')
ids = []
for entry in ids_t:
    id = entry.get_text()
    ids.append(id)

pars_t = soup.find_all(True, {'class':['par under', 'par over', 'par', 'dnf']})
pars = []
for entry in pars_t:
    par = entry.get_text()
    if par == 'E':
        par = 0
    pars.append(par)
pars.remove('Par')
pars.remove('Par')

prizes_t = soup.find_all('td', class_ = 'prize')
prizes = []
for entry in prizes_t:
    prize = entry.get_text()
    if not prize:
        prize = '$0'
    prize = prize.replace(',', '')
    prize = prize.strip('$')
    prizes.append(prize)

totals_t = soup.find_all('td', class_ = 'total')
totals = []
for entry in totals_t:
    total = entry.get_text()
    totals.append(total)    


#to do: change the df name, change column names

MAO_df = pd.DataFrame(list(zip(places, ids, pars, prizes, totals)), columns = ['MAO_place', 'player_id', 'MAO_par', 'MAO_prize', 'total'])

#clean up DNFs. Putting in nulls instead of trash results.

#TODO: change the df name, change column names

MAO_df.loc[MAO_df.total == 'DNF', 'MAO_place'] = np.nan
MAO_df.loc[MAO_df.total == 'DNF', 'MAO_par'] = np.nan
MAO_df.loc[MAO_df.total == 'DNF', 'MAO_prize'] = np.nan
MAO_df.loc[MAO_df.total == 'DNF', 'MAO_DNF'] = 'yes'
MAO_df.loc[MAO_df.total != 'DNF', 'MAO_DNF'] = 'no'


#drop total column

#TODO: change the df name

MAO_df = MAO_df.drop(columns = 'total')

#TODO: widdle records down here if there is more than MPO and FPO...



#TODO: merge with p_e using correct df name

# players_events_df = players_events_df.merge(MAO_df, left_on = 'id', right_on = 'player_id', how = 'outer')

# #players_events_df cleanup (no to-dos)...

#     #worried about "settingwithcopy" warning (https://www.dataquest.io/blog/settingwithcopywarning/)
#     #at the end... destroy the "player_id" column in p_e

#     #Adding players who played in this event but are not in the dataframe yet

# players_events_df_nulls = players_events_df[players_events_df['name'].isnull()] #these are those players

#     #adding their name
# for ind in players_events_df_nulls.index:
#     try:
#         player_page = "https://www.pdga.com/player/" + players_events_df_nulls['player_id'][ind]
#     except:
#         continue
#     player_get = requests.get(player_page)
#     soup = BeautifulSoup(player_get.content, 'html.parser')
#     name_t = soup.find(True, {'class' : ['panel-pane pane-page-title', 'panel-pane pane-page-title E']})
#     soup2 = BeautifulSoup(str(name_t), 'html.parser')
#     name_u = soup2.find('h1')
#     try:
#         name_z = name_u.text
#     except:
#         continue
#     name_parts = name_z.split()
#     name = name_parts[0][0] + '.' + ' ' + name_parts[1]
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'name'] = name
    
#     #adding their id
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'id'] = players_events_df_nulls['player_id'][ind]
    
#     #adding their division
#     division_t = soup.find('td', class_ = 'division')
#     try:
#         division = division_t.get_text()
#     except:
#         continue
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'division'] = division.strip()

#     #adding their country
    
#     location_t = soup.find('li', class_ = 'location')
#     location_u = location_t.text
#     location_u_split = location_u.split(':')
#     location = location_u_split[1]
#     country_t = location.split(',')[2]
#     country_u = country_t.replace('Classification', '')
#     country = country_u.strip()
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'country'] = country

#     #adding their state_province
    
#     state_t = location.split(',')[1]
#     state = state_t.strip()
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'state_province'] = state

# #and drop the player_id column

# players_events_df = players_events_df.drop(columns = 'player_id')


# #change division entry names (nothing to do here)
# players_events_df['division'] = sqlit("SELECT REPLACE(division, 'Open Women', 'FPO') as division FROM players_events_df")
# players_events_df['division'] = sqlit("SELECT REPLACE(division, 'Open', 'MPO') as division FROM players_events_df")

# #Player adds?





# #ADDING STATS

# #TODO: change column names and values of best scores
# players_events_df.loc[players_events_df.division == 'MPO', 'MAO_par_best'] = -27
# players_events_df.loc[players_events_df.division == 'FPO', 'MAO_par_best'] = +2

# #find cash_std MPO

# #TODO: change entries in SQL and array, and variable
# df = sqlit("SELECT name, division, MAO_par, MAO_prize from players_events_df WHERE division = 'MPO' AND MAO_prize IS NOT NULL AND MAO_prize != '0'")
# array = df['MAO_par'].to_numpy()
# array = array.astype(int)
# MAO_std_M = array.std()

# #set MPO cash_std

# #TODO: change entries and variable
# players_events_df.loc[players_events_df.division == 'MPO', 'MAO_cash_std'] = MAO_std_M

# #find cash_std FPO

# #TODO: change entries in SQL and array, and variable
# df = sqlit("SELECT name, division, MAO_par, MAO_prize from players_events_df WHERE division = 'FPO' AND MAO_prize IS NOT NULL AND MAO_prize != '0'")
# array = df['MAO_par'].to_numpy()
# array = array.astype(int)
# MAO_std_F = array.std()

# #set FPO cash_std LVC
# #TODO: change entries and variable
# players_events_df.loc[players_events_df.division == 'FPO', 'MAO_cash_std'] = MAO_std_F

# #Set std_away
# #TODO: change column names

# players_events_df['MAO_par'] = players_events_df['MAO_par'].astype(float)
# players_events_df['MAO_par_best'] = players_events_df['MAO_par_best'].astype(float)
# players_events_df['MAO_std_away'] = (players_events_df['MAO_par'] - players_events_df['MAO_par_best'])/players_events_df['MAO_cash_std']




# #Setting null DNFs

# #TODO add DNF to null list

# players_events_df.loc[players_events_df.LVC_DNF.isnull(), 'LVC_DNF'] = 'no'
# players_events_df.loc[players_events_df.Waco_DNF.isnull(), 'Waco_DNF'] = 'no'
# players_events_df.loc[players_events_df.Texas_DNF.isnull(), 'Texas_DNF'] = 'no'
# players_events_df.loc[players_events_df.JB_DNF.isnull(), 'JB_DNF'] = 'no'
# players_events_df.loc[players_events_df.SP_DNF.isnull(), 'SP_DNF'] = 'no'
# players_events_df.loc[players_events_df.SK_DNF.isnull(), 'SK_DNF'] = 'no'
# players_events_df.loc[players_events_df.Vintage_DNF.isnull(), 'Vintage_DNF'] = 'no'
# players_events_df.loc[players_events_df.MAO_DNF.isnull(), 'MAO_DNF'] = 'no'

# #Events Played column

# #TODO add tourney to loop

# events_played_list = []
# for ind in players_events_df.index:
#     n = 0
#     if pd.notnull(players_events_df['LVC_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Waco_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Texas_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['JB_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['SP_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['SK_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Vintage_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['MAO_par'][ind]):
#         n += 1
#     events_played_list.append(n)
    
# players_events_df['events_played'] = events_played_list

# #Tournaments Loaded List

# #TODO: Add touney to list

# Tournaments_Loaded_list = [('Las Vegas Classic', 'NT', 'LVC'), ('Waco', 'NT', 'Waco'), ('Texas States', 'NT', 'Texas'), ('Jonesboro', 'NT', 'JB'), ('St. Patrick', 'A', 'SP'), ('Sun Kings Throwdown', 'A', 'SK'), ('Vintage Open', 'A', 'Vintage'), ('Mid-America Open', 'A', 'MAO')]
# Tournaments_Loaded_df = pd.DataFrame(Tournaments_Loaded_list, columns = ['Tournament Loaded', 'Tier', 'Nickname'])

# #change places for non-attended events to "0"

# #TODO: add event to list

# players_events_df.loc[players_events_df.LVC_par.isnull(), 'LVC_place'] = 0
# players_events_df.loc[players_events_df.Waco_par.isnull(), 'Waco_place'] = 0
# players_events_df.loc[players_events_df.Texas_par.isnull(), 'Texas_place'] = 0
# players_events_df.loc[players_events_df.JB_par.isnull(), 'JB_place'] = 0
# players_events_df.loc[players_events_df.SP_par.isnull(), 'SP_place'] = 0
# players_events_df.loc[players_events_df.SK_par.isnull(), 'SK_place'] = 0
# players_events_df.loc[players_events_df.Vintage_par.isnull(), 'Vintage_place'] = 0
# players_events_df.loc[players_events_df.MAO_par.isnull(), 'MAO_place'] = 0



# #change null cashes to '0'

# #TODO: add event to list

# players_events_df.loc[players_events_df.LVC_prize.isnull(), 'LVC_prize'] = 0
# players_events_df.loc[players_events_df.Waco_prize.isnull(), 'Waco_prize'] = 0
# players_events_df.loc[players_events_df.Texas_prize.isnull(), 'Texas_prize'] = 0
# players_events_df.loc[players_events_df.JB_prize.isnull(), 'JB_prize'] = 0
# players_events_df.loc[players_events_df.SP_prize.isnull(), 'SP_prize'] = 0
# players_events_df.loc[players_events_df.SK_prize.isnull(), 'SK_prize'] = 0
# players_events_df.loc[players_events_df.Vintage_prize.isnull(), 'Vintage_prize'] = 0
# players_events_df.loc[players_events_df.MAO_prize.isnull(), 'MAO_prize'] = 0



# #Compute average placement

# #TODO: add event to SQL

# ap_sql = sqlit("SELECT (CAST(LVC_place as int) + CAST(Waco_place as int) + CAST(Texas_place as int) + CAST(JB_place as int) + CAST(SP_place as int) + CAST(SK_place as int) + CAST(Vintage_place as int) + CAST(MAO_place as int))/(events_played*1.0) as ap FROM players_events_df")
# ap_list = ap_sql['ap'].tolist()
# players_events_df['average_place'] = ap_list

# #Compute total cash

# #TODO: add event to equation

# players_events_df['total_cash'] = players_events_df.LVC_prize.astype(int) + players_events_df.Waco_prize.astype(int) + players_events_df.Texas_prize.astype(int) + players_events_df.JB_prize.astype(int)  + players_events_df.SP_prize.astype(int) + players_events_df.SK_prize.astype(int) + players_events_df.Vintage_prize.astype(int) + players_events_df.MAO_prize.astype(int)

# #create player prize df

# #TODO: add event to sql

# player_prize_df = sqlit("SELECT name, id, events_played, LVC_prize, Waco_prize, Texas_prize, JB_prize, SP_prize, SK_prize, Vintage_prize, MAO_prize, total_cash from players_events_df")

---
## Victoria Open

In [74]:
#The 38th Annual Victoria Open driven by Innova

#to do: Check the number of divisions. If there are more than MPO and FPO, widdle down the records

#to do: change the URL
# event = requests.get('https://www.pdga.com/tour/event/48009')
# with open("VO.html", "w") as f:
#     f.write(event.text)

with open("VO.html") as ti:
    soup = BeautifulSoup(ti, 'html.parser')

#leave all this be...

places_t = soup.find_all('td', class_ = 'place')
places = []
for entry in places_t:
    place = entry.get_text()
    places.append(place)
    
ids_t = soup.find_all('td', class_ = 'pdga-number')
ids = []
for entry in ids_t:
    id = entry.get_text()
    ids.append(id)

pars_t = soup.find_all(True, {'class':['par under', 'par over', 'par', 'dnf']})
pars = []
for entry in pars_t:
    par = entry.get_text()
    if par == 'E':
        par = 0
    pars.append(par)
pars.remove('Par')
pars.remove('Par')

prizes_t = soup.find_all('td', class_ = 'prize')
prizes = []
for entry in prizes_t:
    prize = entry.get_text()
    if not prize:
        prize = '$0'
    prize = prize.replace(',', '')
    prize = prize.strip('$')
    prizes.append(prize)

totals_t = soup.find_all('td', class_ = 'total')
totals = []
for entry in totals_t:
    total = entry.get_text()
    totals.append(total)    


#to do: change the df name, change column names

VO_df = pd.DataFrame(list(zip(places, ids, pars, prizes, totals)), columns = ['VO_place', 'player_id', 'VO_par', 'VO_prize', 'total'])

#clean up DNFs. Putting in nulls instead of trash results.

#TODO: change the df name, change column names

VO_df.loc[VO_df.total == 'DNF', 'VO_place'] = np.nan
VO_df.loc[VO_df.total == 'DNF', 'VO_par'] = np.nan
VO_df.loc[VO_df.total == 'DNF', 'VO_prize'] = np.nan
VO_df.loc[VO_df.total == 'DNF', 'VO_DNF'] = 'yes'
VO_df.loc[VO_df.total != 'DNF', 'VO_DNF'] = 'no'


#drop total column

#TODO: change the df name

VO_df = VO_df.drop(columns = 'total')

#TODO: widdle records down here if there is more than MPO and FPO...

VO_df = VO_df.head(45)

#TODO: merge with p_e using correct df name

# players_events_df = players_events_df.merge(VO_df, left_on = 'id', right_on = 'player_id', how = 'outer')

# #players_events_df cleanup (no to-dos)...

#     #worried about "settingwithcopy" warning (https://www.dataquest.io/blog/settingwithcopywarning/)
#     #at the end... destroy the "player_id" column in p_e

#     #Adding players who played in this event but are not in the dataframe yet

# players_events_df_nulls = players_events_df[players_events_df['name'].isnull()] #these are those players

#     #adding their name
# for ind in players_events_df_nulls.index:
#     try:
#         player_page = "https://www.pdga.com/player/" + players_events_df_nulls['player_id'][ind]
#     except:
#         continue
#     player_get = requests.get(player_page)
#     soup = BeautifulSoup(player_get.content, 'html.parser')
#     name_t = soup.find(True, {'class' : ['panel-pane pane-page-title', 'panel-pane pane-page-title E']})
#     soup2 = BeautifulSoup(str(name_t), 'html.parser')
#     name_u = soup2.find('h1')
#     try:
#         name_z = name_u.text
#     except:
#         continue
#     name_parts = name_z.split()
#     name = name_parts[0][0] + '.' + ' ' + name_parts[1]
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'name'] = name
    
#     #adding their id
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'id'] = players_events_df_nulls['player_id'][ind]
    
#     #adding their division
#     division_t = soup.find('td', class_ = 'division')
#     try:
#         division = division_t.get_text()
#     except:
#         continue
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'division'] = division.strip()

#     #adding their country
    
#     location_t = soup.find('li', class_ = 'location')
#     location_u = location_t.text
#     location_u_split = location_u.split(':')
#     location = location_u_split[1]
#     country_t = location.split(',')[2]
#     country_u = country_t.replace('Classification', '')
#     country = country_u.strip()
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'country'] = country

#     #adding their state_province
    
#     state_t = location.split(',')[1]
#     state = state_t.strip()
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'state_province'] = state

# #and drop the player_id column

# players_events_df = players_events_df.drop(columns = 'player_id')


# #change division entry names (nothing to do here)
# players_events_df['division'] = sqlit("SELECT REPLACE(division, 'Open Women', 'FPO') as division FROM players_events_df")
# players_events_df['division'] = sqlit("SELECT REPLACE(division, 'Open', 'MPO') as division FROM players_events_df")

# #Player adds?





# #ADDING STATS

# #TODO: change column names and values of best scores
# players_events_df.loc[players_events_df.division == 'MPO', 'VO_par_best'] = -15
# players_events_df.loc[players_events_df.division == 'FPO', 'VO_par_best'] = +5

# #find cash_std MPO

# #TODO: change entries in SQL and array, and variable
# df = sqlit("SELECT name, division, VO_par, VO_prize from players_events_df WHERE division = 'MPO' AND VO_prize IS NOT NULL AND VO_prize != '0'")
# array = df['VO_par'].to_numpy()
# array = array.astype(int)
# VO_std_M = array.std()

# #set MPO cash_std

# #TODO: change entries and variable
# players_events_df.loc[players_events_df.division == 'MPO', 'VO_cash_std'] = VO_std_M

# #find cash_std FPO

# #TODO: change entries in SQL and array, and variable
# df = sqlit("SELECT name, division, VO_par, VO_prize from players_events_df WHERE division = 'FPO' AND VO_prize IS NOT NULL AND VO_prize != '0'")
# array = df['VO_par'].to_numpy()
# array = array.astype(int)
# VO_std_F = array.std()

# #set FPO cash_std LVC
# #TODO: change entries and variable
# players_events_df.loc[players_events_df.division == 'FPO', 'VO_cash_std'] = VO_std_F

# #Set std_away
# #TODO: change column names

# players_events_df['VO_par'] = players_events_df['VO_par'].astype(float)
# players_events_df['VO_par_best'] = players_events_df['VO_par_best'].astype(float)
# players_events_df['VO_std_away'] = (players_events_df['VO_par'] - players_events_df['VO_par_best'])/players_events_df['VO_cash_std']




# #Setting null DNFs

# #TODO add DNF to null list

# players_events_df.loc[players_events_df.LVC_DNF.isnull(), 'LVC_DNF'] = 'no'
# players_events_df.loc[players_events_df.Waco_DNF.isnull(), 'Waco_DNF'] = 'no'
# players_events_df.loc[players_events_df.Texas_DNF.isnull(), 'Texas_DNF'] = 'no'
# players_events_df.loc[players_events_df.JB_DNF.isnull(), 'JB_DNF'] = 'no'
# players_events_df.loc[players_events_df.SP_DNF.isnull(), 'SP_DNF'] = 'no'
# players_events_df.loc[players_events_df.SK_DNF.isnull(), 'SK_DNF'] = 'no'
# players_events_df.loc[players_events_df.Vintage_DNF.isnull(), 'Vintage_DNF'] = 'no'
# players_events_df.loc[players_events_df.MAO_DNF.isnull(), 'MAO_DNF'] = 'no'
# players_events_df.loc[players_events_df.VO_DNF.isnull(), 'VO_DNF'] = 'no'



# #Events Played column

# #TODO add tourney to loop

# events_played_list = []
# for ind in players_events_df.index:
#     n = 0
#     if pd.notnull(players_events_df['LVC_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Waco_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Texas_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['JB_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['SP_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['SK_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Vintage_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['MAO_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['VO_par'][ind]):
#         n += 1
#     events_played_list.append(n)
    
# players_events_df['events_played'] = events_played_list

# #Tournaments Loaded List

# #TODO: Add touney to list

# Tournaments_Loaded_list = [('Las Vegas Classic', 'NT', 'LVC'), ('Waco', 'NT', 'Waco'), ('Texas States', 'NT', 'Texas'), ('Jonesboro', 'NT', 'JB'), ('St. Patrick', 'A', 'SP'), ('Sun Kings Throwdown', 'A', 'SK'), ('Vintage Open', 'A', 'Vintage'), ('Mid-America Open', 'A', 'MAO'), ('Victoria Open', 'A', 'VO')]
# Tournaments_Loaded_df = pd.DataFrame(Tournaments_Loaded_list, columns = ['Tournament Loaded', 'Tier', 'Nickname'])

# #change places for non-attended events to "0"

# #TODO: add event to list

# players_events_df.loc[players_events_df.LVC_par.isnull(), 'LVC_place'] = 0
# players_events_df.loc[players_events_df.Waco_par.isnull(), 'Waco_place'] = 0
# players_events_df.loc[players_events_df.Texas_par.isnull(), 'Texas_place'] = 0
# players_events_df.loc[players_events_df.JB_par.isnull(), 'JB_place'] = 0
# players_events_df.loc[players_events_df.SP_par.isnull(), 'SP_place'] = 0
# players_events_df.loc[players_events_df.SK_par.isnull(), 'SK_place'] = 0
# players_events_df.loc[players_events_df.Vintage_par.isnull(), 'Vintage_place'] = 0
# players_events_df.loc[players_events_df.MAO_par.isnull(), 'MAO_place'] = 0
# players_events_df.loc[players_events_df.VO_par.isnull(), 'VO_place'] = 0

# #LOOK AGAIN!

# #change null cashes to '0'

# #TODO: add event to list

# players_events_df.loc[players_events_df.LVC_prize.isnull(), 'LVC_prize'] = 0
# players_events_df.loc[players_events_df.Waco_prize.isnull(), 'Waco_prize'] = 0
# players_events_df.loc[players_events_df.Texas_prize.isnull(), 'Texas_prize'] = 0
# players_events_df.loc[players_events_df.JB_prize.isnull(), 'JB_prize'] = 0
# players_events_df.loc[players_events_df.SP_prize.isnull(), 'SP_prize'] = 0
# players_events_df.loc[players_events_df.SK_prize.isnull(), 'SK_prize'] = 0
# players_events_df.loc[players_events_df.Vintage_prize.isnull(), 'Vintage_prize'] = 0
# players_events_df.loc[players_events_df.MAO_prize.isnull(), 'MAO_prize'] = 0
# players_events_df.loc[players_events_df.VO_prize.isnull(), 'VO_prize'] = 0

# #LOOK AGAIN!

# #Compute average placement

# #TODO: add event to SQL

# ap_sql = sqlit("SELECT (CAST(LVC_place as int) + CAST(Waco_place as int) + CAST(Texas_place as int) + CAST(JB_place as int) + CAST(SP_place as int) + CAST(SK_place as int) + CAST(Vintage_place as int) + CAST(MAO_place as int) + CAST(VO_place as int))/(events_played*1.0) as ap FROM players_events_df")
# ap_list = ap_sql['ap'].tolist()
# players_events_df['average_place'] = ap_list

# #Compute total cash

# #TODO: add event to equation

# players_events_df['total_cash'] = players_events_df.LVC_prize.astype(int) + players_events_df.Waco_prize.astype(int) + players_events_df.Texas_prize.astype(int) + players_events_df.JB_prize.astype(int)  + players_events_df.SP_prize.astype(int) + players_events_df.SK_prize.astype(int) + players_events_df.Vintage_prize.astype(int) + players_events_df.MAO_prize.astype(int) + players_events_df.VO_prize.astype(int)

# #create player prize df

# #TODO: add event to sql

# player_prize_df = sqlit("SELECT name, id, events_played, LVC_prize, Waco_prize, Texas_prize, JB_prize, SP_prize, SK_prize, Vintage_prize, MAO_prize, VO_prize, total_cash from players_events_df")

---
## Memorial Championship

In [75]:
#Memorial Championship presented by Discraft

#to do: Check the number of divisions. If there are more than MPO and FPO, widdle down the records

#to do: change the URL
# event = requests.get('https://www.pdga.com/tour/event/48068')
# with open("Memorial.html", "w") as f:
#     f.write(event.text)

with open("Memorial.html") as ti:
    soup = BeautifulSoup(ti, 'html.parser')

#leave all this be...

places_t = soup.find_all('td', class_ = 'place')
places = []
for entry in places_t:
    place = entry.get_text()
    places.append(place)
    
ids_t = soup.find_all('td', class_ = 'pdga-number')
ids = []
for entry in ids_t:
    id = entry.get_text()
    ids.append(id)

pars_t = soup.find_all(True, {'class':['par under', 'par over', 'par', 'dnf']})
pars = []
for entry in pars_t:
    par = entry.get_text()
    if par == 'E':
        par = 0
    pars.append(par)
pars.remove('Par')
pars.remove('Par')

prizes_t = soup.find_all('td', class_ = 'prize')
prizes = []
for entry in prizes_t:
    prize = entry.get_text()
    if not prize:
        prize = '$0'
    prize = prize.replace(',', '')
    prize = prize.strip('$')
    prizes.append(prize)

totals_t = soup.find_all('td', class_ = 'total')
totals = []
for entry in totals_t:
    total = entry.get_text()
    totals.append(total)    


#to do: change the df name, change column names

Memorial_df = pd.DataFrame(list(zip(places, ids, pars, prizes, totals)), columns = ['Memorial_place', 'player_id', 'Memorial_par', 'Memorial_prize', 'total'])

#clean up DNFs. Putting in nulls instead of trash results.

#TODO: change the df name, change column names

Memorial_df.loc[Memorial_df.total == 'DNF', 'Memorial_place'] = np.nan
Memorial_df.loc[Memorial_df.total == 'DNF', 'Memorial_par'] = np.nan
Memorial_df.loc[Memorial_df.total == 'DNF', 'Memorial_prize'] = np.nan
Memorial_df.loc[Memorial_df.total == 'DNF', 'Memorial_DNF'] = 'yes'
Memorial_df.loc[Memorial_df.total != 'DNF', 'Memorial_DNF'] = 'no'


#drop total column

#TODO: change the df name

Memorial_df = Memorial_df.drop(columns = 'total')

#TODO: widdle records down here if there is more than MPO and FPO...

Memorial_df = Memorial_df.head(122)

#TODO: merge with p_e using correct df name

# players_events_df = players_events_df.merge(Memorial_df, left_on = 'id', right_on = 'player_id', how = 'outer')

# #players_events_df cleanup (no to-dos)...

#     #worried about "settingwithcopy" warning (https://www.dataquest.io/blog/settingwithcopywarning/)
#     #at the end... destroy the "player_id" column in p_e

#     #Adding players who played in this event but are not in the dataframe yet

# players_events_df_nulls = players_events_df[players_events_df['name'].isnull()] #these are those players

#     #adding their name
# for ind in players_events_df_nulls.index:
#     try:
#         player_page = "https://www.pdga.com/player/" + players_events_df_nulls['player_id'][ind]
#     except:
#         continue
#     player_get = requests.get(player_page)
#     soup = BeautifulSoup(player_get.content, 'html.parser')
#     name_t = soup.find(True, {'class' : ['panel-pane pane-page-title', 'panel-pane pane-page-title E']})
#     soup2 = BeautifulSoup(str(name_t), 'html.parser')
#     name_u = soup2.find('h1')
#     try:
#         name_z = name_u.text
#     except:
#         continue
#     name_parts = name_z.split()
#     name = name_parts[0][0] + '.' + ' ' + name_parts[1]
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'name'] = name
    
#     #adding their id
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'id'] = players_events_df_nulls['player_id'][ind]
    
#     #adding their division
#     division_t = soup.find('td', class_ = 'division')
#     try:
#         division = division_t.get_text()
#     except:
#         continue
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'division'] = division.strip()

#     #adding their country
    
#     location_t = soup.find('li', class_ = 'location')
#     location_u = location_t.text
#     location_u_split = location_u.split(':')
#     location = location_u_split[1]
#     country_t = location.split(',')[2]
#     country_u = country_t.replace('Classification', '')
#     country = country_u.strip()
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'country'] = country

#     #adding their state_province
    
#     state_t = location.split(',')[1]
#     state = state_t.strip()
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'state_province'] = state

# #and drop the player_id column

# players_events_df = players_events_df.drop(columns = 'player_id')


# #change division entry names (nothing to do here)
# players_events_df['division'] = sqlit("SELECT REPLACE(division, 'Open Women', 'FPO') as division FROM players_events_df")
# players_events_df['division'] = sqlit("SELECT REPLACE(division, 'Open', 'MPO') as division FROM players_events_df")

# #Player adds?





# #ADDING STATS

# #TODO: change column names and values of best scores
# players_events_df.loc[players_events_df.division == 'MPO', 'Memorial_par_best'] = -42
# players_events_df.loc[players_events_df.division == 'FPO', 'Memorial_par_best'] = -5

# #find cash_std MPO

# #TODO: change entries in SQL and array, and variable
# df = sqlit("SELECT name, division, Memorial_par, Memorial_prize from players_events_df WHERE division = 'MPO' AND Memorial_prize IS NOT NULL AND Memorial_prize != '0'")
# array = df['Memorial_par'].to_numpy()
# array = array.astype(int)
# Memorial_std_M = array.std()

# #set MPO cash_std

# #TODO: change entries and variable
# players_events_df.loc[players_events_df.division == 'MPO', 'Memorial_cash_std'] = Memorial_std_M

# #find cash_std FPO

# #TODO: change entries in SQL and array, and variable
# df = sqlit("SELECT name, division, Memorial_par, Memorial_prize from players_events_df WHERE division = 'FPO' AND Memorial_prize IS NOT NULL AND Memorial_prize != '0'")
# array = df['Memorial_par'].to_numpy()
# array = array.astype(int)
# Memorial_std_F = array.std()

# #set FPO cash_std LVC
# #TODO: change entries and variable
# players_events_df.loc[players_events_df.division == 'FPO', 'Memorial_cash_std'] = Memorial_std_F

# #Set std_away
# #TODO: change column names

# players_events_df['Memorial_par'] = players_events_df['Memorial_par'].astype(float)
# players_events_df['Memorial_par_best'] = players_events_df['Memorial_par_best'].astype(float)
# players_events_df['Memorial_std_away'] = (players_events_df['Memorial_par'] - players_events_df['Memorial_par_best'])/players_events_df['Memorial_cash_std']




# #Setting null DNFs

# #TODO add DNF to null list

# players_events_df.loc[players_events_df.LVC_DNF.isnull(), 'LVC_DNF'] = 'no'
# players_events_df.loc[players_events_df.Waco_DNF.isnull(), 'Waco_DNF'] = 'no'
# players_events_df.loc[players_events_df.Texas_DNF.isnull(), 'Texas_DNF'] = 'no'
# players_events_df.loc[players_events_df.JB_DNF.isnull(), 'JB_DNF'] = 'no'
# players_events_df.loc[players_events_df.SP_DNF.isnull(), 'SP_DNF'] = 'no'
# players_events_df.loc[players_events_df.SK_DNF.isnull(), 'SK_DNF'] = 'no'
# players_events_df.loc[players_events_df.Vintage_DNF.isnull(), 'Vintage_DNF'] = 'no'
# players_events_df.loc[players_events_df.MAO_DNF.isnull(), 'MAO_DNF'] = 'no'
# players_events_df.loc[players_events_df.VO_DNF.isnull(), 'VO_DNF'] = 'no'
# players_events_df.loc[players_events_df.Memorial_DNF.isnull(), 'Memorial_DNF'] = 'no'



# #Events Played column

# #TODO add tourney to loop

# events_played_list = []
# for ind in players_events_df.index:
#     n = 0
#     if pd.notnull(players_events_df['LVC_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Waco_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Texas_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['JB_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['SP_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['SK_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Vintage_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['MAO_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['VO_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Memorial_par'][ind]):
#         n += 1
#     events_played_list.append(n)
    
# players_events_df['events_played'] = events_played_list

# #Tournaments Loaded List

# #TODO: Add touney to list

# Tournaments_Loaded_list = [('Las Vegas Classic', 'NT', 'LVC'), ('Waco', 'NT', 'Waco'), ('Texas States', 'NT', 'Texas'), ('Jonesboro', 'NT', 'JB'), ('St. Patrick', 'A', 'SP'), ('Sun Kings Throwdown', 'A', 'SK'), ('Vintage Open', 'A', 'Vintage'), ('Mid-America Open', 'A', 'MAO'), ('Victoria Open', 'A', 'VO'), ('Memorial Open', 'A', 'Memorial')]
# Tournaments_Loaded_df = pd.DataFrame(Tournaments_Loaded_list, columns = ['Tournament Loaded', 'Tier', 'Nickname'])

# #change places for non-attended events to "0"

# #TODO: add event to list

# players_events_df.loc[players_events_df.LVC_par.isnull(), 'LVC_place'] = 0
# players_events_df.loc[players_events_df.Waco_par.isnull(), 'Waco_place'] = 0
# players_events_df.loc[players_events_df.Texas_par.isnull(), 'Texas_place'] = 0
# players_events_df.loc[players_events_df.JB_par.isnull(), 'JB_place'] = 0
# players_events_df.loc[players_events_df.SP_par.isnull(), 'SP_place'] = 0
# players_events_df.loc[players_events_df.SK_par.isnull(), 'SK_place'] = 0
# players_events_df.loc[players_events_df.Vintage_par.isnull(), 'Vintage_place'] = 0
# players_events_df.loc[players_events_df.MAO_par.isnull(), 'MAO_place'] = 0
# players_events_df.loc[players_events_df.VO_par.isnull(), 'VO_place'] = 0
# players_events_df.loc[players_events_df.Memorial_par.isnull(), 'Memorial_place'] = 0


# #LOOK AGAIN!

# #change null cashes to '0'

# #TODO: add event to list

# players_events_df.loc[players_events_df.LVC_prize.isnull(), 'LVC_prize'] = 0
# players_events_df.loc[players_events_df.Waco_prize.isnull(), 'Waco_prize'] = 0
# players_events_df.loc[players_events_df.Texas_prize.isnull(), 'Texas_prize'] = 0
# players_events_df.loc[players_events_df.JB_prize.isnull(), 'JB_prize'] = 0
# players_events_df.loc[players_events_df.SP_prize.isnull(), 'SP_prize'] = 0
# players_events_df.loc[players_events_df.SK_prize.isnull(), 'SK_prize'] = 0
# players_events_df.loc[players_events_df.Vintage_prize.isnull(), 'Vintage_prize'] = 0
# players_events_df.loc[players_events_df.MAO_prize.isnull(), 'MAO_prize'] = 0
# players_events_df.loc[players_events_df.VO_prize.isnull(), 'VO_prize'] = 0
# players_events_df.loc[players_events_df.Memorial_prize.isnull(), 'Memorial_prize'] = 0


# #LOOK AGAIN!

# #Compute average placement

# #TODO: add event to SQL

# ap_sql = sqlit("SELECT (CAST(LVC_place as int) + CAST(Waco_place as int) + CAST(Texas_place as int) + CAST(JB_place as int) + CAST(SP_place as int) + CAST(SK_place as int) + CAST(Vintage_place as int) + CAST(MAO_place as int) + CAST(VO_place as int) + CAST(Memorial_place as int))/(events_played*1.0) as ap FROM players_events_df")
# ap_list = ap_sql['ap'].tolist()
# players_events_df['average_place'] = ap_list

# #Compute total cash

# #TODO: add event to equation

# players_events_df['total_cash'] = players_events_df.LVC_prize.astype(int) + players_events_df.Waco_prize.astype(int) + players_events_df.Texas_prize.astype(int) + players_events_df.JB_prize.astype(int)  + players_events_df.SP_prize.astype(int) + players_events_df.SK_prize.astype(int) + players_events_df.Vintage_prize.astype(int) + players_events_df.MAO_prize.astype(int) + players_events_df.VO_prize.astype(int) + players_events_df.Memorial_prize.astype(int)

# #create player prize df

# #TODO: add event to sql

# player_prize_df = sqlit("SELECT name, id, events_played, LVC_prize, Waco_prize, Texas_prize, JB_prize, SP_prize, SK_prize, Vintage_prize, MAO_prize, VO_prize, Memorial_prize, total_cash, total_cash/events_played as avg_cash from players_events_df ORDER BY total_cash DESC")

---
## Paradise Plates

In [76]:
#2021 Paradise Plates, New Zealand Disc Golf Nationals

#to do: Check the number of divisions. If there are more than MPO and FPO, widdle down the records

#to do: change the URL
# event = requests.get('https://www.pdga.com/tour/event/48020')
# with open("Paradise.html", "w") as f:
#     f.write(event.text)

with open("Paradise.html") as ti:
    soup = BeautifulSoup(ti, 'html.parser')

#leave all this be...

places_t = soup.find_all('td', class_ = 'place')
places = []
for entry in places_t:
    place = entry.get_text()
    places.append(place)
    
ids_t = soup.find_all('td', class_ = 'pdga-number')
ids = []
for entry in ids_t:
    id = entry.get_text()
    ids.append(id)

pars_t = soup.find_all(True, {'class':['par under', 'par over', 'par', 'dnf']})
pars = []
for entry in pars_t:
    par = entry.get_text()
    if par == 'E':
        par = 0
    pars.append(par)
pars.remove('Par')
pars.remove('Par')

prizes_t = soup.find_all('td', class_ = 'prize')
prizes = []
for entry in prizes_t:
    prize = entry.get_text()
    if not prize:
        prize = '$0'
    prize = prize.replace(',', '')
    prize = prize.strip('$')
    prizes.append(prize)

totals_t = soup.find_all('td', class_ = 'total')
totals = []
for entry in totals_t:
    total = entry.get_text()
    totals.append(total)    


#to do: change the df name, change column names

Paradise_df = pd.DataFrame(list(zip(places, ids, pars, prizes, totals)), columns = ['Paradise_place', 'player_id', 'Paradise_par', 'Paradise_prize', 'total'])

#clean up DNFs. Putting in nulls instead of trash results.

#TODO: change the df name, change column names

Paradise_df.loc[Paradise_df.total == 'DNF', 'Paradise_place'] = np.nan
Paradise_df.loc[Paradise_df.total == 'DNF', 'Paradise_par'] = np.nan
Paradise_df.loc[Paradise_df.total == 'DNF', 'Paradise_prize'] = np.nan
Paradise_df.loc[Paradise_df.total == 'DNF', 'Paradise_DNF'] = 'yes'
Paradise_df.loc[Paradise_df.total != 'DNF', 'Paradise_DNF'] = 'no'


#drop total column

#TODO: change the df name

Paradise_df = Paradise_df.drop(columns = 'total')

#TODO: widdle records down here if there is more than MPO and FPO...

Paradise_df = Paradise_df.head(37)

#TODO: merge with p_e using correct df name

# players_events_df = players_events_df.merge(Paradise_df, left_on = 'id', right_on = 'player_id', how = 'outer')

# #players_events_df cleanup (no to-dos)...

#     #worried about "settingwithcopy" warning (https://www.dataquest.io/blog/settingwithcopywarning/)
#     #at the end... destroy the "player_id" column in p_e

#     #Adding players who played in this event but are not in the dataframe yet

# players_events_df_nulls = players_events_df[players_events_df['name'].isnull()] #these are those players

#     #adding their name
# for ind in players_events_df_nulls.index:
#     try:
#         player_page = "https://www.pdga.com/player/" + players_events_df_nulls['player_id'][ind]
#     except:
#         continue
#     player_get = requests.get(player_page)
#     soup = BeautifulSoup(player_get.content, 'html.parser')
#     name_t = soup.find(True, {'class' : ['panel-pane pane-page-title', 'panel-pane pane-page-title E']})
#     soup2 = BeautifulSoup(str(name_t), 'html.parser')
#     name_u = soup2.find('h1')
#     try:
#         name_z = name_u.text
#     except:
#         continue
#     name_parts = name_z.split()
#     name = name_parts[0][0] + '.' + ' ' + name_parts[1]
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'name'] = name
    
#     #adding their id
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'id'] = players_events_df_nulls['player_id'][ind]
    
#     #adding their division
#     division_t = soup.find('td', class_ = 'division')
#     try:
#         division = division_t.get_text()
#     except:
#         continue
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'division'] = division.strip()

#     #adding their country
    
#     location_t = soup.find('li', class_ = 'location')
#     location_u = location_t.text
#     location_u_split = location_u.split(':')
#     location = location_u_split[1]
#     country_t = location.split(',')[-1]
#     country_u = country_t.replace('Classification', '')
#     country = country_u.strip()
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'country'] = country

#     #adding their state_province
    
#     state_t = location.split(',')[-2]
#     state = state_t.strip()
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'state_province'] = state

# #and drop the player_id column

# players_events_df = players_events_df.drop(columns = 'player_id')


# #change division entry names (nothing to do here)
# players_events_df['division'] = sqlit("SELECT REPLACE(division, 'Open Women', 'FPO') as division FROM players_events_df")
# players_events_df['division'] = sqlit("SELECT REPLACE(division, 'Open', 'MPO') as division FROM players_events_df")

# #Player adds?

# columns = ['name', 'id', 'division', 'country']
# info = ['J Kato', '115796', 'MPO', 'New Zealand']
# players_events_df.loc[players_events_df.Paradise_place == '31', columns] = info



# #ADDING STATS

# #TODO: change column names and values of best scores
# players_events_df.loc[players_events_df.division == 'MPO', 'Paradise_par_best'] = -25
# players_events_df.loc[players_events_df.division == 'FPO', 'Paradise_par_best'] = +9

# #find cash_std MPO

# #TODO: change entries in SQL and array, and variable
# df = sqlit("SELECT name, division, Paradise_par, Paradise_prize from players_events_df WHERE division = 'MPO' AND Paradise_prize IS NOT NULL AND Paradise_prize != '0'")
# array = df['Paradise_par'].to_numpy()
# array = array.astype(int)
# Paradise_std_M = array.std()

# #set MPO cash_std

# #TODO: change entries and variable
# players_events_df.loc[players_events_df.division == 'MPO', 'Paradise_cash_std'] = Paradise_std_M

# #find cash_std FPO

# #TODO: change entries in SQL and array, and variable
# df = sqlit("SELECT name, division, Paradise_par, Paradise_prize from players_events_df WHERE division = 'FPO' AND Paradise_prize IS NOT NULL AND Paradise_prize != '0'")
# array = df['Paradise_par'].to_numpy()
# array = array.astype(int)
# Paradise_std_F = array.std()

# #FOR PARADISE ONLY. DELETE FOR NEW TOURNAMENTS.

# Paradise_std_F = float(30.1717)

# #set FPO cash_std LVC
# #TODO: change entries and variable
# players_events_df.loc[players_events_df.division == 'FPO', 'Paradise_cash_std'] = Paradise_std_F

# #Set std_away
# #TODO: change column names

# players_events_df['Paradise_par'] = players_events_df['Paradise_par'].astype(float)
# players_events_df['Paradise_par_best'] = players_events_df['Paradise_par_best'].astype(float)
# players_events_df['Paradise_std_away'] = (players_events_df['Paradise_par'] - players_events_df['Paradise_par_best'])/players_events_df['Paradise_cash_std']




# #Setting null DNFs

# #TODO add DNF to null list

# players_events_df.loc[players_events_df.LVC_DNF.isnull(), 'LVC_DNF'] = 'no'
# players_events_df.loc[players_events_df.Waco_DNF.isnull(), 'Waco_DNF'] = 'no'
# players_events_df.loc[players_events_df.Texas_DNF.isnull(), 'Texas_DNF'] = 'no'
# players_events_df.loc[players_events_df.JB_DNF.isnull(), 'JB_DNF'] = 'no'
# players_events_df.loc[players_events_df.SP_DNF.isnull(), 'SP_DNF'] = 'no'
# players_events_df.loc[players_events_df.SK_DNF.isnull(), 'SK_DNF'] = 'no'
# players_events_df.loc[players_events_df.Vintage_DNF.isnull(), 'Vintage_DNF'] = 'no'
# players_events_df.loc[players_events_df.MAO_DNF.isnull(), 'MAO_DNF'] = 'no'
# players_events_df.loc[players_events_df.VO_DNF.isnull(), 'VO_DNF'] = 'no'
# players_events_df.loc[players_events_df.Memorial_DNF.isnull(), 'Memorial_DNF'] = 'no'
# players_events_df.loc[players_events_df.Paradise_DNF.isnull(), 'Paradise_DNF'] = 'no'



# #Events Played column

# #TODO add tourney to loop

# events_played_list = []
# for ind in players_events_df.index:
#     n = 0
#     if pd.notnull(players_events_df['LVC_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Waco_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Texas_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['JB_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['SP_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['SK_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Vintage_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['MAO_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['VO_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Memorial_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Paradise_par'][ind]):
#         n += 1
#     events_played_list.append(n)
    
# players_events_df['events_played'] = events_played_list

# #Tournaments Loaded List

# #TODO: Add touney to list

# Tournaments_Loaded_list = [('Las Vegas Classic', 'NT', 'LVC'), ('Waco', 'NT', 'Waco'), ('Texas States', 'NT', 'Texas'), ('Jonesboro', 'NT', 'JB'), ('St. Patrick', 'A', 'SP'), ('Sun Kings Throwdown', 'A', 'SK'), ('Vintage Open', 'A', 'Vintage'), ('Mid-America Open', 'A', 'MAO'), ('Victoria Open', 'A', 'VO'), ('Memorial Open', 'A', 'Memorial'), ('Paradise Plates', 'A', 'Paradise')]
# Tournaments_Loaded_df = pd.DataFrame(Tournaments_Loaded_list, columns = ['Tournament Loaded', 'Tier', 'Nickname'])

# #change places for non-attended events to "0"

# #TODO: add event to list

# players_events_df.loc[players_events_df.LVC_par.isnull(), 'LVC_place'] = 0
# players_events_df.loc[players_events_df.Waco_par.isnull(), 'Waco_place'] = 0
# players_events_df.loc[players_events_df.Texas_par.isnull(), 'Texas_place'] = 0
# players_events_df.loc[players_events_df.JB_par.isnull(), 'JB_place'] = 0
# players_events_df.loc[players_events_df.SP_par.isnull(), 'SP_place'] = 0
# players_events_df.loc[players_events_df.SK_par.isnull(), 'SK_place'] = 0
# players_events_df.loc[players_events_df.Vintage_par.isnull(), 'Vintage_place'] = 0
# players_events_df.loc[players_events_df.MAO_par.isnull(), 'MAO_place'] = 0
# players_events_df.loc[players_events_df.VO_par.isnull(), 'VO_place'] = 0
# players_events_df.loc[players_events_df.Memorial_par.isnull(), 'Memorial_place'] = 0
# players_events_df.loc[players_events_df.Paradise_par.isnull(), 'Paradise_place'] = 0


# #LOOK AGAIN!

# #change null cashes to '0'

# #TODO: add event to list

# players_events_df.loc[players_events_df.LVC_prize.isnull(), 'LVC_prize'] = 0
# players_events_df.loc[players_events_df.Waco_prize.isnull(), 'Waco_prize'] = 0
# players_events_df.loc[players_events_df.Texas_prize.isnull(), 'Texas_prize'] = 0
# players_events_df.loc[players_events_df.JB_prize.isnull(), 'JB_prize'] = 0
# players_events_df.loc[players_events_df.SP_prize.isnull(), 'SP_prize'] = 0
# players_events_df.loc[players_events_df.SK_prize.isnull(), 'SK_prize'] = 0
# players_events_df.loc[players_events_df.Vintage_prize.isnull(), 'Vintage_prize'] = 0
# players_events_df.loc[players_events_df.MAO_prize.isnull(), 'MAO_prize'] = 0
# players_events_df.loc[players_events_df.VO_prize.isnull(), 'VO_prize'] = 0
# players_events_df.loc[players_events_df.Memorial_prize.isnull(), 'Memorial_prize'] = 0
# players_events_df.loc[players_events_df.Paradise_prize.isnull(), 'Paradise_prize'] = 0


# #LOOK AGAIN!

# #Compute average placement

# #TODO: add event to SQL

# ap_sql = sqlit("SELECT (CAST(LVC_place as int) + CAST(Waco_place as int) + CAST(Texas_place as int) + CAST(JB_place as int) + CAST(SP_place as int) + CAST(SK_place as int) + CAST(Vintage_place as int) + CAST(MAO_place as int) + CAST(VO_place as int) + CAST(Memorial_place as int) + CAST(Paradise_place as int))/(events_played*1.0) as ap FROM players_events_df")
# ap_list = ap_sql['ap'].tolist()
# players_events_df['average_place'] = ap_list

# #Compute total cash

# #TODO: add event to equation

# players_events_df['total_cash'] = players_events_df.LVC_prize.astype(int) + players_events_df.Waco_prize.astype(int) + players_events_df.Texas_prize.astype(int) + players_events_df.JB_prize.astype(int)  + players_events_df.SP_prize.astype(int) + players_events_df.SK_prize.astype(int) + players_events_df.Vintage_prize.astype(int) + players_events_df.MAO_prize.astype(int) + players_events_df.VO_prize.astype(int) + players_events_df.Memorial_prize.astype(int) + players_events_df.Paradise_prize.astype(int)

# #create player prize df

# #TODO: add event to sql

# player_prize_df = sqlit("SELECT name, id, events_played, LVC_prize, Waco_prize, Texas_prize, JB_prize, SP_prize, SK_prize, Vintage_prize, MAO_prize, VO_prize, Memorial_prize, Paradise_prize, total_cash, total_cash/events_played as avg_cash from players_events_df ORDER BY total_cash DESC")

---
## Treasure Valley Cup

In [77]:
#Treasure Valley Cup Driven by Innova Discs and 208 Discs

#to do: Check the number of divisions. If there are more than MPO and FPO, widdle down the records

# Tournaments loaded list 

#TODO: Add touney to list

# Tournaments_Loaded_list = [('Las Vegas Classic', '9', 'NT', 'LVC'), ('Waco', 11, 'NT', 'Waco'), ('Texas States', 13, 'NT', 'Texas'), ('Jonesboro', 16, 'NT', 'JB'), ('St. Patrick', 12, 'A', 'SP'), ('Sun Kings Throwdown', 12, 'A', 'SK'), ('Vintage Open', 15, 'A', 'Vintage'), ('Mid-America Open', 17, 'A', 'MAO'), ('Victoria Open', 7, 'A', 'VO'), ('Memorial Open', 10, 'A', 'Memorial'), ('Paradise Plates', 12, 'A', 'Paradise'), ('Treasure Valley Cup', 13, 'A', 'TVC')]
# Tournaments_Loaded_df = pd.DataFrame(Tournaments_Loaded_list, columns = ['Tournament Loaded', 'Weekend_num', 'Tier', 'Nickname'])

# #tourneys_list is a list of tourney nicknames used for iterating (nothing to do)

# tourneys_list = Tournaments_Loaded_df['Nickname'].tolist()


# #to do: change the URL
# event = requests.get('https://www.pdga.com/tour/event/48155')
# with open("TVC.html", "w") as f:
#     f.write(event.text)

with open("TVC.html") as ti:
    soup = BeautifulSoup(ti, 'html.parser')

#leave all this be...

places_t = soup.find_all('td', class_ = 'place')
places = []
for entry in places_t:
    place = entry.get_text()
    places.append(place)
    
ids_t = soup.find_all('td', class_ = 'pdga-number')
ids = []
for entry in ids_t:
    id = entry.get_text()
    ids.append(id)

pars_t = soup.find_all(True, {'class':['par under', 'par over', 'par', 'dnf']})
pars = []
for entry in pars_t:
    par = entry.get_text()
    if par == 'E':
        par = 0
    pars.append(par)
pars.remove('Par')
pars.remove('Par')

prizes_t = soup.find_all('td', class_ = 'prize')
prizes = []
for entry in prizes_t:
    prize = entry.get_text()
    if not prize:
        prize = '$0'
    prize = prize.replace(',', '')
    prize = prize.strip('$')
    prizes.append(prize)

totals_t = soup.find_all('td', class_ = 'total')
totals = []
for entry in totals_t:
    total = entry.get_text()
    totals.append(total)    


#to do: change the df name, change column names

TVC_df = pd.DataFrame(list(zip(places, ids, pars, prizes, totals)), columns = ['TVC_place', 'player_id', 'TVC_par', 'TVC_prize', 'total'])

#clean up DNFs. Putting in nulls instead of trash results.

#TODO: change the df name, change column names

TVC_df.loc[TVC_df.total == 'DNF', 'TVC_place'] = np.nan
TVC_df.loc[TVC_df.total == 'DNF', 'TVC_par'] = np.nan
TVC_df.loc[TVC_df.total == 'DNF', 'TVC_prize'] = np.nan
TVC_df.loc[TVC_df.total == 'DNF', 'TVC_DNF'] = 'yes'
TVC_df.loc[TVC_df.total != 'DNF', 'TVC_DNF'] = 'no'


#drop total column

#TODO: change the df name

TVC_df = TVC_df.drop(columns = 'total')

#TODO: widdle records down here if there is more than MPO and FPO...

TVC_df = TVC_df.head(51)

#TODO: merge with p_e using correct df name

# players_events_df = players_events_df.merge(TVC_df, left_on = 'id', right_on = 'player_id', how = 'outer')

# #players_events_df cleanup (no to-dos)...

#     #worried about "settingwithcopy" warning (https://www.dataquest.io/blog/settingwithcopywarning/)
#     #at the end... destroy the "player_id" column in p_e

#     #Adding players who played in this event but are not in the dataframe yet

# players_events_df_nulls = players_events_df[players_events_df['name'].isnull()] #these are those players

#     #adding their name
# for ind in players_events_df_nulls.index:
#     try:
#         player_page = "https://www.pdga.com/player/" + players_events_df_nulls['player_id'][ind]
#     except:
#         continue
#     player_get = requests.get(player_page)
#     soup = BeautifulSoup(player_get.content, 'html.parser')
#     name_t = soup.find(True, {'class' : ['panel-pane pane-page-title', 'panel-pane pane-page-title E']})
#     soup2 = BeautifulSoup(str(name_t), 'html.parser')
#     name_u = soup2.find('h1')
#     try:
#         name_z = name_u.text
#     except:
#         continue
#     name_parts = name_z.split()
#     name = name_parts[0][0] + '.' + ' ' + name_parts[1]
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'name'] = name
    
#     #adding their id
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'id'] = players_events_df_nulls['player_id'][ind]
    
#     #adding their division
#     division_t = soup.find('td', class_ = 'division')
#     try:
#         division = division_t.get_text()
#     except:
#         continue
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'division'] = division.strip()

#     #adding their country
    
#     location_t = soup.find('li', class_ = 'location')
#     location_u = location_t.text
#     location_u_split = location_u.split(':')
#     location = location_u_split[1]
#     country_t = location.split(',')[-1]
#     country_u = country_t.replace('Classification', '')
#     country = country_u.strip()
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'country'] = country

#     #adding their state_province
    
#     state_t = location.split(',')[-2]
#     state = state_t.strip()
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'state_province'] = state

# #and drop the player_id column

# players_events_df = players_events_df.drop(columns = 'player_id')


# #change division entry names (nothing to do here)
# players_events_df['division'] = sqlit("SELECT REPLACE(division, 'Open Women', 'FPO') as division FROM players_events_df")
# players_events_df['division'] = sqlit("SELECT REPLACE(division, 'Open', 'MPO') as division FROM players_events_df")

# #Player adds?






# #ADDING STATS

# #TODO: change column names and values of best scores
# players_events_df.loc[players_events_df.division == 'MPO', 'TVC_par_best'] = -37
# players_events_df.loc[players_events_df.division == 'FPO', 'TVC_par_best'] = 0

# #find cash_std MPO

# #TODO: change entries in SQL and array, and variable
# df = sqlit("SELECT name, division, TVC_par, TVC_prize from players_events_df WHERE division = 'MPO' AND TVC_prize IS NOT NULL AND TVC_prize != '0'")
# array = df['TVC_par'].to_numpy()
# array = array.astype(int)
# TVC_std_M = array.std()

# #set MPO cash_std

# #TODO: change entries and variable
# players_events_df.loc[players_events_df.division == 'MPO', 'TVC_cash_std'] = TVC_std_M

# #find cash_std FPO

# #TODO: change entries in SQL and array, and variable
# df = sqlit("SELECT name, division, TVC_par, TVC_prize from players_events_df WHERE division = 'FPO' AND TVC_prize IS NOT NULL AND TVC_prize != '0'")
# array = df['TVC_par'].to_numpy()
# array = array.astype(int)
# TVC_std_F = array.std()


# #set FPO cash_std LVC
# #TODO: change entries and variable
# players_events_df.loc[players_events_df.division == 'FPO', 'TVC_cash_std'] = TVC_std_F

# #Set std_away
# #TODO: change column names

# players_events_df['TVC_par'] = players_events_df['TVC_par'].astype(float)
# players_events_df['TVC_par_best'] = players_events_df['TVC_par_best'].astype(float)
# players_events_df['TVC_std_away'] = (players_events_df['TVC_par'] - players_events_df['TVC_par_best'])/players_events_df['TVC_cash_std']




# #Setting null DNFs

# #TODO add DNF to null list

# players_events_df.loc[players_events_df.LVC_DNF.isnull(), 'LVC_DNF'] = 'no'
# players_events_df.loc[players_events_df.Waco_DNF.isnull(), 'Waco_DNF'] = 'no'
# players_events_df.loc[players_events_df.Texas_DNF.isnull(), 'Texas_DNF'] = 'no'
# players_events_df.loc[players_events_df.JB_DNF.isnull(), 'JB_DNF'] = 'no'
# players_events_df.loc[players_events_df.SP_DNF.isnull(), 'SP_DNF'] = 'no'
# players_events_df.loc[players_events_df.SK_DNF.isnull(), 'SK_DNF'] = 'no'
# players_events_df.loc[players_events_df.Vintage_DNF.isnull(), 'Vintage_DNF'] = 'no'
# players_events_df.loc[players_events_df.MAO_DNF.isnull(), 'MAO_DNF'] = 'no'
# players_events_df.loc[players_events_df.VO_DNF.isnull(), 'VO_DNF'] = 'no'
# players_events_df.loc[players_events_df.Memorial_DNF.isnull(), 'Memorial_DNF'] = 'no'
# players_events_df.loc[players_events_df.Paradise_DNF.isnull(), 'Paradise_DNF'] = 'no'
# players_events_df.loc[players_events_df.TVC_DNF.isnull(), 'TVC_DNF'] = 'no'



# #Events Played column

# #TODO add tourney to loop (can automate this)

# events_played_list = []
# for ind in players_events_df.index:
#     n = 0
#     if pd.notnull(players_events_df['LVC_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Waco_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Texas_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['JB_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['SP_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['SK_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Vintage_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['MAO_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['VO_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Memorial_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Paradise_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['TVC_par'][ind]):
#         n += 1
#     events_played_list.append(n)
    
# players_events_df['events_played'] = events_played_list


# #change places for non-attended events to "0"

# # Previously...TODO: add event to list

# # players_events_df.loc[players_events_df.LVC_par.isnull(), 'LVC_place'] = 0
# # players_events_df.loc[players_events_df.Waco_par.isnull(), 'Waco_place'] = 0
# # players_events_df.loc[players_events_df.Texas_par.isnull(), 'Texas_place'] = 0
# # players_events_df.loc[players_events_df.JB_par.isnull(), 'JB_place'] = 0
# # players_events_df.loc[players_events_df.SP_par.isnull(), 'SP_place'] = 0
# # players_events_df.loc[players_events_df.SK_par.isnull(), 'SK_place'] = 0
# # players_events_df.loc[players_events_df.Vintage_par.isnull(), 'Vintage_place'] = 0
# # players_events_df.loc[players_events_df.MAO_par.isnull(), 'MAO_place'] = 0
# # players_events_df.loc[players_events_df.VO_par.isnull(), 'VO_place'] = 0
# # players_events_df.loc[players_events_df.Memorial_par.isnull(), 'Memorial_place'] = 0
# # players_events_df.loc[players_events_df.Paradise_par.isnull(), 'Paradise_place'] = 0
# # players_events_df.loc[players_events_df.TVC_par.isnull(), 'TVC_place'] = 0

# #Now (NO TO DO)

# for tn in tourneys_list:
#     players_events_df.loc[players_events_df[f'{tn}_par'].isnull(), f'{tn}_place'] = 0


# #LOOK AGAIN!

# #change null cashes to '0'

# #Previously TODO: add event to list

# # players_events_df.loc[players_events_df.LVC_prize.isnull(), 'LVC_prize'] = 0
# # players_events_df.loc[players_events_df.Waco_prize.isnull(), 'Waco_prize'] = 0
# # players_events_df.loc[players_events_df.Texas_prize.isnull(), 'Texas_prize'] = 0
# # players_events_df.loc[players_events_df.JB_prize.isnull(), 'JB_prize'] = 0
# # players_events_df.loc[players_events_df.SP_prize.isnull(), 'SP_prize'] = 0
# # players_events_df.loc[players_events_df.SK_prize.isnull(), 'SK_prize'] = 0
# # players_events_df.loc[players_events_df.Vintage_prize.isnull(), 'Vintage_prize'] = 0
# # players_events_df.loc[players_events_df.MAO_prize.isnull(), 'MAO_prize'] = 0
# # players_events_df.loc[players_events_df.VO_prize.isnull(), 'VO_prize'] = 0
# # players_events_df.loc[players_events_df.Memorial_prize.isnull(), 'Memorial_prize'] = 0
# # players_events_df.loc[players_events_df.Paradise_prize.isnull(), 'Paradise_prize'] = 0
# # players_events_df.loc[players_events_df.TVC_prize.isnull(), 'TVC_prize'] = 0

# #Now (NO TO DO)

# for tn in tourneys_list:
#     players_events_df.loc[players_events_df[f'{tn}_prize'].isnull(), f'{tn}_prize'] = 0


# #LOOK AGAIN!

# #Compute average placement

# #TODO: add event to SQL

# ap_sql = sqlit("SELECT (CAST(LVC_place as int) + CAST(Waco_place as int) + CAST(Texas_place as int) + CAST(JB_place as int) + CAST(SP_place as int) + CAST(SK_place as int) + CAST(Vintage_place as int) + CAST(MAO_place as int) + CAST(VO_place as int) + CAST(Memorial_place as int) + CAST(Paradise_place as int) + CAST(TVC_place as int))/(events_played*1.0) as ap FROM players_events_df")
# ap_list = ap_sql['ap'].tolist()
# players_events_df['average_place'] = ap_list

# #Compute total cash

# #Previous TODO: add event to equation
# #players_events_df['total_cash'] = players_events_df.LVC_prize.astype(int) + players_events_df.Waco_prize.astype(int) + players_events_df.Texas_prize.astype(int) + players_events_df.JB_prize.astype(int)  + players_events_df.SP_prize.astype(int) + players_events_df.SK_prize.astype(int) + players_events_df.Vintage_prize.astype(int) + players_events_df.MAO_prize.astype(int) + players_events_df.VO_prize.astype(int) + players_events_df.Memorial_prize.astype(int) + players_events_df.Paradise_prize.astype(int) + players_events_df.TVC_prize.astype(int)

# #Updated: TODO: Nothing!

# players_events_df['total_cash'] = 0
# for tn in tourneys_list:
#     players_events_df['total_cash'] += players_events_df[f'{tn}_prize'].astype(int)

# #create player prize df

# #TODO: add event to sql

# player_prize_df = sqlit("SELECT name, id, events_played, LVC_prize, Waco_prize, Texas_prize, JB_prize, SP_prize, SK_prize, Vintage_prize, MAO_prize, VO_prize, Memorial_prize, Paradise_prize, TVC_prize, total_cash, total_cash/events_played as avg_cash from players_events_df ORDER BY total_cash DESC")

# #create participant lists

# #TODO: Add to list with new df and variable

# LVC_participants_list = LVC_df['player_id'].to_list()
# Waco_participants_list = Waco_df['player_id'].to_list()
# Texas_participants_list = Texas_df['player_id'].to_list()
# JB_participants_list = JB_df['player_id'].to_list()
# SP_participants_list = SP_df['player_id'].to_list()
# SK_participants_list = SK_df['player_id'].to_list()
# Vintage_participants_list = Vintage_df['player_id'].to_list()
# MAO_participants_list = MAO_df['player_id'].to_list()
# VO_participants_list = VO_df['player_id'].to_list()
# Memorial_participants_list = Memorial_df['player_id'].to_list()
# Paradise_participants_list = Paradise_df['player_id'].to_list()
# TVC_participants_list = TVC_df['player_id'].to_list()

# #TODO: Add list to dictionary:

# participants_list_dict = {
#     'LVC' : LVC_participants_list,
#     'Waco' : Waco_participants_list,
#     'Texas' : Texas_participants_list,
#     'JB' : JB_participants_list,
#     'SP' : SP_participants_list,
#     'SK' : SK_participants_list,
#     'Vintage' : Vintage_participants_list,
#     'MAO' : MAO_participants_list,
#     'VO' : VO_participants_list,
#     'Memorial' : Memorial_participants_list,
#     'Paradise' : Paradise_participants_list,
#     'TVC' : TVC_participants_list
# }

## Shelly Sharpe Memorial

In [78]:
#Shelly Sharpe Memorial presented by SpinnersontheGreen.com

#to do: Check the number of divisions. If there are more than MPO and FPO, widdle down the records

# Tournaments loaded list 

#TODO: Add touney to list

# Tournaments_Loaded_list = [('Las Vegas Classic', '9', 'NT', 'LVC'), ('Waco', 11, 'NT', 'Waco'), ('Texas States', 13, 'NT', 'Texas'), ('Jonesboro', 16, 'NT', 'JB'), ('St. Patrick', 12, 'A', 'SP'), ('Sun Kings Throwdown', 12, 'A', 'SK'), ('Vintage Open', 15, 'A', 'Vintage'), ('Mid-America Open', 17, 'A', 'MAO'), ('Victoria Open', 7, 'A', 'VO'), ('Memorial Open', 10, 'A', 'Memorial'), ('Paradise Plates', 12, 'A', 'Paradise'), ('Treasure Valley Cup', 13, 'A', 'TVC'), ('Shelly Sharpe Memorial', 3, 'A/B', 'SSM')]
# Tournaments_Loaded_df = pd.DataFrame(Tournaments_Loaded_list, columns = ['Tournament Loaded', 'Weekend_num', 'Tier', 'Nickname'])

# #tourneys_list is a list of tourney nicknames used for iterating (nothing to do)

# tourneys_list = Tournaments_Loaded_df['Nickname'].tolist()


# #to do: change the URL
# event = requests.get('https://www.pdga.com/tour/event/47994')
# with open("SSM.html", "w") as f:
#     f.write(event.text)

with open("SSM.html") as ti:
    soup = BeautifulSoup(ti, 'html.parser')

#leave all this be...

places_t = soup.find_all('td', class_ = 'place')
places = []
for entry in places_t:
    place = entry.get_text()
    places.append(place)
    
ids_t = soup.find_all('td', class_ = 'pdga-number')
ids = []
for entry in ids_t:
    id = entry.get_text()
    ids.append(id)

pars_t = soup.find_all(True, {'class':['par under', 'par over', 'par', 'dnf']})
pars = []
for entry in pars_t:
    par = entry.get_text()
    if par == 'E':
        par = 0
    pars.append(par)
pars.remove('Par')
pars.remove('Par')

prizes_t = soup.find_all('td', class_ = 'prize')
prizes = []
for entry in prizes_t:
    prize = entry.get_text()
    if not prize:
        prize = '$0'
    prize = prize.replace(',', '')
    prize = prize.strip('$')
    prizes.append(prize)

totals_t = soup.find_all('td', class_ = 'total')
totals = []
for entry in totals_t:
    total = entry.get_text()
    totals.append(total)    


#to do: change the df name, change column names

SSM_df = pd.DataFrame(list(zip(places, ids, pars, prizes, totals)), columns = ['SSM_place', 'player_id', 'SSM_par', 'SSM_prize', 'total'])

#clean up DNFs. Putting in nulls instead of trash results.

#TODO: change the df name, change column names

SSM_df.loc[SSM_df.total == 'DNF', 'SSM_place'] = np.nan
SSM_df.loc[SSM_df.total == 'DNF', 'SSM_par'] = np.nan
SSM_df.loc[SSM_df.total == 'DNF', 'SSM_prize'] = np.nan
SSM_df.loc[SSM_df.total == 'DNF', 'SSM_DNF'] = 'yes'
SSM_df.loc[SSM_df.total != 'DNF', 'SSM_DNF'] = 'no'


#drop total column

#TODO: change the df name

SSM_df = SSM_df.drop(columns = 'total')

#TODO: widdle records down here if there is more than MPO and FPO...

SSM_df = SSM_df.head(46)

#TODO: merge with p_e using correct df name

# players_events_df = players_events_df.merge(SSM_df, left_on = 'id', right_on = 'player_id', how = 'outer')

# #players_events_df cleanup (no to-dos)...

#     #worried about "settingwithcopy" warning (https://www.dataquest.io/blog/settingwithcopywarning/)
#     #at the end... destroy the "player_id" column in p_e

#     #Adding players who played in this event but are not in the dataframe yet

# players_events_df_nulls = players_events_df[players_events_df['name'].isnull()] #these are those players

#     #adding their name
# for ind in players_events_df_nulls.index:
#     try:
#         player_page = "https://www.pdga.com/player/" + players_events_df_nulls['player_id'][ind]
#     except:
#         continue
#     player_get = requests.get(player_page)
#     soup = BeautifulSoup(player_get.content, 'html.parser')
#     name_t = soup.find(True, {'class' : ['panel-pane pane-page-title', 'panel-pane pane-page-title E']})
#     soup2 = BeautifulSoup(str(name_t), 'html.parser')
#     name_u = soup2.find('h1')
#     try:
#         name_z = name_u.text
#     except:
#         continue
#     name_parts = name_z.split()
#     name = name_parts[0][0] + '.' + ' ' + name_parts[1]
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'name'] = name
    
#     #adding their id
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'id'] = players_events_df_nulls['player_id'][ind]
    
#     #adding their division
#     division_t = soup.find('td', class_ = 'division')
#     try:
#         division = division_t.get_text()
#     except:
#         continue
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'division'] = division.strip()

#     #adding their country
    
#     location_t = soup.find('li', class_ = 'location')
#     location_u = location_t.text
#     location_u_split = location_u.split(':')
#     location = location_u_split[1]
#     country_t = location.split(',')[-1]
#     country_u = country_t.replace('Classification', '')
#     country = country_u.strip()
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'country'] = country

#     #adding their state_province
    
#     state_t = location.split(',')[-2]
#     state = state_t.strip()
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'state_province'] = state

# #and drop the player_id column

# players_events_df = players_events_df.drop(columns = 'player_id')


# #change division entry names (nothing to do here)
# players_events_df['division'] = sqlit("SELECT REPLACE(division, 'Open Women', 'FPO') as division FROM players_events_df")
# players_events_df['division'] = sqlit("SELECT REPLACE(division, 'Open', 'MPO') as division FROM players_events_df")

# #Player adds?






# #ADDING STATS

# #TODO: change column names and values of best scores
# players_events_df.loc[players_events_df.division == 'MPO', 'SSM_par_best'] = -27
# players_events_df.loc[players_events_df.division == 'FPO', 'SSM_par_best'] = +1

# #find cash_std MPO

# #TODO: change entries in SQL and array, and variable
# df = sqlit("SELECT name, division, SSM_par, SSM_prize from players_events_df WHERE division = 'MPO' AND SSM_prize IS NOT NULL AND SSM_prize != '0'")
# array = df['SSM_par'].to_numpy()
# array = array.astype(int)
# SSM_std_M = array.std()

# #set MPO cash_std

# #TODO: change entries and variable
# players_events_df.loc[players_events_df.division == 'MPO', 'SSM_cash_std'] = SSM_std_M

# #find cash_std FPO

# #TODO: change entries in SQL and array, and variable
# df = sqlit("SELECT name, division, SSM_par, SSM_prize from players_events_df WHERE division = 'FPO' AND SSM_prize IS NOT NULL AND SSM_prize != '0'")
# array = df['SSM_par'].to_numpy()
# array = array.astype(int)
# SSM_std_F = array.std()


# #set FPO cash_std FPO
# #TODO: change entries and variable
# players_events_df.loc[players_events_df.division == 'FPO', 'SSM_cash_std'] = SSM_std_F

# #Set std_away
# #TODO: change column names


# players_events_df['SSM_par'] = players_events_df['SSM_par'].astype(float)
# players_events_df['SSM_par_best'] = players_events_df['SSM_par_best'].astype(float)
# players_events_df['SSM_std_away'] = (players_events_df['SSM_par'] - players_events_df['SSM_par_best'])/players_events_df['SSM_cash_std']




# #Setting null DNFs

# #TODO add DNF to null list

# players_events_df.loc[players_events_df.LVC_DNF.isnull(), 'LVC_DNF'] = 'no'
# players_events_df.loc[players_events_df.Waco_DNF.isnull(), 'Waco_DNF'] = 'no'
# players_events_df.loc[players_events_df.Texas_DNF.isnull(), 'Texas_DNF'] = 'no'
# players_events_df.loc[players_events_df.JB_DNF.isnull(), 'JB_DNF'] = 'no'
# players_events_df.loc[players_events_df.SP_DNF.isnull(), 'SP_DNF'] = 'no'
# players_events_df.loc[players_events_df.SK_DNF.isnull(), 'SK_DNF'] = 'no'
# players_events_df.loc[players_events_df.Vintage_DNF.isnull(), 'Vintage_DNF'] = 'no'
# players_events_df.loc[players_events_df.MAO_DNF.isnull(), 'MAO_DNF'] = 'no'
# players_events_df.loc[players_events_df.VO_DNF.isnull(), 'VO_DNF'] = 'no'
# players_events_df.loc[players_events_df.Memorial_DNF.isnull(), 'Memorial_DNF'] = 'no'
# players_events_df.loc[players_events_df.Paradise_DNF.isnull(), 'Paradise_DNF'] = 'no'
# players_events_df.loc[players_events_df.TVC_DNF.isnull(), 'TVC_DNF'] = 'no'
# players_events_df.loc[players_events_df.SSM_DNF.isnull(), 'SSM_DNF'] = 'no'



# #Events Played column

# #TODO add tourney to loop (can automate this)

# events_played_list = []
# for ind in players_events_df.index:
#     n = 0
#     if pd.notnull(players_events_df['LVC_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Waco_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Texas_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['JB_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['SP_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['SK_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Vintage_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['MAO_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['VO_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Memorial_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Paradise_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['TVC_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['SSM_par'][ind]):
#         n += 1
#     events_played_list.append(n)
    
# players_events_df['events_played'] = events_played_list


# #change places for non-attended events to "0"

# # Previously...TODO: add event to list

# # players_events_df.loc[players_events_df.LVC_par.isnull(), 'LVC_place'] = 0
# # players_events_df.loc[players_events_df.Waco_par.isnull(), 'Waco_place'] = 0
# # players_events_df.loc[players_events_df.Texas_par.isnull(), 'Texas_place'] = 0
# # players_events_df.loc[players_events_df.JB_par.isnull(), 'JB_place'] = 0
# # players_events_df.loc[players_events_df.SP_par.isnull(), 'SP_place'] = 0
# # players_events_df.loc[players_events_df.SK_par.isnull(), 'SK_place'] = 0
# # players_events_df.loc[players_events_df.Vintage_par.isnull(), 'Vintage_place'] = 0
# # players_events_df.loc[players_events_df.MAO_par.isnull(), 'MAO_place'] = 0
# # players_events_df.loc[players_events_df.VO_par.isnull(), 'VO_place'] = 0
# # players_events_df.loc[players_events_df.Memorial_par.isnull(), 'Memorial_place'] = 0
# # players_events_df.loc[players_events_df.Paradise_par.isnull(), 'Paradise_place'] = 0
# # players_events_df.loc[players_events_df.TVC_par.isnull(), 'TVC_place'] = 0

# #Now (NO TO DO)

# for tn in tourneys_list:
#     players_events_df.loc[players_events_df[f'{tn}_par'].isnull(), f'{tn}_place'] = 0


# #LOOK AGAIN!

# #change null cashes to '0'

# #Previously TODO: add event to list

# # players_events_df.loc[players_events_df.LVC_prize.isnull(), 'LVC_prize'] = 0
# # players_events_df.loc[players_events_df.Waco_prize.isnull(), 'Waco_prize'] = 0
# # players_events_df.loc[players_events_df.Texas_prize.isnull(), 'Texas_prize'] = 0
# # players_events_df.loc[players_events_df.JB_prize.isnull(), 'JB_prize'] = 0
# # players_events_df.loc[players_events_df.SP_prize.isnull(), 'SP_prize'] = 0
# # players_events_df.loc[players_events_df.SK_prize.isnull(), 'SK_prize'] = 0
# # players_events_df.loc[players_events_df.Vintage_prize.isnull(), 'Vintage_prize'] = 0
# # players_events_df.loc[players_events_df.MAO_prize.isnull(), 'MAO_prize'] = 0
# # players_events_df.loc[players_events_df.VO_prize.isnull(), 'VO_prize'] = 0
# # players_events_df.loc[players_events_df.Memorial_prize.isnull(), 'Memorial_prize'] = 0
# # players_events_df.loc[players_events_df.Paradise_prize.isnull(), 'Paradise_prize'] = 0
# # players_events_df.loc[players_events_df.TVC_prize.isnull(), 'TVC_prize'] = 0

# #Now (NO TO DO)

# for tn in tourneys_list:
#     players_events_df.loc[players_events_df[f'{tn}_prize'].isnull(), f'{tn}_prize'] = 0


# #LOOK AGAIN!

# #Compute average placement

# #TODO: add event to SQL

# ap_sql = sqlit("SELECT (CAST(LVC_place as int) + CAST(Waco_place as int) + CAST(Texas_place as int) + CAST(JB_place as int) + CAST(SP_place as int) + CAST(SK_place as int) + CAST(Vintage_place as int) + CAST(MAO_place as int) + CAST(VO_place as int) + CAST(Memorial_place as int) + CAST(Paradise_place as int) + CAST(TVC_place as int) + CAST(SSM_place as int))/(events_played*1.0) as ap FROM players_events_df")
# ap_list = ap_sql['ap'].tolist()
# players_events_df['average_place'] = ap_list

# #Compute total cash

# #Previous TODO: add event to equation
# #players_events_df['total_cash'] = players_events_df.LVC_prize.astype(int) + players_events_df.Waco_prize.astype(int) + players_events_df.Texas_prize.astype(int) + players_events_df.JB_prize.astype(int)  + players_events_df.SP_prize.astype(int) + players_events_df.SK_prize.astype(int) + players_events_df.Vintage_prize.astype(int) + players_events_df.MAO_prize.astype(int) + players_events_df.VO_prize.astype(int) + players_events_df.Memorial_prize.astype(int) + players_events_df.Paradise_prize.astype(int) + players_events_df.TVC_prize.astype(int)

# #Updated: TODO: Nothing!

# players_events_df['total_cash'] = 0
# for tn in tourneys_list:
#     players_events_df['total_cash'] += players_events_df[f'{tn}_prize'].astype(int)

# #create player prize df

# #TODO: add event to sql

# player_prize_df = sqlit("SELECT name, id, events_played, LVC_prize, Waco_prize, Texas_prize, JB_prize, SP_prize, SK_prize, Vintage_prize, MAO_prize, VO_prize, Memorial_prize, Paradise_prize, TVC_prize, SSM_prize, total_cash, total_cash/events_played as avg_cash from players_events_df ORDER BY total_cash DESC")

# #create participant lists

# #TODO: Add to list with new df and variable

# LVC_participants_list = LVC_df['player_id'].to_list()
# Waco_participants_list = Waco_df['player_id'].to_list()
# Texas_participants_list = Texas_df['player_id'].to_list()
# JB_participants_list = JB_df['player_id'].to_list()
# SP_participants_list = SP_df['player_id'].to_list()
# SK_participants_list = SK_df['player_id'].to_list()
# Vintage_participants_list = Vintage_df['player_id'].to_list()
# MAO_participants_list = MAO_df['player_id'].to_list()
# VO_participants_list = VO_df['player_id'].to_list()
# Memorial_participants_list = Memorial_df['player_id'].to_list()
# Paradise_participants_list = Paradise_df['player_id'].to_list()
# TVC_participants_list = TVC_df['player_id'].to_list()
# SSM_participants_list = SSM_df['player_id'].to_list()

# #TODO: Add list to dictionary:

# participants_list_dict = {
#     'LVC' : LVC_participants_list,
#     'Waco' : Waco_participants_list,
#     'Texas' : Texas_participants_list,
#     'JB' : JB_participants_list,
#     'SP' : SP_participants_list,
#     'SK' : SK_participants_list,
#     'Vintage' : Vintage_participants_list,
#     'MAO' : MAO_participants_list,
#     'VO' : VO_participants_list,
#     'Memorial' : Memorial_participants_list,
#     'Paradise' : Paradise_participants_list,
#     'TVC' : TVC_participants_list,
#     'SSM' : SSM_participants_list
# }

# The Open at Belton

In [79]:
#Discraft presents The Open at Belton a DGPT Silver Series Event

#to do: Check the number of divisions. If there are more than MPO and FPO, widdle down the records

# Tournaments loaded list 

#TODO: Add touney to list

# Tournaments_Loaded_list = [('Las Vegas Classic', '9', 'NT', 'LVC'), ('Waco', 11, 'NT', 'Waco'), ('Texas States', 13, 'NT', 'Texas'), ('Jonesboro', 16, 'NT', 'JB'), ('St. Patrick', 12, 'A', 'SP'), ('Sun Kings Throwdown', 12, 'A', 'SK'), ('Vintage Open', 15, 'A', 'Vintage'), ('Mid-America Open', 17, 'A', 'MAO'), ('Victoria Open', 7, 'A', 'VO'), ('Memorial Open', 10, 'A', 'Memorial'), ('Paradise Plates', 12, 'A', 'Paradise'), ('Treasure Valley Cup', 13, 'A', 'TVC'), ('Shelly Sharpe Memorial', 3, 'A/B', 'SSM'), ('The Open Belton', 12, 'A/B', 'Belton')]
# Tournaments_Loaded_df = pd.DataFrame(Tournaments_Loaded_list, columns = ['Tournament Loaded', 'Weekend_num', 'Tier', 'Nickname'])

# #tourneys_list is a list of tourney nicknames used for iterating (nothing to do)

# tourneys_list = Tournaments_Loaded_df['Nickname'].tolist()


#to do: change the URL
event = requests.get('https://www.pdga.com/tour/event/47888')
with open("Belton.html", "w") as f:
    f.write(event.text)

with open("Belton.html") as ti:
    soup = BeautifulSoup(ti, 'html.parser')

#leave all this be...

places_t = soup.find_all('td', class_ = 'place')
places = []
for entry in places_t:
    place = entry.get_text()
    places.append(place)
    
ids_t = soup.find_all('td', class_ = 'pdga-number')
ids = []
for entry in ids_t:
    id = entry.get_text()
    ids.append(id)

pars_t = soup.find_all(True, {'class':['par under', 'par over', 'par', 'dnf']})
pars = []
for entry in pars_t:
    par = entry.get_text()
    if par == 'E':
        par = 0
    pars.append(par)
pars.remove('Par')
pars.remove('Par')

prizes_t = soup.find_all('td', class_ = 'prize')
prizes = []
for entry in prizes_t:
    prize = entry.get_text()
    if not prize:
        prize = '$0'
    prize = prize.replace(',', '')
    prize = prize.strip('$')
    prizes.append(prize)

totals_t = soup.find_all('td', class_ = 'total')
totals = []
for entry in totals_t:
    total = entry.get_text()
    totals.append(total)    


#to do: change the df name, change column names

Belton_df = pd.DataFrame(list(zip(places, ids, pars, prizes, totals)), columns = ['Belton_place', 'player_id', 'Belton_par', 'Belton_prize', 'total'])

#clean up DNFs. Putting in nulls instead of trash results.

#TODO: change the df name, change column names

Belton_df.loc[Belton_df.total == 'DNF', 'Belton_place'] = np.nan
Belton_df.loc[Belton_df.total == 'DNF', 'Belton_par'] = np.nan
Belton_df.loc[Belton_df.total == 'DNF', 'Belton_prize'] = np.nan
Belton_df.loc[Belton_df.total == 'DNF', 'Belton_DNF'] = 'yes'
Belton_df.loc[Belton_df.total != 'DNF', 'Belton_DNF'] = 'no'


#drop total column

#TODO: change the df name

Belton_df = Belton_df.drop(columns = 'total')

#TODO: widdle records down here if there is more than MPO and FPO...

Belton_df = Belton_df.head(145)

#TODO: merge with p_e using correct df name

# players_events_df = players_events_df.merge(Belton_df, left_on = 'id', right_on = 'player_id', how = 'outer')

# #players_events_df cleanup (no to-dos)...

#     #worried about "settingwithcopy" warning (https://www.dataquest.io/blog/settingwithcopywarning/)
#     #at the end... destroy the "player_id" column in p_e

#     #Adding players who played in this event but are not in the dataframe yet

# players_events_df_nulls = players_events_df[players_events_df['name'].isnull()] #these are those players

#     #adding their name
# for ind in players_events_df_nulls.index:
#     try:
#         player_page = "https://www.pdga.com/player/" + players_events_df_nulls['player_id'][ind]
#     except:
#         continue
#     player_get = requests.get(player_page)
#     soup = BeautifulSoup(player_get.content, 'html.parser')
#     name_t = soup.find(True, {'class' : ['panel-pane pane-page-title', 'panel-pane pane-page-title E']})
#     soup2 = BeautifulSoup(str(name_t), 'html.parser')
#     name_u = soup2.find('h1')
#     try:
#         name_z = name_u.text
#     except:
#         continue
#     name_parts = name_z.split()
#     name = name_parts[0][0] + '.' + ' ' + name_parts[1]
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'name'] = name
    
#     #adding their id
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'id'] = players_events_df_nulls['player_id'][ind]
    
#     #adding their division
#     division_t = soup.find('td', class_ = 'division')
#     try:
#         division = division_t.get_text()
#     except:
#         continue
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'division'] = division.strip()

#     #adding their country
    
#     location_t = soup.find('li', class_ = 'location')
#     location_u = location_t.text
#     location_u_split = location_u.split(':')
#     location = location_u_split[1]
#     country_t = location.split(',')[-1]
#     country_u = country_t.replace('Classification', '')
#     country = country_u.strip()
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'country'] = country

#     #adding their state_province
    
#     state_t = location.split(',')[-2]
#     state = state_t.strip()
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'state_province'] = state

# #and drop the player_id column

# players_events_df = players_events_df.drop(columns = 'player_id')


# #change division entry names (nothing to do here)
# players_events_df['division'] = sqlit("SELECT REPLACE(division, 'Open Women', 'FPO') as division FROM players_events_df")
# players_events_df['division'] = sqlit("SELECT REPLACE(division, 'Open', 'MPO') as division FROM players_events_df")

# #Player adds?






# #ADDING STATS

# #TODO: change column names and values of best scores
# players_events_df.loc[players_events_df.division == 'MPO', 'Belton_par_best'] = -43
# players_events_df.loc[players_events_df.division == 'FPO', 'Belton_par_best'] = -6

# #find cash_std MPO

# #TODO: change entries in SQL and array
# df = sqlit("SELECT name, division, Belton_par, Belton_prize from players_events_df WHERE division = 'MPO' AND Belton_prize IS NOT NULL AND Belton_prize != '0'")
# array = df['Belton_par'].to_numpy()
# array = array.astype(int)
# std_M = array.std()

# #set MPO cash_std

# #TODO: change entries
# players_events_df.loc[players_events_df.division == 'MPO', 'Belton_cash_std'] = std_M

# #find cash_std FPO

# #TODO: change entries in SQL and array, and variable
# df = sqlit("SELECT name, division, Belton_par, Belton_prize from players_events_df WHERE division = 'FPO' AND Belton_prize IS NOT NULL AND Belton_prize != '0'")
# array = df['Belton_par'].to_numpy()
# array = array.astype(int)
# std_F = array.std()


# #set FPO cash_std FPO
# #TODO: change entries and variable
# players_events_df.loc[players_events_df.division == 'FPO', 'Belton_cash_std'] = std_F

# #Set std_away
# #TODO: change column names


# players_events_df['Belton_par'] = players_events_df['Belton_par'].astype(float)
# players_events_df['Belton_par_best'] = players_events_df['Belton_par_best'].astype(float)
# players_events_df['Belton_std_away'] = (players_events_df['Belton_par'] - players_events_df['Belton_par_best'])/players_events_df['Belton_cash_std']




# #Setting null DNFs

# #TODO add DNF to null list

# players_events_df.loc[players_events_df.LVC_DNF.isnull(), 'LVC_DNF'] = 'no'
# players_events_df.loc[players_events_df.Waco_DNF.isnull(), 'Waco_DNF'] = 'no'
# players_events_df.loc[players_events_df.Texas_DNF.isnull(), 'Texas_DNF'] = 'no'
# players_events_df.loc[players_events_df.JB_DNF.isnull(), 'JB_DNF'] = 'no'
# players_events_df.loc[players_events_df.SP_DNF.isnull(), 'SP_DNF'] = 'no'
# players_events_df.loc[players_events_df.SK_DNF.isnull(), 'SK_DNF'] = 'no'
# players_events_df.loc[players_events_df.Vintage_DNF.isnull(), 'Vintage_DNF'] = 'no'
# players_events_df.loc[players_events_df.MAO_DNF.isnull(), 'MAO_DNF'] = 'no'
# players_events_df.loc[players_events_df.VO_DNF.isnull(), 'VO_DNF'] = 'no'
# players_events_df.loc[players_events_df.Memorial_DNF.isnull(), 'Memorial_DNF'] = 'no'
# players_events_df.loc[players_events_df.Paradise_DNF.isnull(), 'Paradise_DNF'] = 'no'
# players_events_df.loc[players_events_df.TVC_DNF.isnull(), 'TVC_DNF'] = 'no'
# players_events_df.loc[players_events_df.SSM_DNF.isnull(), 'SSM_DNF'] = 'no'
# players_events_df.loc[players_events_df.Belton_DNF.isnull(), 'Belton_DNF'] = 'no'



# #Events Played column

# #TODO add tourney to loop (can automate this)

# events_played_list = []
# for ind in players_events_df.index:
#     n = 0
#     if pd.notnull(players_events_df['LVC_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Waco_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Texas_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['JB_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['SP_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['SK_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Vintage_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['MAO_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['VO_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Memorial_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Paradise_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['TVC_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['SSM_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Belton_par'][ind]):
#         n += 1
#     events_played_list.append(n)
    
# players_events_df['events_played'] = events_played_list


# #change places for non-attended events to "0"

# # Previously...TODO: add event to list

# # players_events_df.loc[players_events_df.LVC_par.isnull(), 'LVC_place'] = 0
# # players_events_df.loc[players_events_df.Waco_par.isnull(), 'Waco_place'] = 0
# # players_events_df.loc[players_events_df.Texas_par.isnull(), 'Texas_place'] = 0
# # players_events_df.loc[players_events_df.JB_par.isnull(), 'JB_place'] = 0
# # players_events_df.loc[players_events_df.SP_par.isnull(), 'SP_place'] = 0
# # players_events_df.loc[players_events_df.SK_par.isnull(), 'SK_place'] = 0
# # players_events_df.loc[players_events_df.Vintage_par.isnull(), 'Vintage_place'] = 0
# # players_events_df.loc[players_events_df.MAO_par.isnull(), 'MAO_place'] = 0
# # players_events_df.loc[players_events_df.VO_par.isnull(), 'VO_place'] = 0
# # players_events_df.loc[players_events_df.Memorial_par.isnull(), 'Memorial_place'] = 0
# # players_events_df.loc[players_events_df.Paradise_par.isnull(), 'Paradise_place'] = 0
# # players_events_df.loc[players_events_df.TVC_par.isnull(), 'TVC_place'] = 0

# #Now (NO TO DO)

# for tn in tourneys_list:
#     players_events_df.loc[players_events_df[f'{tn}_par'].isnull(), f'{tn}_place'] = 0


# #LOOK AGAIN!

# #change null cashes to '0'

# #Previously TODO: add event to list

# # players_events_df.loc[players_events_df.LVC_prize.isnull(), 'LVC_prize'] = 0
# # players_events_df.loc[players_events_df.Waco_prize.isnull(), 'Waco_prize'] = 0
# # players_events_df.loc[players_events_df.Texas_prize.isnull(), 'Texas_prize'] = 0
# # players_events_df.loc[players_events_df.JB_prize.isnull(), 'JB_prize'] = 0
# # players_events_df.loc[players_events_df.SP_prize.isnull(), 'SP_prize'] = 0
# # players_events_df.loc[players_events_df.SK_prize.isnull(), 'SK_prize'] = 0
# # players_events_df.loc[players_events_df.Vintage_prize.isnull(), 'Vintage_prize'] = 0
# # players_events_df.loc[players_events_df.MAO_prize.isnull(), 'MAO_prize'] = 0
# # players_events_df.loc[players_events_df.VO_prize.isnull(), 'VO_prize'] = 0
# # players_events_df.loc[players_events_df.Memorial_prize.isnull(), 'Memorial_prize'] = 0
# # players_events_df.loc[players_events_df.Paradise_prize.isnull(), 'Paradise_prize'] = 0
# # players_events_df.loc[players_events_df.TVC_prize.isnull(), 'TVC_prize'] = 0

# #Now (NO TO DO)

# for tn in tourneys_list:
#     players_events_df.loc[players_events_df[f'{tn}_prize'].isnull(), f'{tn}_prize'] = 0


# #LOOK AGAIN!

# #Compute average placement

# #TODO: add event to SQL

# ap_sql = sqlit("SELECT (CAST(LVC_place as int) + CAST(Waco_place as int) + CAST(Texas_place as int) + CAST(JB_place as int) + CAST(SP_place as int) + CAST(SK_place as int) + CAST(Vintage_place as int) + CAST(MAO_place as int) + CAST(VO_place as int) + CAST(Memorial_place as int) + CAST(Paradise_place as int) + CAST(TVC_place as int) + CAST(SSM_place as int) + CAST(Belton_place as int))/(events_played*1.0) as ap FROM players_events_df")
# ap_list = ap_sql['ap'].tolist()
# players_events_df['average_place'] = ap_list

# #Compute total cash

# #Previous TODO: add event to equation
# #players_events_df['total_cash'] = players_events_df.LVC_prize.astype(int) + players_events_df.Waco_prize.astype(int) + players_events_df.Texas_prize.astype(int) + players_events_df.JB_prize.astype(int)  + players_events_df.SP_prize.astype(int) + players_events_df.SK_prize.astype(int) + players_events_df.Vintage_prize.astype(int) + players_events_df.MAO_prize.astype(int) + players_events_df.VO_prize.astype(int) + players_events_df.Memorial_prize.astype(int) + players_events_df.Paradise_prize.astype(int) + players_events_df.TVC_prize.astype(int)

# #Updated: TODO: Nothing!

# players_events_df['total_cash'] = 0
# for tn in tourneys_list:
#     players_events_df['total_cash'] += players_events_df[f'{tn}_prize'].astype(int)

# #create player prize df

# #TODO: add event to sql

# player_prize_df = sqlit("SELECT name, id, events_played, LVC_prize, Waco_prize, Texas_prize, JB_prize, SP_prize, SK_prize, Vintage_prize, MAO_prize, VO_prize, Memorial_prize, Paradise_prize, TVC_prize, SSM_prize, Belton_prize, total_cash, total_cash/events_played as avg_cash from players_events_df ORDER BY total_cash DESC")

# #create participant lists

# #TODO: Add to list with new df and variable

# LVC_participants_list = LVC_df['player_id'].to_list()
# Waco_participants_list = Waco_df['player_id'].to_list()
# Texas_participants_list = Texas_df['player_id'].to_list()
# JB_participants_list = JB_df['player_id'].to_list()
# SP_participants_list = SP_df['player_id'].to_list()
# SK_participants_list = SK_df['player_id'].to_list()
# Vintage_participants_list = Vintage_df['player_id'].to_list()
# MAO_participants_list = MAO_df['player_id'].to_list()
# VO_participants_list = VO_df['player_id'].to_list()
# Memorial_participants_list = Memorial_df['player_id'].to_list()
# Paradise_participants_list = Paradise_df['player_id'].to_list()
# TVC_participants_list = TVC_df['player_id'].to_list()
# SSM_participants_list = SSM_df['player_id'].to_list()
# Belton_participants_list = Belton_df['player_id'].to_list()

# #TODO: Add list to dictionary:

# participants_list_dict = {
#     'LVC' : LVC_participants_list,
#     'Waco' : Waco_participants_list,
#     'Texas' : Texas_participants_list,
#     'JB' : JB_participants_list,
#     'SP' : SP_participants_list,
#     'SK' : SK_participants_list,
#     'Vintage' : Vintage_participants_list,
#     'MAO' : MAO_participants_list,
#     'VO' : VO_participants_list,
#     'Memorial' : Memorial_participants_list,
#     'Paradise' : Paradise_participants_list,
#     'TVC' : TVC_participants_list,
#     'SSM' : SSM_participants_list,
#     'Belton' : Belton_participants_list
# }

# Dogwood Crosstown Classic

In [80]:
#Republic Wireless presents the 38th Annual Dogwood Crosstown Classic, Driven by CADL


#to do: Check the number of divisions. If there are more than MPO and FPO, widdle down the records

# Tournaments loaded list 

#TODO: Add touney to list

# Tournaments_Loaded_list = [('Las Vegas Classic', '9', 'NT', 'LVC'), ('Waco', 11, 'NT', 'Waco'), ('Texas States', 13, 'NT', 'Texas'), ('Jonesboro', 16, 'NT', 'JB'), ('St. Patrick', 12, 'A', 'SP'), ('Sun Kings Throwdown', 12, 'A', 'SK'), ('Vintage Open', 15, 'A', 'Vintage'), ('Mid-America Open', 17, 'A', 'MAO'), ('Victoria Open', 7, 'A', 'VO'), ('Memorial Open', 10, 'A', 'Memorial'), ('Paradise Plates', 12, 'A', 'Paradise'), ('Treasure Valley Cup', 13, 'A', 'TVC'), ('Shelly Sharpe Memorial', 3, 'A/B', 'SSM'), ('The Open Belton', 12, 'A/B', 'Belton'), ('Dogwood Classic', 13, 'A', 'Dogwood')]
# Tournaments_Loaded_df = pd.DataFrame(Tournaments_Loaded_list, columns = ['Tournament Loaded', 'Weekend_num', 'Tier', 'Nickname'])

# #tourneys_list is a list of tourney nicknames used for iterating (nothing to do)

# tourneys_list = Tournaments_Loaded_df['Nickname'].tolist()


# #to do: change the URL
# event = requests.get('https://www.pdga.com/tour/event/47952')
# with open("Dogwood.html", "w") as f:
#     f.write(event.text)

with open("Dogwood.html") as ti:
    soup = BeautifulSoup(ti, 'html.parser')

#leave all this be...

places_t = soup.find_all('td', class_ = 'place')
places = []
for entry in places_t:
    place = entry.get_text()
    places.append(place)
    
ids_t = soup.find_all('td', class_ = 'pdga-number')
ids = []
for entry in ids_t:
    id = entry.get_text()
    ids.append(id)

pars_t = soup.find_all(True, {'class':['par under', 'par over', 'par', 'dnf']})
pars = []
for entry in pars_t:
    par = entry.get_text()
    if par == 'E':
        par = 0
    pars.append(par)
pars.remove('Par')
pars.remove('Par')

prizes_t = soup.find_all('td', class_ = 'prize')
prizes = []
for entry in prizes_t:
    prize = entry.get_text()
    if not prize:
        prize = '$0'
    prize = prize.replace(',', '')
    prize = prize.strip('$')
    prizes.append(prize)

totals_t = soup.find_all('td', class_ = 'total')
totals = []
for entry in totals_t:
    total = entry.get_text()
    totals.append(total)    


#to do: change the df name, change column names

Dogwood_df = pd.DataFrame(list(zip(places, ids, pars, prizes, totals)), columns = ['Dogwood_place', 'player_id', 'Dogwood_par', 'Dogwood_prize', 'total'])

#clean up DNFs. Putting in nulls instead of trash results.

#TODO: change the df name, change column names

Dogwood_df.loc[Dogwood_df.total == 'DNF', 'Dogwood_place'] = np.nan
Dogwood_df.loc[Dogwood_df.total == 'DNF', 'Dogwood_par'] = np.nan
Dogwood_df.loc[Dogwood_df.total == 'DNF', 'Dogwood_prize'] = np.nan
Dogwood_df.loc[Dogwood_df.total == 'DNF', 'Dogwood_DNF'] = 'yes'
Dogwood_df.loc[Dogwood_df.total != 'DNF', 'Dogwood_DNF'] = 'no'


#drop total column

#TODO: change the df name

Dogwood_df = Dogwood_df.drop(columns = 'total')

#TODO: widdle records down here if there is more than MPO and FPO...

Dogwood_df = Dogwood_df.head(60)

#TODO: merge with p_e using correct df name

# players_events_df = players_events_df.merge(Dogwood_df, left_on = 'id', right_on = 'player_id', how = 'outer')

# #players_events_df cleanup (no to-dos)...

#     #worried about "settingwithcopy" warning (https://www.dataquest.io/blog/settingwithcopywarning/)
#     #at the end... destroy the "player_id" column in p_e

#     #Adding players who played in this event but are not in the dataframe yet

# players_events_df_nulls = players_events_df[players_events_df['name'].isnull()] #these are those players

#     #adding their name
# for ind in players_events_df_nulls.index:
#     try:
#         player_page = "https://www.pdga.com/player/" + players_events_df_nulls['player_id'][ind]
#     except:
#         continue
#     player_get = requests.get(player_page)
#     soup = BeautifulSoup(player_get.content, 'html.parser')
#     name_t = soup.find(True, {'class' : ['panel-pane pane-page-title', 'panel-pane pane-page-title E']})
#     soup2 = BeautifulSoup(str(name_t), 'html.parser')
#     name_u = soup2.find('h1')
#     try:
#         name_z = name_u.text
#     except:
#         continue
#     name_parts = name_z.split()
#     name = name_parts[0][0] + '.' + ' ' + name_parts[1]
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'name'] = name
    
#     #adding their id
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'id'] = players_events_df_nulls['player_id'][ind]
    
#     #adding their division
#     division_t = soup.find('td', class_ = 'division')
#     try:
#         division = division_t.get_text()
#     except:
#         continue
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'division'] = division.strip()

#     #adding their country
    
#     location_t = soup.find('li', class_ = 'location')
#     location_u = location_t.text
#     location_u_split = location_u.split(':')
#     location = location_u_split[1]
#     country_t = location.split(',')[-1]
#     country_u = country_t.replace('Classification', '')
#     country = country_u.strip()
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'country'] = country

#     #adding their state_province
    
#     state_t = location.split(',')[-2]
#     state = state_t.strip()
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'state_province'] = state

# #and drop the player_id column

# players_events_df = players_events_df.drop(columns = 'player_id')


# #change division entry names (nothing to do here)
# players_events_df['division'] = sqlit("SELECT REPLACE(division, 'Open Women', 'FPO') as division FROM players_events_df")
# players_events_df['division'] = sqlit("SELECT REPLACE(division, 'Open', 'MPO') as division FROM players_events_df")

# #Player adds?






# #ADDING STATS

# #TODO: change column names and values of best scores
# players_events_df.loc[players_events_df.division == 'MPO', 'Dogwood_par_best'] = -29
# players_events_df.loc[players_events_df.division == 'FPO', 'Dogwood_par_best'] = +9

# #find cash_std MPO

# #TODO: change entries in SQL and array
# df = sqlit("SELECT name, division, Dogwood_par, Dogwood_prize from players_events_df WHERE division = 'MPO' AND Dogwood_prize IS NOT NULL AND Dogwood_prize != '0'")
# array = df['Dogwood_par'].to_numpy()
# array = array.astype(int)
# std_M = array.std()

# #set MPO cash_std

# #TODO: change entries
# players_events_df.loc[players_events_df.division == 'MPO', 'Dogwood_cash_std'] = std_M

# #find cash_std FPO

# #TODO: change entries in SQL and array, and variable
# df = sqlit("SELECT name, division, Dogwood_par, Dogwood_prize from players_events_df WHERE division = 'FPO' AND Dogwood_prize IS NOT NULL AND Dogwood_prize != '0'")
# array = df['Dogwood_par'].to_numpy()
# array = array.astype(int)
# std_F = array.std()


# #set FPO cash_std FPO
# #TODO: change entries and variable
# players_events_df.loc[players_events_df.division == 'FPO', 'Dogwood_cash_std'] = std_F

# #Set std_away
# #TODO: change column names


# players_events_df['Dogwood_par'] = players_events_df['Dogwood_par'].astype(float)
# players_events_df['Dogwood_par_best'] = players_events_df['Dogwood_par_best'].astype(float)
# players_events_df['Dogwood_std_away'] = (players_events_df['Dogwood_par'] - players_events_df['Dogwood_par_best'])/players_events_df['Dogwood_cash_std']




# #Setting null DNFs

# #TODO add DNF to null list

# players_events_df.loc[players_events_df.LVC_DNF.isnull(), 'LVC_DNF'] = 'no'
# players_events_df.loc[players_events_df.Waco_DNF.isnull(), 'Waco_DNF'] = 'no'
# players_events_df.loc[players_events_df.Texas_DNF.isnull(), 'Texas_DNF'] = 'no'
# players_events_df.loc[players_events_df.JB_DNF.isnull(), 'JB_DNF'] = 'no'
# players_events_df.loc[players_events_df.SP_DNF.isnull(), 'SP_DNF'] = 'no'
# players_events_df.loc[players_events_df.SK_DNF.isnull(), 'SK_DNF'] = 'no'
# players_events_df.loc[players_events_df.Vintage_DNF.isnull(), 'Vintage_DNF'] = 'no'
# players_events_df.loc[players_events_df.MAO_DNF.isnull(), 'MAO_DNF'] = 'no'
# players_events_df.loc[players_events_df.VO_DNF.isnull(), 'VO_DNF'] = 'no'
# players_events_df.loc[players_events_df.Memorial_DNF.isnull(), 'Memorial_DNF'] = 'no'
# players_events_df.loc[players_events_df.Paradise_DNF.isnull(), 'Paradise_DNF'] = 'no'
# players_events_df.loc[players_events_df.TVC_DNF.isnull(), 'TVC_DNF'] = 'no'
# players_events_df.loc[players_events_df.SSM_DNF.isnull(), 'SSM_DNF'] = 'no'
# players_events_df.loc[players_events_df.Belton_DNF.isnull(), 'Belton_DNF'] = 'no'
# players_events_df.loc[players_events_df.Dogwood_DNF.isnull(), 'Dogwood_DNF'] = 'no'



# #Events Played column

# #TODO add tourney to loop (can automate this)

# events_played_list = []
# for ind in players_events_df.index:
#     n = 0
#     if pd.notnull(players_events_df['LVC_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Waco_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Texas_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['JB_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['SP_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['SK_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Vintage_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['MAO_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['VO_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Memorial_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Paradise_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['TVC_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['SSM_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Belton_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Dogwood_par'][ind]):
#         n += 1
#     events_played_list.append(n)
    
# players_events_df['events_played'] = events_played_list


# #change places for non-attended events to "0"

# # Previously...TODO: add event to list

# # players_events_df.loc[players_events_df.LVC_par.isnull(), 'LVC_place'] = 0
# # players_events_df.loc[players_events_df.Waco_par.isnull(), 'Waco_place'] = 0
# # players_events_df.loc[players_events_df.Texas_par.isnull(), 'Texas_place'] = 0
# # players_events_df.loc[players_events_df.JB_par.isnull(), 'JB_place'] = 0
# # players_events_df.loc[players_events_df.SP_par.isnull(), 'SP_place'] = 0
# # players_events_df.loc[players_events_df.SK_par.isnull(), 'SK_place'] = 0
# # players_events_df.loc[players_events_df.Vintage_par.isnull(), 'Vintage_place'] = 0
# # players_events_df.loc[players_events_df.MAO_par.isnull(), 'MAO_place'] = 0
# # players_events_df.loc[players_events_df.VO_par.isnull(), 'VO_place'] = 0
# # players_events_df.loc[players_events_df.Memorial_par.isnull(), 'Memorial_place'] = 0
# # players_events_df.loc[players_events_df.Paradise_par.isnull(), 'Paradise_place'] = 0
# # players_events_df.loc[players_events_df.TVC_par.isnull(), 'TVC_place'] = 0

# #Now (NO TO DO)

# for tn in tourneys_list:
#     players_events_df.loc[players_events_df[f'{tn}_par'].isnull(), f'{tn}_place'] = 0


# #LOOK AGAIN!

# #change null cashes to '0'

# #Previously TODO: add event to list

# # players_events_df.loc[players_events_df.LVC_prize.isnull(), 'LVC_prize'] = 0
# # players_events_df.loc[players_events_df.Waco_prize.isnull(), 'Waco_prize'] = 0
# # players_events_df.loc[players_events_df.Texas_prize.isnull(), 'Texas_prize'] = 0
# # players_events_df.loc[players_events_df.JB_prize.isnull(), 'JB_prize'] = 0
# # players_events_df.loc[players_events_df.SP_prize.isnull(), 'SP_prize'] = 0
# # players_events_df.loc[players_events_df.SK_prize.isnull(), 'SK_prize'] = 0
# # players_events_df.loc[players_events_df.Vintage_prize.isnull(), 'Vintage_prize'] = 0
# # players_events_df.loc[players_events_df.MAO_prize.isnull(), 'MAO_prize'] = 0
# # players_events_df.loc[players_events_df.VO_prize.isnull(), 'VO_prize'] = 0
# # players_events_df.loc[players_events_df.Memorial_prize.isnull(), 'Memorial_prize'] = 0
# # players_events_df.loc[players_events_df.Paradise_prize.isnull(), 'Paradise_prize'] = 0
# # players_events_df.loc[players_events_df.TVC_prize.isnull(), 'TVC_prize'] = 0

# #Now (NO TO DO)

# for tn in tourneys_list:
#     players_events_df.loc[players_events_df[f'{tn}_prize'].isnull(), f'{tn}_prize'] = 0


# #LOOK AGAIN!

# #Compute average placement

# #TODO: add event to SQL

# ap_sql = sqlit("SELECT (CAST(LVC_place as int) + CAST(Waco_place as int) + CAST(Texas_place as int) + CAST(JB_place as int) + CAST(SP_place as int) + CAST(SK_place as int) + CAST(Vintage_place as int) + CAST(MAO_place as int) + CAST(VO_place as int) + CAST(Memorial_place as int) + CAST(Paradise_place as int) + CAST(TVC_place as int) + CAST(SSM_place as int) + CAST(Belton_place as int) + CAST(Dogwood_place as int))/(events_played*1.0) as ap FROM players_events_df")
# ap_list = ap_sql['ap'].tolist()
# players_events_df['average_place'] = ap_list

# #Compute total cash

# #Previous TODO: add event to equation
# #players_events_df['total_cash'] = players_events_df.LVC_prize.astype(int) + players_events_df.Waco_prize.astype(int) + players_events_df.Texas_prize.astype(int) + players_events_df.JB_prize.astype(int)  + players_events_df.SP_prize.astype(int) + players_events_df.SK_prize.astype(int) + players_events_df.Vintage_prize.astype(int) + players_events_df.MAO_prize.astype(int) + players_events_df.VO_prize.astype(int) + players_events_df.Memorial_prize.astype(int) + players_events_df.Paradise_prize.astype(int) + players_events_df.TVC_prize.astype(int)

# #Updated: TODO: Nothing!

# players_events_df['total_cash'] = 0
# for tn in tourneys_list:
#     players_events_df['total_cash'] += players_events_df[f'{tn}_prize'].astype(int)

# #create player prize df

# #TODO: add event to sql

# player_prize_df = sqlit("SELECT name, id, events_played, LVC_prize, Waco_prize, Texas_prize, JB_prize, SP_prize, SK_prize, Vintage_prize, MAO_prize, VO_prize, Memorial_prize, Paradise_prize, TVC_prize, SSM_prize, Belton_prize, Dogwood_prize, total_cash, total_cash/events_played as avg_cash from players_events_df ORDER BY total_cash DESC")

# #create participant lists

# #TODO: Add to list with new df and variable

# LVC_participants_list = LVC_df['player_id'].to_list()
# Waco_participants_list = Waco_df['player_id'].to_list()
# Texas_participants_list = Texas_df['player_id'].to_list()
# JB_participants_list = JB_df['player_id'].to_list()
# SP_participants_list = SP_df['player_id'].to_list()
# SK_participants_list = SK_df['player_id'].to_list()
# Vintage_participants_list = Vintage_df['player_id'].to_list()
# MAO_participants_list = MAO_df['player_id'].to_list()
# VO_participants_list = VO_df['player_id'].to_list()
# Memorial_participants_list = Memorial_df['player_id'].to_list()
# Paradise_participants_list = Paradise_df['player_id'].to_list()
# TVC_participants_list = TVC_df['player_id'].to_list()
# SSM_participants_list = SSM_df['player_id'].to_list()
# Belton_participants_list = Belton_df['player_id'].to_list()
# Dogwood_participants_list = Dogwood_df['player_id'].to_list()

# #TODO: Add list to dictionary:

# participants_list_dict = {
#     'LVC' : LVC_participants_list,
#     'Waco' : Waco_participants_list,
#     'Texas' : Texas_participants_list,
#     'JB' : JB_participants_list,
#     'SP' : SP_participants_list,
#     'SK' : SK_participants_list,
#     'Vintage' : Vintage_participants_list,
#     'MAO' : MAO_participants_list,
#     'VO' : VO_participants_list,
#     'Memorial' : Memorial_participants_list,
#     'Paradise' : Paradise_participants_list,
#     'TVC' : TVC_participants_list,
#     'SSM' : SSM_participants_list,
#     'Belton' : Belton_participants_list,
#     'Dogwood' : Dogwood_participants_list
# }

# Bowling Green Open

In [81]:
#Bowling Green Open


#to do: Check the number of divisions. If there are more than MPO and FPO, widdle down the records

# Tournaments loaded list 

#TODO: Add touney to list

# Tournaments_Loaded_list = [('Las Vegas Classic', '9', 'NT', 'LVC'),
#                            ('Waco', 11, 'NT', 'Waco'),
#                            ('Texas States', 13, 'NT', 'Texas'),
#                            ('Jonesboro', 16, 'NT', 'JB'),
#                            ('St. Patrick', 12, 'A', 'SP'),
#                            ('Sun Kings Throwdown', 12, 'A', 'SK'),
#                            ('Vintage Open', 15, 'A', 'Vintage'),
#                            ('Mid-America Open', 17, 'A', 'MAO'),
#                            ('Victoria Open', 7, 'A', 'VO'),
#                            ('Memorial Open', 10, 'A', 'Memorial'),
#                            ('Paradise Plates', 12, 'A', 'Paradise'),
#                            ('Treasure Valley Cup', 13, 'A', 'TVC'),
#                            ('Shelly Sharpe Memorial', 3, 'A/B', 'SSM'),
#                            ('The Open Belton', 12, 'A/B', 'Belton'),
#                            ('Dogwood Classic', 13, 'A', 'Dogwood'),
#                            ('Bowling Green Open', 17, 'A', 'BGO')
#                           ]

# Tournaments_Loaded_df = pd.DataFrame(Tournaments_Loaded_list, columns = ['Tournament Loaded', 'Weekend_num', 'Tier', 'Nickname'])

# #tourneys_list is a list of tourney nicknames used for iterating (nothing to do)

# tourneys_list = Tournaments_Loaded_df['Nickname'].tolist()



# #to do: change the URL
# event = requests.get('https://www.pdga.com/tour/event/47882')
# with open("BGO.html", "w") as f:
#     f.write(event.text)

with open("BGO.html") as ti:
    soup = BeautifulSoup(ti, 'html.parser')



#leave all this be...

places_t = soup.find_all('td', class_ = 'place')
places = []
for entry in places_t:
    place = entry.get_text()
    places.append(place)
    
ids_t = soup.find_all('td', class_ = 'pdga-number')
ids = []
for entry in ids_t:
    id = entry.get_text()
    ids.append(id)

pars_t = soup.find_all(True, {'class':['par under', 'par over', 'par', 'dnf']})
pars = []
for entry in pars_t:
    par = entry.get_text()
    if par == 'E':
        par = 0
    pars.append(par)
pars.remove('Par')
pars.remove('Par')

prizes_t = soup.find_all('td', class_ = 'prize')
prizes = []
for entry in prizes_t:
    prize = entry.get_text()
    if not prize:
        prize = '$0'
    prize = prize.replace(',', '')
    prize = prize.strip('$')
    prizes.append(prize)

totals_t = soup.find_all('td', class_ = 'total')
totals = []
for entry in totals_t:
    total = entry.get_text()
    totals.append(total)    


#to do: change the df name, change column names

BGO_df = pd.DataFrame(list(zip(places, ids, pars, prizes, totals)), columns = ['BGO_place', 'player_id', 'BGO_par', 'BGO_prize', 'total'])

#clean up DNFs. Putting in nulls instead of trash results.

#TODO: change the df name, change column names

BGO_df.loc[BGO_df.total == 'DNF', 'BGO_place'] = np.nan
BGO_df.loc[BGO_df.total == 'DNF', 'BGO_par'] = np.nan
BGO_df.loc[BGO_df.total == 'DNF', 'BGO_prize'] = np.nan
BGO_df.loc[BGO_df.total == 'DNF', 'BGO_DNF'] = 'yes'
BGO_df.loc[BGO_df.total != 'DNF', 'BGO_DNF'] = 'no'


#drop total column

#TODO: change the df name

BGO_df = BGO_df.drop(columns = 'total')

#TODO: widdle records down here if there is more than MPO and FPO...

BGO_df = BGO_df.head(90)

#TODO: merge with p_e using correct df name

# players_events_df = players_events_df.merge(BGO_df, left_on = 'id', right_on = 'player_id', how = 'outer')

# #players_events_df cleanup (no to-dos)...

#     #worried about "settingwithcopy" warning (https://www.dataquest.io/blog/settingwithcopywarning/)
#     #at the end... destroy the "player_id" column in p_e

#     #Adding players who played in this event but are not in the dataframe yet

# players_events_df_nulls = players_events_df[players_events_df['name'].isnull()] #these are those players

#     #adding their name
# for ind in players_events_df_nulls.index:
#     try:
#         player_page = "https://www.pdga.com/player/" + players_events_df_nulls['player_id'][ind]
#     except:
#         continue
#     player_get = requests.get(player_page)
#     soup = BeautifulSoup(player_get.content, 'html.parser')
#     name_t = soup.find(True, {'class' : ['panel-pane pane-page-title', 'panel-pane pane-page-title E']})
#     soup2 = BeautifulSoup(str(name_t), 'html.parser')
#     name_u = soup2.find('h1')
#     try:
#         name_z = name_u.text
#     except:
#         continue
#     name_parts = name_z.split()
#     name = name_parts[0][0] + '.' + ' ' + name_parts[1]
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'name'] = name
    
#     #adding their id
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'id'] = players_events_df_nulls['player_id'][ind]
    
#     #adding their division
#     division_t = soup.find('td', class_ = 'division')
#     try:
#         division = division_t.get_text()
#     except:
#         continue
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'division'] = division.strip()

#     #adding their country
    
#     location_t = soup.find('li', class_ = 'location')
#     location_u = location_t.text
#     location_u_split = location_u.split(':')
#     location = location_u_split[1]
#     country_t = location.split(',')[-1]
#     country_u = country_t.replace('Classification', '')
#     country = country_u.strip()
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'country'] = country

#     #adding their state_province
    
#     state_t = location.split(',')[-2]
#     state = state_t.strip()
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'state_province'] = state

# #and drop the player_id column

# players_events_df = players_events_df.drop(columns = 'player_id')


# #change division entry names (nothing to do here)
# players_events_df['division'] = sqlit("SELECT REPLACE(division, 'Open Women', 'FPO') as division FROM players_events_df")
# players_events_df['division'] = sqlit("SELECT REPLACE(division, 'Open', 'MPO') as division FROM players_events_df")

# #Player adds?






# #ADDING STATS

# #TODO: change column names and values of best scores
# players_events_df.loc[players_events_df.division == 'MPO', 'BGO_par_best'] = -33
# players_events_df.loc[players_events_df.division == 'FPO', 'BGO_par_best'] = -5

# #find cash_std MPO

# #TODO: change entries in SQL and array
# df = sqlit("SELECT name, division, BGO_par, BGO_prize from players_events_df WHERE division = 'MPO' AND BGO_prize IS NOT NULL AND BGO_prize != '0'")
# array = df['BGO_par'].to_numpy()
# array = array.astype(int)
# std_M = array.std()

# #set MPO cash_std

# #TODO: change entries
# players_events_df.loc[players_events_df.division == 'MPO', 'BGO_cash_std'] = std_M

# #find cash_std FPO

# #TODO: change entries in SQL and array, and variable
# df = sqlit("SELECT name, division, BGO_par, BGO_prize from players_events_df WHERE division = 'FPO' AND BGO_prize IS NOT NULL AND BGO_prize != '0'")
# array = df['BGO_par'].to_numpy()
# array = array.astype(int)
# std_F = array.std()


# #set FPO cash_std FPO
# #TODO: change entries and variable
# players_events_df.loc[players_events_df.division == 'FPO', 'BGO_cash_std'] = std_F

# #Set std_away
# #TODO: change column names


# players_events_df['BGO_par'] = players_events_df['BGO_par'].astype(float)
# players_events_df['BGO_par_best'] = players_events_df['BGO_par_best'].astype(float)
# players_events_df['BGO_std_away'] = (players_events_df['BGO_par'] - players_events_df['BGO_par_best'])/players_events_df['BGO_cash_std']




# #Setting null DNFs

# #TODO add DNF to null list

# players_events_df.loc[players_events_df.LVC_DNF.isnull(), 'LVC_DNF'] = 'no'
# players_events_df.loc[players_events_df.Waco_DNF.isnull(), 'Waco_DNF'] = 'no'
# players_events_df.loc[players_events_df.Texas_DNF.isnull(), 'Texas_DNF'] = 'no'
# players_events_df.loc[players_events_df.JB_DNF.isnull(), 'JB_DNF'] = 'no'
# players_events_df.loc[players_events_df.SP_DNF.isnull(), 'SP_DNF'] = 'no'
# players_events_df.loc[players_events_df.SK_DNF.isnull(), 'SK_DNF'] = 'no'
# players_events_df.loc[players_events_df.Vintage_DNF.isnull(), 'Vintage_DNF'] = 'no'
# players_events_df.loc[players_events_df.MAO_DNF.isnull(), 'MAO_DNF'] = 'no'
# players_events_df.loc[players_events_df.VO_DNF.isnull(), 'VO_DNF'] = 'no'
# players_events_df.loc[players_events_df.Memorial_DNF.isnull(), 'Memorial_DNF'] = 'no'
# players_events_df.loc[players_events_df.Paradise_DNF.isnull(), 'Paradise_DNF'] = 'no'
# players_events_df.loc[players_events_df.TVC_DNF.isnull(), 'TVC_DNF'] = 'no'
# players_events_df.loc[players_events_df.SSM_DNF.isnull(), 'SSM_DNF'] = 'no'
# players_events_df.loc[players_events_df.Belton_DNF.isnull(), 'Belton_DNF'] = 'no'
# players_events_df.loc[players_events_df.Dogwood_DNF.isnull(), 'Dogwood_DNF'] = 'no'
# players_events_df.loc[players_events_df.BGO_DNF.isnull(), 'BGO_DNF'] = 'no'



# #Events Played column

# #TODO add tourney to loop (can automate this)

# events_played_list = []
# for ind in players_events_df.index:
#     n = 0
#     if pd.notnull(players_events_df['LVC_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Waco_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Texas_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['JB_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['SP_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['SK_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Vintage_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['MAO_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['VO_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Memorial_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Paradise_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['TVC_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['SSM_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Belton_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Dogwood_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['BGO_par'][ind]):
#         n += 1
#     events_played_list.append(n)
    
# players_events_df['events_played'] = events_played_list


# #change places for non-attended events to "0"

# # Previously...TODO: add event to list

# # players_events_df.loc[players_events_df.LVC_par.isnull(), 'LVC_place'] = 0
# # players_events_df.loc[players_events_df.Waco_par.isnull(), 'Waco_place'] = 0
# # players_events_df.loc[players_events_df.Texas_par.isnull(), 'Texas_place'] = 0
# # players_events_df.loc[players_events_df.JB_par.isnull(), 'JB_place'] = 0
# # players_events_df.loc[players_events_df.SP_par.isnull(), 'SP_place'] = 0
# # players_events_df.loc[players_events_df.SK_par.isnull(), 'SK_place'] = 0
# # players_events_df.loc[players_events_df.Vintage_par.isnull(), 'Vintage_place'] = 0
# # players_events_df.loc[players_events_df.MAO_par.isnull(), 'MAO_place'] = 0
# # players_events_df.loc[players_events_df.VO_par.isnull(), 'VO_place'] = 0
# # players_events_df.loc[players_events_df.Memorial_par.isnull(), 'Memorial_place'] = 0
# # players_events_df.loc[players_events_df.Paradise_par.isnull(), 'Paradise_place'] = 0
# # players_events_df.loc[players_events_df.TVC_par.isnull(), 'TVC_place'] = 0

# #Now (NO TO DO)

# for tn in tourneys_list:
#     players_events_df.loc[players_events_df[f'{tn}_par'].isnull(), f'{tn}_place'] = 0


# #LOOK AGAIN!

# #change null cashes to '0'

# #Previously TODO: add event to list

# # players_events_df.loc[players_events_df.LVC_prize.isnull(), 'LVC_prize'] = 0
# # players_events_df.loc[players_events_df.Waco_prize.isnull(), 'Waco_prize'] = 0
# # players_events_df.loc[players_events_df.Texas_prize.isnull(), 'Texas_prize'] = 0
# # players_events_df.loc[players_events_df.JB_prize.isnull(), 'JB_prize'] = 0
# # players_events_df.loc[players_events_df.SP_prize.isnull(), 'SP_prize'] = 0
# # players_events_df.loc[players_events_df.SK_prize.isnull(), 'SK_prize'] = 0
# # players_events_df.loc[players_events_df.Vintage_prize.isnull(), 'Vintage_prize'] = 0
# # players_events_df.loc[players_events_df.MAO_prize.isnull(), 'MAO_prize'] = 0
# # players_events_df.loc[players_events_df.VO_prize.isnull(), 'VO_prize'] = 0
# # players_events_df.loc[players_events_df.Memorial_prize.isnull(), 'Memorial_prize'] = 0
# # players_events_df.loc[players_events_df.Paradise_prize.isnull(), 'Paradise_prize'] = 0
# # players_events_df.loc[players_events_df.TVC_prize.isnull(), 'TVC_prize'] = 0

# #Now (NO TO DO)

# for tn in tourneys_list:
#     players_events_df.loc[players_events_df[f'{tn}_prize'].isnull(), f'{tn}_prize'] = 0


# #LOOK AGAIN!

# #Compute average placement

# #TODO: add event to SQL

# ap_sql = sqlit('''SELECT (CAST(LVC_place as int)
#                             + CAST(Waco_place as int) 
#                             + CAST(Texas_place as int) 
#                             + CAST(JB_place as int) 
#                             + CAST(SP_place as int) 
#                             + CAST(SK_place as int) 
#                             + CAST(Vintage_place as int) 
#                             + CAST(MAO_place as int) 
#                             + CAST(VO_place as int) 
#                             + CAST(Memorial_place as int) 
#                             + CAST(Paradise_place as int) 
#                             + CAST(TVC_place as int) 
#                             + CAST(SSM_place as int) 
#                             + CAST(Belton_place as int) 
#                             + CAST(Dogwood_place as int)
#                             + CAST(BGO_place as int)
#                             )/(events_played*1.0) as ap FROM players_events_df''')

# ap_list = ap_sql['ap'].tolist()
# players_events_df['average_place'] = ap_list

# #Compute total cash

# #Previous TODO: add event to equation
# #players_events_df['total_cash'] = players_events_df.LVC_prize.astype(int) + players_events_df.Waco_prize.astype(int) + players_events_df.Texas_prize.astype(int) + players_events_df.JB_prize.astype(int)  + players_events_df.SP_prize.astype(int) + players_events_df.SK_prize.astype(int) + players_events_df.Vintage_prize.astype(int) + players_events_df.MAO_prize.astype(int) + players_events_df.VO_prize.astype(int) + players_events_df.Memorial_prize.astype(int) + players_events_df.Paradise_prize.astype(int) + players_events_df.TVC_prize.astype(int)

# #Updated: TODO: Nothing!

# players_events_df['total_cash'] = 0
# for tn in tourneys_list:
#     players_events_df['total_cash'] += players_events_df[f'{tn}_prize'].astype(int)

# #create player prize df

# #TODO: add event to sql

# player_prize_df = sqlit('''SELECT name,
#                             id,
#                             events_played,
#                             LVC_prize,
#                             Waco_prize,
#                             Texas_prize,
#                             JB_prize,
#                             SP_prize,
#                             SK_prize,
#                             Vintage_prize,
#                             MAO_prize,
#                             VO_prize,
#                             Memorial_prize,
#                             Paradise_prize,
#                             TVC_prize,
#                             SSM_prize,
#                             Belton_prize,
#                             Dogwood_prize,
#                             BGO_prize,
#                             total_cash, total_cash/events_played as avg_cash from players_events_df ORDER BY total_cash DESC''')

# #create participant lists

# #TODO: Add to list with new df and variable

# LVC_participants_list = LVC_df['player_id'].to_list()
# Waco_participants_list = Waco_df['player_id'].to_list()
# Texas_participants_list = Texas_df['player_id'].to_list()
# JB_participants_list = JB_df['player_id'].to_list()
# SP_participants_list = SP_df['player_id'].to_list()
# SK_participants_list = SK_df['player_id'].to_list()
# Vintage_participants_list = Vintage_df['player_id'].to_list()
# MAO_participants_list = MAO_df['player_id'].to_list()
# VO_participants_list = VO_df['player_id'].to_list()
# Memorial_participants_list = Memorial_df['player_id'].to_list()
# Paradise_participants_list = Paradise_df['player_id'].to_list()
# TVC_participants_list = TVC_df['player_id'].to_list()
# SSM_participants_list = SSM_df['player_id'].to_list()
# Belton_participants_list = Belton_df['player_id'].to_list()
# Dogwood_participants_list = Dogwood_df['player_id'].to_list()
# BGO_participants_list = BGO_df['player_id'].to_list()

# #TODO: Add list to dictionary:

# participants_list_dict = {
#     'LVC' : LVC_participants_list,
#     'Waco' : Waco_participants_list,
#     'Texas' : Texas_participants_list,
#     'JB' : JB_participants_list,
#     'SP' : SP_participants_list,
#     'SK' : SK_participants_list,
#     'Vintage' : Vintage_participants_list,
#     'MAO' : MAO_participants_list,
#     'VO' : VO_participants_list,
#     'Memorial' : Memorial_participants_list,
#     'Paradise' : Paradise_participants_list,
#     'TVC' : TVC_participants_list,
#     'SSM' : SSM_participants_list,
#     'Belton' : Belton_participants_list,
#     'Dogwood' : Dogwood_participants_list,
#     'BGO' : BGO_participants_list
# }

# Dynamic Discs Open - National Tour

In [82]:
#Dynamic Discs Open - National Tour


#to do: Check the number of divisions. If there are more than MPO and FPO, widdle down the records

# Tournaments loaded list 

#TODO: Add touney to list

# Tournaments_Loaded_list = [('Las Vegas Classic', 9, 'NT', 'LVC'),
#                            ('Waco', 11, 'NT', 'Waco'),
#                            ('Texas States', 13, 'NT', 'Texas'),
#                            ('Jonesboro', 16, 'NT', 'JB'),
#                            ('St. Patrick', 12, 'A', 'SP'),
#                            ('Sun Kings Throwdown', 12, 'A', 'SK'),
#                            ('Vintage Open', 15, 'A', 'Vintage'),
#                            ('Mid-America Open', 17, 'A', 'MAO'),
#                            ('Victoria Open', 7, 'A', 'VO'),
#                            ('Memorial Open', 10, 'A', 'Memorial'),
#                            ('Paradise Plates', 12, 'A', 'Paradise'),
#                            ('Treasure Valley Cup', 13, 'A', 'TVC'),
#                            ('Shelly Sharpe Memorial', 3, 'A/B', 'SSM'),
#                            ('The Open Belton', 12, 'A/B', 'Belton'),
#                            ('Dogwood Classic', 13, 'A', 'Dogwood'),
#                            ('Bowling Green Open', 17, 'A', 'BGO'),
#                            ('Dynamic Discs Open', 18, 'NT', 'DDO')
#                           ]

# Tournaments_Loaded_df = pd.DataFrame(Tournaments_Loaded_list, columns = ['Tournament Loaded', 'Weekend_num', 'Tier', 'Nickname'])

# #tourneys_list is a list of tourney nicknames used for iterating (nothing to do)

# tourneys_list = Tournaments_Loaded_df['Nickname'].tolist()



# #to do: change the URL
# event = requests.get('https://www.pdga.com/tour/event/47516')
# with open("DDO.html", "w") as f:
#     f.write(event.text)

with open("DDO.html") as ti:
    soup = BeautifulSoup(ti, 'html.parser')



#leave all this be...

places_t = soup.find_all('td', class_ = 'place')
places = []
for entry in places_t:
    place = entry.get_text()
    places.append(place)
    
ids_t = soup.find_all('td', class_ = 'pdga-number')
ids = []
for entry in ids_t:
    id = entry.get_text()
    ids.append(id)

pars_t = soup.find_all(True, {'class':['par under', 'par over', 'par', 'dnf']})
pars = []
for entry in pars_t:
    par = entry.get_text()
    if par == 'E':
        par = 0
    pars.append(par)
pars.remove('Par')
pars.remove('Par')

prizes_t = soup.find_all('td', class_ = 'prize')
prizes = []
for entry in prizes_t:
    prize = entry.get_text()
    if not prize:
        prize = '$0'
    prize = prize.replace(',', '')
    prize = prize.strip('$')
    prizes.append(prize)

totals_t = soup.find_all('td', class_ = 'total')
totals = []
for entry in totals_t:
    total = entry.get_text()
    totals.append(total)    


#to do: change the df name, change column names

DDO_df = pd.DataFrame(list(zip(places, ids, pars, prizes, totals)), columns = ['DDO_place', 'player_id', 'DDO_par', 'DDO_prize', 'total'])

#clean up DNFs. Putting in nulls instead of trash results.

#TODO: change the df name, change column names

DDO_df.loc[DDO_df.total == 'DNF', 'DDO_place'] = np.nan
DDO_df.loc[DDO_df.total == 'DNF', 'DDO_par'] = np.nan
DDO_df.loc[DDO_df.total == 'DNF', 'DDO_prize'] = np.nan
DDO_df.loc[DDO_df.total == 'DNF', 'DDO_DNF'] = 'yes'
DDO_df.loc[DDO_df.total != 'DNF', 'DDO_DNF'] = 'no'


#drop total column

#TODO: change the df name

DDO_df = DDO_df.drop(columns = 'total')

#TODO: widdle records down here if there is more than MPO and FPO...


#DDO_df = DDO_df.head(90)


#TODO: merge with p_e using correct df name

# players_events_df = players_events_df.merge(DDO_df, left_on = 'id', right_on = 'player_id', how = 'outer')

# #players_events_df cleanup (no to-dos)...

#     #worried about "settingwithcopy" warning (https://www.dataquest.io/blog/settingwithcopywarning/)
#     #at the end... destroy the "player_id" column in p_e

#     #Adding players who played in this event but are not in the dataframe yet

# players_events_df_nulls = players_events_df[players_events_df['name'].isnull()] #these are those players

#     #adding their name
# for ind in players_events_df_nulls.index:
#     try:
#         player_page = "https://www.pdga.com/player/" + players_events_df_nulls['player_id'][ind]
#     except:
#         continue
#     player_get = requests.get(player_page)
#     soup = BeautifulSoup(player_get.content, 'html.parser')
#     name_t = soup.find(True, {'class' : ['panel-pane pane-page-title', 'panel-pane pane-page-title E']})
#     soup2 = BeautifulSoup(str(name_t), 'html.parser')
#     name_u = soup2.find('h1')
#     try:
#         name_z = name_u.text
#     except:
#         continue
#     name_parts = name_z.split()
#     name = name_parts[0][0] + '.' + ' ' + name_parts[1]
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'name'] = name
    
#     #adding their id
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'id'] = players_events_df_nulls['player_id'][ind]
    
#     #adding their division
#     division_t = soup.find('td', class_ = 'division')
#     try:
#         division = division_t.get_text()
#     except:
#         continue
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'division'] = division.strip()

#     #adding their country
    
#     location_t = soup.find('li', class_ = 'location')
#     location_u = location_t.text
#     location_u_split = location_u.split(':')
#     location = location_u_split[1]
#     country_t = location.split(',')[-1]
#     country_u = country_t.replace('Classification', '')
#     country = country_u.strip()
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'country'] = country

#     #adding their state_province
    
#     state_t = location.split(',')[-2]
#     state = state_t.strip()
#     players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'state_province'] = state

# #and drop the player_id column

# players_events_df = players_events_df.drop(columns = 'player_id')


# #change division entry names (nothing to do here)
# players_events_df['division'] = sqlit("SELECT REPLACE(division, 'Open Women', 'FPO') as division FROM players_events_df")
# players_events_df['division'] = sqlit("SELECT REPLACE(division, 'Open', 'MPO') as division FROM players_events_df")

# #Player adds?






# #ADDING STATS

# #TODO: change column names and values of best scores
# players_events_df.loc[players_events_df.division == 'MPO', 'DDO_par_best'] = -42
# players_events_df.loc[players_events_df.division == 'FPO', 'DDO_par_best'] = -15

# #find cash_std MPO

# #TODO: change entries in SQL and array
# df = sqlit("SELECT name, division, DDO_par, DDO_prize from players_events_df WHERE division = 'MPO' AND DDO_prize IS NOT NULL AND DDO_prize != '0'")
# array = df['DDO_par'].to_numpy()
# array = array.astype(int)
# std_M = array.std()

# #set MPO cash_std

# #TODO: change entries
# players_events_df.loc[players_events_df.division == 'MPO', 'DDO_cash_std'] = std_M

# #find cash_std FPO

# #TODO: change entries in SQL and array, and variable
# df = sqlit("SELECT name, division, DDO_par, DDO_prize from players_events_df WHERE division = 'FPO' AND BGO_prize IS NOT NULL AND DDO_prize != '0'")
# array = df['DDO_par'].to_numpy()
# array = array.astype(int)
# std_F = array.std()


# #set FPO cash_std FPO
# #TODO: change entries and variable
# players_events_df.loc[players_events_df.division == 'FPO', 'DDO_cash_std'] = std_F

# #Set std_away
# #TODO: change column names


# players_events_df['DDO_par'] = players_events_df['DDO_par'].astype(float)
# players_events_df['DDO_par_best'] = players_events_df['DDO_par_best'].astype(float)
# players_events_df['DDO_std_away'] = (players_events_df['DDO_par'] - players_events_df['DDO_par_best'])/players_events_df['DDO_cash_std']




# #Setting null DNFs

# #TODO add DNF to null list

# players_events_df.loc[players_events_df.LVC_DNF.isnull(), 'LVC_DNF'] = 'no'
# players_events_df.loc[players_events_df.Waco_DNF.isnull(), 'Waco_DNF'] = 'no'
# players_events_df.loc[players_events_df.Texas_DNF.isnull(), 'Texas_DNF'] = 'no'
# players_events_df.loc[players_events_df.JB_DNF.isnull(), 'JB_DNF'] = 'no'
# players_events_df.loc[players_events_df.SP_DNF.isnull(), 'SP_DNF'] = 'no'
# players_events_df.loc[players_events_df.SK_DNF.isnull(), 'SK_DNF'] = 'no'
# players_events_df.loc[players_events_df.Vintage_DNF.isnull(), 'Vintage_DNF'] = 'no'
# players_events_df.loc[players_events_df.MAO_DNF.isnull(), 'MAO_DNF'] = 'no'
# players_events_df.loc[players_events_df.VO_DNF.isnull(), 'VO_DNF'] = 'no'
# players_events_df.loc[players_events_df.Memorial_DNF.isnull(), 'Memorial_DNF'] = 'no'
# players_events_df.loc[players_events_df.Paradise_DNF.isnull(), 'Paradise_DNF'] = 'no'
# players_events_df.loc[players_events_df.TVC_DNF.isnull(), 'TVC_DNF'] = 'no'
# players_events_df.loc[players_events_df.SSM_DNF.isnull(), 'SSM_DNF'] = 'no'
# players_events_df.loc[players_events_df.Belton_DNF.isnull(), 'Belton_DNF'] = 'no'
# players_events_df.loc[players_events_df.Dogwood_DNF.isnull(), 'Dogwood_DNF'] = 'no'
# players_events_df.loc[players_events_df.BGO_DNF.isnull(), 'BGO_DNF'] = 'no'
# players_events_df.loc[players_events_df.DDO_DNF.isnull(), 'DDO_DNF'] = 'no'



# #Events Played column

# #TODO add tourney to loop (can automate this)

# events_played_list = []
# for ind in players_events_df.index:
#     n = 0
#     if pd.notnull(players_events_df['LVC_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Waco_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Texas_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['JB_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['SP_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['SK_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Vintage_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['MAO_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['VO_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Memorial_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Paradise_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['TVC_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['SSM_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Belton_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['Dogwood_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['BGO_par'][ind]):
#         n += 1
#     if pd.notnull(players_events_df['DDO_par'][ind]):
#         n += 1
#     events_played_list.append(n)
    
# players_events_df['events_played'] = events_played_list


# #change places for non-attended events to "0"

# # Previously...TODO: add event to list

# # players_events_df.loc[players_events_df.LVC_par.isnull(), 'LVC_place'] = 0
# # players_events_df.loc[players_events_df.Waco_par.isnull(), 'Waco_place'] = 0
# # players_events_df.loc[players_events_df.Texas_par.isnull(), 'Texas_place'] = 0
# # players_events_df.loc[players_events_df.JB_par.isnull(), 'JB_place'] = 0
# # players_events_df.loc[players_events_df.SP_par.isnull(), 'SP_place'] = 0
# # players_events_df.loc[players_events_df.SK_par.isnull(), 'SK_place'] = 0
# # players_events_df.loc[players_events_df.Vintage_par.isnull(), 'Vintage_place'] = 0
# # players_events_df.loc[players_events_df.MAO_par.isnull(), 'MAO_place'] = 0
# # players_events_df.loc[players_events_df.VO_par.isnull(), 'VO_place'] = 0
# # players_events_df.loc[players_events_df.Memorial_par.isnull(), 'Memorial_place'] = 0
# # players_events_df.loc[players_events_df.Paradise_par.isnull(), 'Paradise_place'] = 0
# # players_events_df.loc[players_events_df.TVC_par.isnull(), 'TVC_place'] = 0

# #Now (NO TO DO)

# for tn in tourneys_list:
#     players_events_df.loc[players_events_df[f'{tn}_par'].isnull(), f'{tn}_place'] = 0


# #LOOK AGAIN!

# #change null cashes to '0'

# #Previously TODO: add event to list

# # players_events_df.loc[players_events_df.LVC_prize.isnull(), 'LVC_prize'] = 0
# # players_events_df.loc[players_events_df.Waco_prize.isnull(), 'Waco_prize'] = 0
# # players_events_df.loc[players_events_df.Texas_prize.isnull(), 'Texas_prize'] = 0
# # players_events_df.loc[players_events_df.JB_prize.isnull(), 'JB_prize'] = 0
# # players_events_df.loc[players_events_df.SP_prize.isnull(), 'SP_prize'] = 0
# # players_events_df.loc[players_events_df.SK_prize.isnull(), 'SK_prize'] = 0
# # players_events_df.loc[players_events_df.Vintage_prize.isnull(), 'Vintage_prize'] = 0
# # players_events_df.loc[players_events_df.MAO_prize.isnull(), 'MAO_prize'] = 0
# # players_events_df.loc[players_events_df.VO_prize.isnull(), 'VO_prize'] = 0
# # players_events_df.loc[players_events_df.Memorial_prize.isnull(), 'Memorial_prize'] = 0
# # players_events_df.loc[players_events_df.Paradise_prize.isnull(), 'Paradise_prize'] = 0
# # players_events_df.loc[players_events_df.TVC_prize.isnull(), 'TVC_prize'] = 0

# #Now (NO TO DO)

# for tn in tourneys_list:
#     players_events_df.loc[players_events_df[f'{tn}_prize'].isnull(), f'{tn}_prize'] = 0


# #LOOK AGAIN!

# #Compute average placement

# #TODO: add event to SQL

# ap_sql = sqlit('''SELECT (CAST(LVC_place as int)
#                             + CAST(Waco_place as int) 
#                             + CAST(Texas_place as int) 
#                             + CAST(JB_place as int) 
#                             + CAST(SP_place as int) 
#                             + CAST(SK_place as int) 
#                             + CAST(Vintage_place as int) 
#                             + CAST(MAO_place as int) 
#                             + CAST(VO_place as int) 
#                             + CAST(Memorial_place as int) 
#                             + CAST(Paradise_place as int) 
#                             + CAST(TVC_place as int) 
#                             + CAST(SSM_place as int) 
#                             + CAST(Belton_place as int) 
#                             + CAST(Dogwood_place as int)
#                             + CAST(BGO_place as int)
#                             + CAST(DDO_place as int)
#                             )/(events_played*1.0) as ap FROM players_events_df''')

# ap_list = ap_sql['ap'].tolist()
# players_events_df['average_place'] = ap_list

# #Compute total cash

# #Previous TODO: add event to equation
# #players_events_df['total_cash'] = players_events_df.LVC_prize.astype(int) + players_events_df.Waco_prize.astype(int) + players_events_df.Texas_prize.astype(int) + players_events_df.JB_prize.astype(int)  + players_events_df.SP_prize.astype(int) + players_events_df.SK_prize.astype(int) + players_events_df.Vintage_prize.astype(int) + players_events_df.MAO_prize.astype(int) + players_events_df.VO_prize.astype(int) + players_events_df.Memorial_prize.astype(int) + players_events_df.Paradise_prize.astype(int) + players_events_df.TVC_prize.astype(int)

# #Updated: TODO: Nothing!

# players_events_df['total_cash'] = 0
# for tn in tourneys_list:
#     players_events_df['total_cash'] += players_events_df[f'{tn}_prize'].astype(int)

# #create player prize df

# #TODO: add event to sql

# player_prize_df = sqlit('''SELECT name,
#                             id,
#                             events_played,
#                             LVC_prize,
#                             Waco_prize,
#                             Texas_prize,
#                             JB_prize,
#                             SP_prize,
#                             SK_prize,
#                             Vintage_prize,
#                             MAO_prize,
#                             VO_prize,
#                             Memorial_prize,
#                             Paradise_prize,
#                             TVC_prize,
#                             SSM_prize,
#                             Belton_prize,
#                             Dogwood_prize,
#                             BGO_prize,
#                             DDO_prize,
#                             total_cash, total_cash/events_played as avg_cash from players_events_df ORDER BY total_cash DESC''')

# #create participant lists

# #TODO: Add to list with new df and variable

# LVC_participants_list = LVC_df['player_id'].to_list()
# Waco_participants_list = Waco_df['player_id'].to_list()
# Texas_participants_list = Texas_df['player_id'].to_list()
# JB_participants_list = JB_df['player_id'].to_list()
# SP_participants_list = SP_df['player_id'].to_list()
# SK_participants_list = SK_df['player_id'].to_list()
# Vintage_participants_list = Vintage_df['player_id'].to_list()
# MAO_participants_list = MAO_df['player_id'].to_list()
# VO_participants_list = VO_df['player_id'].to_list()
# Memorial_participants_list = Memorial_df['player_id'].to_list()
# Paradise_participants_list = Paradise_df['player_id'].to_list()
# TVC_participants_list = TVC_df['player_id'].to_list()
# SSM_participants_list = SSM_df['player_id'].to_list()
# Belton_participants_list = Belton_df['player_id'].to_list()
# Dogwood_participants_list = Dogwood_df['player_id'].to_list()
# BGO_participants_list = BGO_df['player_id'].to_list()
# DDO_participants_list = DDO_df['player_id'].to_list()

# #TODO: Add list to dictionary:

# participants_list_dict = {
#     'LVC' : LVC_participants_list,
#     'Waco' : Waco_participants_list,
#     'Texas' : Texas_participants_list,
#     'JB' : JB_participants_list,
#     'SP' : SP_participants_list,
#     'SK' : SK_participants_list,
#     'Vintage' : Vintage_participants_list,
#     'MAO' : MAO_participants_list,
#     'VO' : VO_participants_list,
#     'Memorial' : Memorial_participants_list,
#     'Paradise' : Paradise_participants_list,
#     'TVC' : TVC_participants_list,
#     'SSM' : SSM_participants_list,
#     'Belton' : Belton_participants_list,
#     'Dogwood' : Dogwood_participants_list,
#     'BGO' : BGO_participants_list,
#     'DDO' : DDO_participants_list
# }

# City of Mobile Championships

In [83]:
#28th Annual City of Mobile Championships Presented by Dynamic Discs


#to do: Check the number of divisions. If there are more than MPO and FPO, widdle down the records

# Tournaments loaded list 

#TODO: Add touney to list

Tournaments_Loaded_list = [('Las Vegas Classic', 9, 'NT', 'LVC'),
                           ('Waco', 11, 'NT', 'Waco'),
                           ('Texas States', 13, 'NT', 'Texas'),
                           ('Jonesboro', 16, 'NT', 'JB'),
                           ('St. Patrick', 12, 'A', 'SP'),
                           ('Sun Kings Throwdown', 12, 'A', 'SK'),
                           ('Vintage Open', 15, 'A', 'Vintage'),
                           ('Mid-America Open', 17, 'A', 'MAO'),
                           ('Victoria Open', 7, 'A', 'VO'),
                           ('Memorial Open', 10, 'A', 'Memorial'),
                           ('Paradise Plates', 12, 'A', 'Paradise'),
                           ('Treasure Valley Cup', 13, 'A', 'TVC'),
                           ('Shelly Sharpe Memorial', 3, 'A/B', 'SSM'),
                           ('The Open Belton', 12, 'A/B', 'Belton'),
                           ('Dogwood Classic', 13, 'A', 'Dogwood'),
                           ('Bowling Green Open', 17, 'A', 'BGO'),
                           ('Dynamic Discs Open', 18, 'NT', 'DDO'),
                           ('City of Mobile', 18, 'A/B', 'COM')
                          ]

Tournaments_Loaded_df = pd.DataFrame(Tournaments_Loaded_list, columns = ['Tournament Loaded', 'Weekend_num', 'Tier', 'Nickname'])

#tourneys_list is a list of tourney nicknames used for iterating (nothing to do)

tourneys_list = Tournaments_Loaded_df['Nickname'].tolist()



# #to do: change the URL
# event = requests.get('https://www.pdga.com/tour/event/48462')
# with open("COM.html", "w") as f:
#     f.write(event.text)

with open("COM.html") as ti:
    soup = BeautifulSoup(ti, 'html.parser')




#leave all this be...

places_t = soup.find_all('td', class_ = 'place')
places = []
for entry in places_t:
    place = entry.get_text()
    places.append(place)
    
ids_t = soup.find_all('td', class_ = 'pdga-number')
ids = []
for entry in ids_t:
    id = entry.get_text()
    ids.append(id)

pars_t = soup.find_all(True, {'class':['par under', 'par over', 'par', 'dnf']})
pars = []
for entry in pars_t:
    par = entry.get_text()
    if par == 'E':
        par = 0
    pars.append(par)
pars.remove('Par')
pars.remove('Par')

prizes_t = soup.find_all('td', class_ = 'prize')
prizes = []
for entry in prizes_t:
    prize = entry.get_text()
    if not prize:
        prize = '$0'
    prize = prize.replace(',', '')
    prize = prize.strip('$')
    prizes.append(prize)

totals_t = soup.find_all('td', class_ = 'total')
totals = []
for entry in totals_t:
    total = entry.get_text()
    totals.append(total)    


#to do: change the df name, change column names

COM_df = pd.DataFrame(list(zip(places, ids, pars, prizes, totals)), columns = ['COM_place', 'player_id', 'COM_par', 'COM_prize', 'total'])

#clean up DNFs. Putting in nulls instead of trash results.

#TODO: change the df name, change column names

COM_df.loc[COM_df.total == 'DNF', 'COM_place'] = np.nan
COM_df.loc[COM_df.total == 'DNF', 'COM_par'] = np.nan
COM_df.loc[COM_df.total == 'DNF', 'COM_prize'] = np.nan
COM_df.loc[COM_df.total == 'DNF', 'COM_DNF'] = 'yes'
COM_df.loc[COM_df.total != 'DNF', 'COM_DNF'] = 'no'


#drop total column

#TODO: change the df name

COM_df = COM_df.drop(columns = 'total')

#TODO: widdle records down here if there is more than MPO and FPO...

COM_df = COM_df.head(61)

#player adds?

for ind in Belton_df.index:
    if Belton_df['player_id'][ind] != '34562' and Belton_df['player_id'][ind] != '83681' and Belton_df['Belton_place'][ind] == '110':
        columns = ['name', 'player_id', 'division', 'country', 'state_province']
        info = ['N. Maloukis', '49584', 'MPO', 'United States', 'Texas']
        players_events_df.loc[players_events_df.Belton_place == '110', columns] = info
        
columns = ['name', 'id', 'division', 'country', 'state_province']
info = ['C. Siebers', '108744', 'MPO', 'United States', 'Idaho']
players_events_df.loc[players_events_df.TVC_place == '28', columns] = info

columns = ['name', 'id', 'division', 'country', 'state_province']
info = ['R. Russell', '3394', 'MPO', 'United States', 'Kentucky']
players_events_df.loc[players_events_df.BGO_place == '66', columns] = info

columns = ['name', 'id', 'division', 'country', 'state_province']
info = ['Caio Grandi', '167573', 'MPO', 'United States', 'Florida']
players_events_df.loc[players_events_df.BGO_place == '75', columns] = info




#TODO: merge with p_e using correct df name
#AND TODO: un-comment the merge for the first load. Then re-comment

#players_events_df = players_events_df.merge(COM_df, left_on = 'id', right_on = 'player_id', how = 'outer')

#players_events_df cleanup (no to-dos)...

    #worried about "settingwithcopy" warning (https://www.dataquest.io/blog/settingwithcopywarning/)
    #at the end... destroy the "player_id" column in p_e

    #Adding players who played in this event but are not in the dataframe yet

players_events_df_nulls = players_events_df[players_events_df['name'].isnull()] #these are those players

    #adding their name
for ind in players_events_df_nulls.index:
    
    try:
        player_page = "https://www.pdga.com/player/" + players_events_df_nulls['player_id'][ind]
    except:
        continue
    player_get = requests.get(player_page)
    soup = BeautifulSoup(player_get.content, 'html.parser')
    name_t = soup.find(True, {'class' : ['panel-pane pane-page-title', 'panel-pane pane-page-title E']})
    soup2 = BeautifulSoup(str(name_t), 'html.parser')
    name_u = soup2.find('h1')
    try:
        name_z = name_u.text
    except:
        continue
    name_parts = name_z.split()
    name = name_parts[0][0] + '.' + ' ' + name_parts[1]
    players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'name'] = name
    
    #adding their id
    players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'id'] = players_events_df_nulls['player_id'][ind]
    
    #adding their division
    division_t = soup.find('td', class_ = 'division')
    try:
        division = division_t.get_text()
    except:
        continue
    players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'division'] = division.strip()

    #adding their country
    
    location_t = soup.find('li', class_ = 'location')
    location_u = location_t.text
    location_u_split = location_u.split(':')
    location = location_u_split[1]
    country_t = location.split(',')[-1]
    country_u = country_t.replace('Classification', '')
    country = country_u.strip()
    players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'country'] = country

    #adding their state_province
    
    state_t = location.split(',')[-2]
    state = state_t.strip()
    players_events_df.loc[players_events_df.player_id == players_events_df_nulls['player_id'][ind], 'state_province'] = state

#and drop the player_id column

#players_events_df = players_events_df.drop(columns = 'player_id')


#change division entry names (nothing to do here)
players_events_df['division'] = sqlit("SELECT REPLACE(division, 'Open Women', 'FPO') as division FROM players_events_df")
players_events_df['division'] = sqlit("SELECT REPLACE(division, 'Open', 'MPO') as division FROM players_events_df")



#ADDING STATS

#TODO: change column names and values of best scores
players_events_df.loc[players_events_df.division == 'MPO', 'COM_par_best'] = -31
players_events_df.loc[players_events_df.division == 'FPO', 'COM_par_best'] = +12

#find cash_std MPO

#TODO: change entries in SQL and array
df = sqlit('''
            SELECT name,
                    division,
                    COM_par,
                    COM_prize
            FROM players_events_df
            WHERE division = 'MPO' AND COM_prize IS NOT NULL AND COM_prize != '0'
            ''')

array = df['COM_par'].to_numpy()
array = array.astype(int)
std_M = array.std()

#set MPO cash_std

#TODO: change entries
players_events_df.loc[players_events_df.division == 'MPO', 'COM_cash_std'] = std_M

#find cash_std FPO

#TODO: change entries in SQL and array, and variable
df = sqlit('''
            SELECT name,
                    division,
                    COM_par,
                    COM_prize 
            FROM players_events_df
            WHERE division = 'FPO' AND COM_prize IS NOT NULL AND COM_prize != '0'
            ''')
array = df['COM_par'].to_numpy()
array = array.astype(int)
std_F = array.std()


#set FPO cash_std FPO
#TODO: change entries
players_events_df.loc[players_events_df.division == 'FPO', 'COM_cash_std'] = std_F

#Set std_away
#TODO: change column names


players_events_df['COM_par'] = players_events_df['COM_par'].astype(float)
players_events_df['COM_par_best'] = players_events_df['COM_par_best'].astype(float)
players_events_df['COM_std_away'] = (players_events_df['COM_par'] - players_events_df['COM_par_best'])/players_events_df['COM_cash_std']




#Setting null DNFs

#TODO add DNF to null list

players_events_df.loc[players_events_df.LVC_DNF.isnull(), 'LVC_DNF'] = 'no'
players_events_df.loc[players_events_df.Waco_DNF.isnull(), 'Waco_DNF'] = 'no'
players_events_df.loc[players_events_df.Texas_DNF.isnull(), 'Texas_DNF'] = 'no'
players_events_df.loc[players_events_df.JB_DNF.isnull(), 'JB_DNF'] = 'no'
players_events_df.loc[players_events_df.SP_DNF.isnull(), 'SP_DNF'] = 'no'
players_events_df.loc[players_events_df.SK_DNF.isnull(), 'SK_DNF'] = 'no'
players_events_df.loc[players_events_df.Vintage_DNF.isnull(), 'Vintage_DNF'] = 'no'
players_events_df.loc[players_events_df.MAO_DNF.isnull(), 'MAO_DNF'] = 'no'
players_events_df.loc[players_events_df.VO_DNF.isnull(), 'VO_DNF'] = 'no'
players_events_df.loc[players_events_df.Memorial_DNF.isnull(), 'Memorial_DNF'] = 'no'
players_events_df.loc[players_events_df.Paradise_DNF.isnull(), 'Paradise_DNF'] = 'no'
players_events_df.loc[players_events_df.TVC_DNF.isnull(), 'TVC_DNF'] = 'no'
players_events_df.loc[players_events_df.SSM_DNF.isnull(), 'SSM_DNF'] = 'no'
players_events_df.loc[players_events_df.Belton_DNF.isnull(), 'Belton_DNF'] = 'no'
players_events_df.loc[players_events_df.Dogwood_DNF.isnull(), 'Dogwood_DNF'] = 'no'
players_events_df.loc[players_events_df.BGO_DNF.isnull(), 'BGO_DNF'] = 'no'
players_events_df.loc[players_events_df.DDO_DNF.isnull(), 'DDO_DNF'] = 'no'
players_events_df.loc[players_events_df.DDO_DNF.isnull(), 'COM_DNF'] = 'no'



#Events Played column

#TODO add tourney to loop (can automate this)

events_played_list = []
for ind in players_events_df.index:
    n = 0
    if pd.notnull(players_events_df['LVC_par'][ind]):
        n += 1
    if pd.notnull(players_events_df['Waco_par'][ind]):
        n += 1
    if pd.notnull(players_events_df['Texas_par'][ind]):
        n += 1
    if pd.notnull(players_events_df['JB_par'][ind]):
        n += 1
    if pd.notnull(players_events_df['SP_par'][ind]):
        n += 1
    if pd.notnull(players_events_df['SK_par'][ind]):
        n += 1
    if pd.notnull(players_events_df['Vintage_par'][ind]):
        n += 1
    if pd.notnull(players_events_df['MAO_par'][ind]):
        n += 1
    if pd.notnull(players_events_df['VO_par'][ind]):
        n += 1
    if pd.notnull(players_events_df['Memorial_par'][ind]):
        n += 1
    if pd.notnull(players_events_df['Paradise_par'][ind]):
        n += 1
    if pd.notnull(players_events_df['TVC_par'][ind]):
        n += 1
    if pd.notnull(players_events_df['SSM_par'][ind]):
        n += 1
    if pd.notnull(players_events_df['Belton_par'][ind]):
        n += 1
    if pd.notnull(players_events_df['Dogwood_par'][ind]):
        n += 1
    if pd.notnull(players_events_df['BGO_par'][ind]):
        n += 1
    if pd.notnull(players_events_df['DDO_par'][ind]):
        n += 1
    if pd.notnull(players_events_df['COM_par'][ind]):
        n += 1
    events_played_list.append(n)
    
players_events_df['events_played'] = events_played_list


#change places for non-attended events to "0"

# Previously...TODO: add event to list

# players_events_df.loc[players_events_df.LVC_par.isnull(), 'LVC_place'] = 0
# players_events_df.loc[players_events_df.Waco_par.isnull(), 'Waco_place'] = 0
# players_events_df.loc[players_events_df.Texas_par.isnull(), 'Texas_place'] = 0
# players_events_df.loc[players_events_df.JB_par.isnull(), 'JB_place'] = 0
# players_events_df.loc[players_events_df.SP_par.isnull(), 'SP_place'] = 0
# players_events_df.loc[players_events_df.SK_par.isnull(), 'SK_place'] = 0
# players_events_df.loc[players_events_df.Vintage_par.isnull(), 'Vintage_place'] = 0
# players_events_df.loc[players_events_df.MAO_par.isnull(), 'MAO_place'] = 0
# players_events_df.loc[players_events_df.VO_par.isnull(), 'VO_place'] = 0
# players_events_df.loc[players_events_df.Memorial_par.isnull(), 'Memorial_place'] = 0
# players_events_df.loc[players_events_df.Paradise_par.isnull(), 'Paradise_place'] = 0
# players_events_df.loc[players_events_df.TVC_par.isnull(), 'TVC_place'] = 0

#Now (NO TO DO)

for tn in tourneys_list:
    players_events_df.loc[players_events_df[f'{tn}_par'].isnull(), f'{tn}_place'] = 0


#LOOK AGAIN!

#change null cashes to '0'

#Previously TODO: add event to list

# players_events_df.loc[players_events_df.LVC_prize.isnull(), 'LVC_prize'] = 0
# players_events_df.loc[players_events_df.Waco_prize.isnull(), 'Waco_prize'] = 0
# players_events_df.loc[players_events_df.Texas_prize.isnull(), 'Texas_prize'] = 0
# players_events_df.loc[players_events_df.JB_prize.isnull(), 'JB_prize'] = 0
# players_events_df.loc[players_events_df.SP_prize.isnull(), 'SP_prize'] = 0
# players_events_df.loc[players_events_df.SK_prize.isnull(), 'SK_prize'] = 0
# players_events_df.loc[players_events_df.Vintage_prize.isnull(), 'Vintage_prize'] = 0
# players_events_df.loc[players_events_df.MAO_prize.isnull(), 'MAO_prize'] = 0
# players_events_df.loc[players_events_df.VO_prize.isnull(), 'VO_prize'] = 0
# players_events_df.loc[players_events_df.Memorial_prize.isnull(), 'Memorial_prize'] = 0
# players_events_df.loc[players_events_df.Paradise_prize.isnull(), 'Paradise_prize'] = 0
# players_events_df.loc[players_events_df.TVC_prize.isnull(), 'TVC_prize'] = 0

#Now (NO TO DO)

for tn in tourneys_list:
    players_events_df.loc[players_events_df[f'{tn}_prize'].isnull(), f'{tn}_prize'] = 0


#LOOK AGAIN!

#Compute average placement

#TODO: add event to SQL

ap_sql = sqlit('''SELECT (CAST(LVC_place as int)
                            + CAST(Waco_place as int) 
                            + CAST(Texas_place as int) 
                            + CAST(JB_place as int) 
                            + CAST(SP_place as int) 
                            + CAST(SK_place as int) 
                            + CAST(Vintage_place as int) 
                            + CAST(MAO_place as int) 
                            + CAST(VO_place as int) 
                            + CAST(Memorial_place as int) 
                            + CAST(Paradise_place as int) 
                            + CAST(TVC_place as int) 
                            + CAST(SSM_place as int) 
                            + CAST(Belton_place as int) 
                            + CAST(Dogwood_place as int)
                            + CAST(BGO_place as int)
                            + CAST(DDO_place as int)
                            + CAST(COM_place as int)
                            )/(events_played*1.0) as ap FROM players_events_df''')

ap_list = ap_sql['ap'].tolist()
players_events_df['average_place'] = ap_list

#Compute total cash

#Previous TODO: add event to equation
#players_events_df['total_cash'] = players_events_df.LVC_prize.astype(int) + players_events_df.Waco_prize.astype(int) + players_events_df.Texas_prize.astype(int) + players_events_df.JB_prize.astype(int)  + players_events_df.SP_prize.astype(int) + players_events_df.SK_prize.astype(int) + players_events_df.Vintage_prize.astype(int) + players_events_df.MAO_prize.astype(int) + players_events_df.VO_prize.astype(int) + players_events_df.Memorial_prize.astype(int) + players_events_df.Paradise_prize.astype(int) + players_events_df.TVC_prize.astype(int)

#Updated: TODO: Nothing!

players_events_df['total_cash'] = 0
for tn in tourneys_list:
    players_events_df['total_cash'] += players_events_df[f'{tn}_prize'].astype(int)

#create player prize df

#TODO: add event to sql

player_prize_df = sqlit('''SELECT name,
                            id,
                            events_played,
                            LVC_prize,
                            Waco_prize,
                            Texas_prize,
                            JB_prize,
                            SP_prize,
                            SK_prize,
                            Vintage_prize,
                            MAO_prize,
                            VO_prize,
                            Memorial_prize,
                            Paradise_prize,
                            TVC_prize,
                            SSM_prize,
                            Belton_prize,
                            Dogwood_prize,
                            BGO_prize,
                            DDO_prize,
                            COM_prize,
                            total_cash, total_cash/events_played as avg_cash from players_events_df ORDER BY total_cash DESC''')

#create participant lists

#TODO: Add to list with new df and variable

LVC_participants_list = LVC_df['player_id'].to_list()
Waco_participants_list = Waco_df['player_id'].to_list()
Texas_participants_list = Texas_df['player_id'].to_list()
JB_participants_list = JB_df['player_id'].to_list()
SP_participants_list = SP_df['player_id'].to_list()
SK_participants_list = SK_df['player_id'].to_list()
Vintage_participants_list = Vintage_df['player_id'].to_list()
MAO_participants_list = MAO_df['player_id'].to_list()
VO_participants_list = VO_df['player_id'].to_list()
Memorial_participants_list = Memorial_df['player_id'].to_list()
Paradise_participants_list = Paradise_df['player_id'].to_list()
TVC_participants_list = TVC_df['player_id'].to_list()
SSM_participants_list = SSM_df['player_id'].to_list()
Belton_participants_list = Belton_df['player_id'].to_list()
Dogwood_participants_list = Dogwood_df['player_id'].to_list()
BGO_participants_list = BGO_df['player_id'].to_list()
DDO_participants_list = DDO_df['player_id'].to_list()
COM_participants_list = COM_df['player_id'].to_list()

#TODO: Add list to dictionary:

participants_list_dict = {
    'LVC' : LVC_participants_list,
    'Waco' : Waco_participants_list,
    'Texas' : Texas_participants_list,
    'JB' : JB_participants_list,
    'SP' : SP_participants_list,
    'SK' : SK_participants_list,
    'Vintage' : Vintage_participants_list,
    'MAO' : MAO_participants_list,
    'VO' : VO_participants_list,
    'Memorial' : Memorial_participants_list,
    'Paradise' : Paradise_participants_list,
    'TVC' : TVC_participants_list,
    'SSM' : SSM_participants_list,
    'Belton' : Belton_participants_list,
    'Dogwood' : Dogwood_participants_list,
    'BGO' : BGO_participants_list,
    'DDO' : DDO_participants_list,
    'COM' : COM_participants_list
}

# Add player_events to database

In [106]:

players_events_df.to_sql('players_events', con = conn, if_exists = 'replace', index = False)

# Open player_events from database

In [85]:
players_events_df = pd.read_sql_query("SELECT * FROM players_events", conn)

---
## Power Rankings

In [86]:


#powerrating
#  1) Tournament place weighted (top 20): 100, 75, 60, 50, 40, 35, 30, 25, 20, 15, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1
#  2) Decreased by tier
#  3) Decreased by how many weeks ago
#  4) Decreased by weak field

place_points_dict = {0 : 1 , 1 : 1000, 2 : 750, 3 : 600, 4 : 500, 5 : 400, 6 : 350, 7 : 300, 8 : 250, 9 : 200, 10 : 150, 11 : 100, 12 : 95, 13 : 90, 14 : 85, 15 : 80, 16 : 75, 17 : 70, 18 : 65, 19 : 60, 20 : 55, 21 : 50, 22 : 45, 23 : 40, 24 : 35, 25 : 30, 26 : 25, 27 : 20, 28 : 15, 29 : 10, 30 : 5 }
tier_penalty_dict = {'NT' : 1, 'A' : 0.8, 'A/B' : 0.8}


#build the df


power_rankings_df = sqlit(

'''
SELECT name 
        ,id
        ,division
FROM players_events_df
'''

)

for tn in tourneys_list:
    power_rankings_df[f'{tn}_place'] = players_events_df[f'{tn}_place']


#Find today's week for later use...

my_date = datetime.date.today()
year, this_week, day_of_week = my_date.isocalendar()

#create lists of top money earners

top_money_MPO_df = sqlit("SELECT id, total_cash from players_events_df WHERE division = 'MPO' ORDER BY total_cash DESC LIMIT 20") 
top_money_FPO_df = sqlit("SELECT id, total_cash from players_events_df WHERE division = 'FPO' ORDER BY total_cash DESC LIMIT 20") 
top_money_MPO_list = top_money_MPO_df['id'].tolist()
top_money_FPO_list = top_money_FPO_df['id'].tolist()

#Create place_points based on place for each tournament and add to df


for tn in tourneys_list:
    
    place_points_list = []
    for ind in power_rankings_df.index:
        
        
        place = power_rankings_df[f'{tn}_place'][ind]
        if int(place) > 30 or int(place) == 0:
            place_points = 0
        else:
            place_points = place_points_dict[int(place)]
        
        place_points_list.append(place_points)

#create and fill time penalty columns (4 weeks per penalty)
    
    power_rankings_df[f'{tn}_place_points'] = place_points_list
    
    df1 = Tournaments_Loaded_df[Tournaments_Loaded_df['Nickname'] == tn]
    age_penalty_zone = (this_week - int(df1.iloc[0,1]))//4
    power_rankings_df[f'{tn}_age_penalty'] =.9**age_penalty_zone

#create and fill tier penalty columns    

    tier_penalty_zone = tier_penalty_dict[df1.iloc[0,2]]
    power_rankings_df[f'{tn}_tier_penalty'] = tier_penalty_zone
    
#create strength penalty columns

    MPO_strength = 0
    for p in top_money_MPO_list:
        if p in participants_list_dict[tn]:
            MPO_strength +=1
    if MPO_strength >= 15:
        power_rankings_df[f'{tn}_MPO_strength_penalty'] = 1
                          
    elif MPO_strength >=10:
        power_rankings_df[f'{tn}_MPO_strength_penalty'] = .9
                          
    else: power_rankings_df[f'{tn}_MPO_strength_penalty'] = (.9)**(11 - MPO_strength)
        
    FPO_strength = 0
    for p in top_money_FPO_list:
        if p in participants_list_dict[tn]:
            FPO_strength +=1
    if FPO_strength >= 15:
        power_rankings_df[f'{tn}_FPO_strength_penalty'] = 1
                          
    elif FPO_strength >=10:
        power_rankings_df[f'{tn}_FPO_strength_penalty'] = .9
                          
    else: power_rankings_df[f'{tn}_FPO_strength_penalty'] = (.9)**(11 - FPO_strength)

#compile the final scores
    
power_ranking_list = []
for ind in power_rankings_df.index:
    pp = 0
    for tn in tourneys_list:
        if power_rankings_df.division[ind] == 'MPO':
            power_points = power_rankings_df[f'{tn}_place_points'][ind]*power_rankings_df[f'{tn}_tier_penalty'][ind]*power_rankings_df[f'{tn}_age_penalty'][ind]*power_rankings_df[f'{tn}_MPO_strength_penalty'][ind]
        else:
            power_points = power_rankings_df[f'{tn}_place_points'][ind]*power_rankings_df[f'{tn}_tier_penalty'][ind]*power_rankings_df[f'{tn}_age_penalty'][ind]*power_rankings_df[f'{tn}_FPO_strength_penalty'][ind]
        pp += power_points
    power_ranking_list.append(pp)
power_rankings_df['total_points'] = power_ranking_list

In [87]:
sqlit("SELECT name, total_points FROM power_rankings_df WHERE division = 'MPO' ORDER BY total_points DESC LIMIT 200")

             name  total_points
0      R. Wysocki   4000.000000
1     C. Heimburg   3776.300000
2       P. McBeth   3531.200000
3      E. McMahon   2385.000000
4    C. Dickerson   2355.600000
..            ...           ...
195     B. Stemen     20.083878
196   A. Anderson     20.083878
197       E. Ford     19.634470
198     T. Holley     19.525993
199     A. Hannum     19.440000

[200 rows x 2 columns]

In [88]:
#When I want to export a slice of the dataframe

# power_rankings_FPO_df = sqlit("SELECT * FROM power_rankings_df WHERE division = 'FPO' ORDER BY total_points DESC")
# power_rankings_MPO_df = sqlit("SELECT * FROM power_rankings_df WHERE division = 'MPO' ORDER BY total_points DESC")

# FPO_PR_exp = power_rankings_FPO_df.head(15)
# MPO_PR_exp = power_rankings_MPO_df.head(15)

# dfi.export(FPO_PR_exp, 'Top_15_PR_FPO_0505.png', max_cols = -1)
# dfi.export(MPO_PR_exp, 'Top_15_PR_MPO_0505.png', max_cols = -1)

In [89]:
power_rankings_FPO_df = sqlit("SELECT * FROM power_rankings_df WHERE division = 'FPO' ORDER BY total_points DESC")
pd.set_option('display.max_columns', 150)
power_rankings_FPO_df.head(15)

,name,id,division,LVC_place,Waco_place,Texas_place,JB_place,SP_place,SK_place,Vintage_place,MAO_place,VO_place,Memorial_place,Paradise_place,TVC_place,SSM_place,Belton_place,Dogwood_place,BGO_place,DDO_place,COM_place,LVC_place_points,LVC_age_penalty,LVC_tier_penalty,LVC_MPO_strength_penalty,LVC_FPO_strength_penalty,Waco_place_points,Waco_age_penalty,Waco_tier_penalty,Waco_MPO_strength_penalty,Waco_FPO_strength_penalty,Texas_place_points,Texas_age_penalty,Texas_tier_penalty,Texas_MPO_strength_penalty,Texas_FPO_strength_penalty,JB_place_points,JB_age_penalty,JB_tier_penalty,JB_MPO_strength_penalty,JB_FPO_strength_penalty,SP_place_points,SP_age_penalty,SP_tier_penalty,SP_MPO_strength_penalty,SP_FPO_strength_penalty,SK_place_points,SK_age_penalty,SK_tier_penalty,SK_MPO_strength_penalty,SK_FPO_strength_penalty,Vintage_place_points,Vintage_age_penalty,Vintage_tier_penalty,Vintage_MPO_strength_penalty,Vintage_FPO_strength_penalty,MAO_place_points,MAO_age_penalty,MAO_tier_penalty,MAO_MPO_strength_penalty,MAO_FPO_strength_penalty,VO_place_points,VO_age_penalty,VO_tier_penalty,VO_MPO_strength_penalty,VO_FPO_strength_penalty,Memorial_place_points,Memorial_age_penalty,Memorial_tier_penalty,Memorial_MPO_strength_penalty,Memorial_FPO_strength_penalty,Paradise_place_points,Paradise_age_penalty,Paradise_tier_penalty,Paradise_MPO_strength_penalty,Paradise_FPO_strength_penalty,TVC_place_points,TVC_age_penalty,TVC_tier_penalty,TVC_MPO_strength_penalty,TVC_FPO_strength_penalty,SSM_place_points,SSM_age_penalty,SSM_tier_penalty,SSM_MPO_strength_penalty,SSM_FPO_strength_penalty,Belton_place_points,Belton_age_penalty,Belton_tier_penalty,Belton_MPO_strength_penalty,Belton_FPO_strength_penalty,Dogwood_place_points,Dogwood_age_penalty,Dogwood_tier_penalty,Dogwood_MPO_strength_penalty,Dogwood_FPO_strength_penalty,BGO_place_points,BGO_age_penalty,BGO_tier_penalty,BGO_MPO_strength_penalty,BGO_FPO_strength_penalty,DDO_place_points,DDO_age_penalty,DDO_tier_penalty,DDO_MPO_strength_penalty,DDO_FPO_strength_penalty,COM_place_points,COM_age_penalty,COM_tier_penalty,COM_MPO_strength_penalty,COM_FPO_strength_penalty,total_points
0,C. Allen,44184,FPO,2,7,4,1,0,0,3,0,0,0,0,0,0,1,0,0,2,0,750,0.81,1,1,1,300,0.9,1,1,1,500,0.9,1,1,1,1000,1.0,1,1,1,0,0.9,0.8,0.348678,0.348678,0,0.9,0.8,0.348678,0.38742,600,1.0,0.8,0.9,0.729,0,1.0,0.8,0.9,0.531441,0,0.81,0.8,0.348678,0.430467,0,0.81,0.8,0.9,0.6561,0,0.9,0.8,0.313811,0.313811,0,0.9,0.8,0.313811,0.313811,0,0.729,0.8,0.430467,0.348678,1000,0.9,0.8,0.9,0.9,0,0.9,0.8,0.313811,0.313811,0,1.0,0.8,0.38742,0.38742,750,1.0,1,1,1,0,1.0,0.8,0.348678,0.313811,4075.420000
1,H. King,81351,FPO,5,13,1,9,0,0,0,0,0,2,0,0,0,8,0,0,1,0,400,0.81,1,1,1,90,0.9,1,1,1,1000,0.9,1,1,1,200,1.0,1,1,1,0,0.9,0.8,0.348678,0.348678,0,0.9,0.8,0.348678,0.38742,0,1.0,0.8,0.9,0.729,0,1.0,0.8,0.9,0.531441,0,0.81,0.8,0.348678,0.430467,750,0.81,0.8,0.9,0.6561,0,0.9,0.8,0.313811,0.313811,0,0.9,0.8,0.313811,0.313811,0,0.729,0.8,0.430467,0.348678,250,0.9,0.8,0.9,0.9,0,0.9,0.8,0.313811,0.313811,0,1.0,0.8,0.38742,0.38742,1000,1.0,1,1,1,0,1.0,0.8,0.348678,0.313811,2985.864600
2,K. Panis,27832,FPO,6,1,26,5,0,0,6,0,0,0,0,0,0,4,0,0,5,0,350,0.81,1,1,1,1000,0.9,1,1,1,25,0.9,1,1,1,400,1.0,1,1,1,0,0.9,0.8,0.348678,0.348678,0,0.9,0.8,0.348678,0.38742,350,1.0,0.8,0.9,0.729,0,1.0,0.8,0.9,0.531441,0,0.81,0.8,0.348678,0.430467,0,0.81,0.8,0.9,0.6561,0,0.9,0.8,0.313811,0.313811,0,0.9,0.8,0.313811,0.313811,0,0.729,0.8,0.430467,0.348678,500,0.9,0.8,0.9,0.9,0,0.9,0.8,0.313811,0.313811,0,1.0,0.8,0.38742,0.38742,400,1.0,1,1,1,0,1.0,0.8,0.348678,0.313811,2534.120000
3,S. Hokom,34563,FPO,6,3,9,3,0,1,1,0,0,0,0,0,0,0,0,0,0,0,350,0.81,1,1,1,600,0.9,1,1,1,200,0.9,1,1,1,600,1.0,1,1,1,0,0.9,0.8,0.348678,0.348678,1000,0.9,0.8,0.348678,0.38742,1000,1.0,0.8,0.9,0.729,0,1.0,0.8,0.9,0.531441,0,0.81,0.8,0.348678,0.430467,0,0.81,0.8,0.9,0.6561,0,0.9,0.8,0.313811,0.313811,0,0.9,0.8,0.313811,0.313811,0,0.729,0.8,0.430467,0.348678,0,0.9,0.8,0.9,0.9,0,0.9,0.8,0.313811,0.313811,0,1.0,0.8,0.38742,0.38742,0,1.0,1,1,1,0,1.0,0.8,0.348678,0.313811,2465.642752
4,M. Gannon,85942,FPO,9,9,4,7,0,0,4,4,0,0,0,0,0,3,0,0,6,0,200,0.81,1,1,1,200,0.9,1,1,1,500,0.9,1,1,1,300,1.0,1,1,1,0,0.9,0.8,0.348678,0.348678,0,0.9,0.8,0.348678,0.38742,500,1.0,0.8,0.9,0.729,500,1.0,0.8,0.9,0.531441,0,0.81,0.8,0.348678,0.430467,0,0.81,0.8,0.9,0.6561,0,0.9,0.8,0.313811,0.313811,0,0.9,0.8,0.313811,0.313811,0,0.729,0.8,0.430467,0.348678,600,0.9,0.8,0.9,0.9,0,0.9,0.8,0.313811,0.313811,0,1.0,0.8,0.38742,0.38742,350,1.0,1,1,1,0,1.0,0.8,0.348678,0.313811,2334.976400
5,O. Scoggins,48976,FPO,4,2,9,0,1,0,0,0,0,1,0,0,1,0,0,0,12,0,500,0.81,1,1,1,750,0.9,1,1,1,200,0.9,1,1,1,0,1.0,1,1,1,1000,0.9,0.8,0.348678,0.348678,0,0.9,0.8,0.348678,0.38742,0,1.0,0.8,0.9,0.729,0,1.0,0.8,0.9,0.531441,0,0.81,0.8,0.348678,0.430467,1000,0.81,0.8,0.9,0.6561,0,0.9,0.8,0.313811,0.313811,0,0.9,0.8,0.313811,0.313811,1000,0.729,0.8,0.430467,0.348678,0,0.9,0.8,0.9,0.9,0,0.9,0.8,0.313811,0.313811,0,1.0,0.8,0.38742,0.38742,95,1.0,1,1,1,0,1.0,0.8,0.348678,0.313811,2234.550543
6,P. Pierce,29190,FPO,1,5,11,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1000,0.81,1,1,1,400,0.9,1,1,1,100,0.9,1,1,1,750,1.0,1,1,1,0,0.9,0.8,0.348678,0.348678,0,0.9,0.8,0.348678,0.38742,0,1.0,0.8,0.9,0.729,0,1.0,0.8,0.9,0.531441,0,0.81,0.8,0.348678,0.430467,0,0.81,0.8,0.9,0.6561,0,0.9,0.8,0.313811,0.313811,0,0.9,0.8,0.313811,0.313811,0,0.729,0.8,0.430467,0.348678,0,0.9,0.8,0.9,0.9,0,0.9,0.8,0.313811,0.313811,0,1.0,0.8,0.38742,0.38742,0,1.0,1,1,1,0,1.0,0.8,0.348678,0.313811,2010.000000
7,H. Young,100965,FPO,0,14,12,8,0,0,0,1,0,0,0,0,0,2,0,0,3,0,0,0.81,1,1,1,85,0.9,1,1,1,95,0.9,1,1,1,250,1.0,1,1,1,0,0.9,0.8,0.348678,0.348678,0,0.9,0.8,0.348678,0.38742,0,1.0,0.8,0.9,0.729,1000,1.0,0.8,0.9,0.531441,0,0.81,0.8,0.348678,0.430467,0,0.81,0.8,0.9,0.6561,0,0.9,0.8,0.313811,0.313811,0,0.9,0.8,0.313811,0.313811,0,0.729,0.8,0.430467,0.348678,750,0.9,0.8,0.9,0.9,0,0.9,0.8,0.313811,0.313811,0,1.0,0.8,0.38742,0.38742,600,1.0,1,1,1,0,1.0,0.8,0.348678,0.313811,1923.152800
8,J. Weese,50656,FPO,3,16,8,18,0,0,2,0,0,6,0,0,0,7,0,2,0,0,600,0.81,1,1,1,75,0.9,1,1,1,250,0.9,1,1,1,65,1.0,1,1,1,0,0.9,0.8,0.348678,0.348678,0,0.9,0.8,0.348678,0.38742,750,1.0,0.8,0.9,0.729,0,1.0,0.8,0.9,0.531441,0,0.81,0.8,0.348678,0.430467,350,0.81,0.8,0.9,0.6561,0,0.9,0.8,0.313811,0.313811,0,0.9,0.8,0.313811,0.313811,0,0.729,0.8,0.430467,0.348678,300,0.9,0.8,0.9,0.9,0,0.9,0.8,0.313811,0.313811,750,1.0,0.8,0.38742,0.38742,0,1.0,1,1,1,0,1.0,0.8,0.348678,0.313811,1856.555773
9,V. Mandujano,62879,FPO,10,6,7,18,0,0,0,0,3,3,0,0,0,4,0,0,7,0,150,0.81,1,1,1,350,0.9,1,1,1,300,0.9,1,1,1,65,1.0,1,1,1,0,0.9,0.8,0.348678,0.348678,0,0.9,0.8,0.348678,0.38742,0,1.0,0.8,0.9,0.729,0,1.0,0.8,0.9,0.531441,600,0.81,0.8,0.348678,0.430467,600,0.81,0.8,0.9,0.6561,0,0.9,0.8,0.313811,0.313811,0,0.9,0.8,0.313811,0.313811,0,0.729,0.8,0.430467,0.348678,500,0.9,0.8,0.9,0.9,0,0.9,0.8,0.313811,0.313811,0,1.0,0.8,0.38742,0.38742,300,1.0,1,1,1,0,1.0,0.8,0.348678,0.313811,1817.957331
10,L. Fajkus,32654,FPO,14,4,13,0,0,0,5,0,1,0,0,0,0,4,0,4,14,0,85,0.81,1,1,1,500,0.9,1,1,1,90,0.9,1,1,1,0,1.0,1,1,1,0,0.9,0.8,0.348678,0.348678,0,0.9,0.8,0.348678,0.38742,400,1.0,0.8,0.9,0.729,0,1.0,0.8,0.9,0.531441,1000,0.81,0.8,0.348678,0.430467,0,0.81,0.8,0.9,0.6561,0,0.9,0.8,0.313811,0.313811,0,0.9,0.8,0.313811,0.313811,0,0.729,0.8,0.430467,0.348678,500,0.9,0.8,0.9,0.9,0,0.9,0.8,0.313811,0.313811,500,1.0,0.8,0.38742,0.38742,85,1.0,1,1,1,0,1.0,0.8,0.348678,0.313811,1676.040948
11,R. Cox,32917,FPO,8,11,3,20,0,0,8,9,0,0,0,0,0,14,0,0,25,0,250,0.81,1,1,1,100,0.9,1,1,1,600,0.9,1,1,1,55,1.0,1,1,1,0,0.9,0.8,0.348678,0.348678,0,0.9,0.8,0.348678,0.38742,250,1.0,0.8,0.9,0.729,200,1.0,0.8,0.9,0.531441,0,0.81,0.8,0.348678,0.430467,0,0.81,0.8,0.9,0.6561,0,0.9,0.8,0.313811,0.313811,0,0.9,0.8,0.313811,0.313811,0,0.729,0.8,0.430467,0.348678,85,0.9,0.8,0.9,0.9,0,0.9,0.8,0.313811,0.313811,0,1.0,0.8,0.38742,0.38742,30,1.0,1,1,1,0,1.0,0.8,0.348678,0.313811,1203.410560
12,A. Mandujano,62880,FPO,21,17,4,9,0,0,0,0,0,6,0,0,0,8,0,0,23,0,50,0.81,1,1,1,70,0.9,1,1,1,500,0.9,1,1,1,200,1.0,1,1,1,0,0.9,0.8,0.348678,0.348678,0,0.9,0.8,0.348678,0.38742,0,1.0,0.8,0.9,0.729,0,1.0,0.8,0.9,0.531441,0,0.81,0.8,0.348678,0.430467,350,0.81,0.8,0.9,0.6561,0,0.9,0.8,0.313811,0.313811,0,0.9,0.8,0.313811,0.313811,0,0.729,0.8,0.430467,0.348678,250,0.9,0.8,0.9,0.9,0,0.9,0.8,0.313811,0.313811,0,1.0,0.8,0.38742,0.38742,40,1.0,1,1,1,0,1.0,0.8,0.348678,0.313811,1104.303480
13,M. Walker,104187,FPO,0,0,0,4,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0.81,1,1,1,0,0.9,1,1,1,0,0.9,1,1,1,500,1.0,1,1,1,0,0.9,0.8,0.348678,0.348678,0,0.9,0.8,0.348678,0.38742,0,1.0,0.8,0.9,0.729,0,1.0,0.8,0.9,0.531441,0,0.81,0.8,0.348678,0.430467,0,0.81,0.8,0.9,0.6561,0,0.9,0.8,0.313811,0.313811,0,0.9,0.8,0.313811,0.313811,0,0.729,0.8,0.430467,0.348678,0,0.9,0.8,0.9,0.9,0,0.9,0.8,0.313811,0.313811,0,1.0,0.8,0.38742,0.38742,600,1.0,1,1,1,0,1.0,0.8,0.348678,0.313811,1100.000000
14,H. Finley,51277,FPO,22,9,2,0,0,0,0,0,0,0,0,0,0,12,0,0,0,0,45,0.81,1,1,1,200,0.9,1,1,1,750,0.9,1,1,1,0,1.0,1,1,1,0,0.9,0.8,0.348678,0.348678,0,0.9,0.8,0.348678,0.38742,0,1.0,0.8,0.9,0.729,0,1.0,0.8,0.9,0.531441,0,0.81,0.8,0.348678,0.430467,0,0.81,0.8,0.9,0.6561,0,0.9,0.8,0.313811,0.313811,0,0.9,0.8,0.313811,0.313811,0,0.729,0.8,0.430467,0.348678,95,0.9,0.8,0.9,0.9,0,0.9,0.8,0.313811,0.313811,0,1.0,0.8,0.38742,0.38742,0,1.0,1,1,1,0,1.0,0.8,0.348678,0.313811,953.010000

---
# Work Area

Useful dataframes and lists

In [90]:
#current useful persistant DATAFRAMES

#players_events_df (everything)

#player_prize_df

#Tournaments_Loaded-df

cash_by_state_df = sqlit("SELECT state_province, SUM(total_cash) as total_cash, COUNT(*) as total_players FROM players_events_df GROUP BY state_province ORDER BY 2 DESC")

#nickname_df

#useful LISTS

#top_money_MPO_list, top_money_FPO_list: top 20

#nickname_participants_list: ids of participants

In [91]:
cash_by_state_df.head(20)

    state_province  total_cash  total_players
0       California       75265            130
1            Texas       50689            150
2          Florida       35544             46
3         Colorado       27786             33
4        Tennessee       26018             39
5         Missouri       25866             58
6   North Carolina       25855             67
7        Minnesota       24206             46
8        Wisconsin       22498             23
9   South Carolina       20794             16
10        Michigan       18649             56
11         Arizona       17320             41
12        Illinois       11779             26
13         Alabama       11632             32
14      Washington       11409             50
15            Iowa       10304             21
16           Idaho        9829             30
17         Georgia        7784             25
18        Arkansas        7715             24
19        Virginia        7713             29

In [92]:
Tournaments_Loaded_df

         Tournament Loaded  Weekend_num Tier  Nickname
0        Las Vegas Classic            9   NT       LVC
1                     Waco           11   NT      Waco
2             Texas States           13   NT     Texas
3                Jonesboro           16   NT        JB
4              St. Patrick           12    A        SP
5      Sun Kings Throwdown           12    A        SK
6             Vintage Open           15    A   Vintage
7         Mid-America Open           17    A       MAO
8            Victoria Open            7    A        VO
9            Memorial Open           10    A  Memorial
10         Paradise Plates           12    A  Paradise
11     Treasure Valley Cup           13    A       TVC
12  Shelly Sharpe Memorial            3  A/B       SSM
13         The Open Belton           12  A/B    Belton
14         Dogwood Classic           13    A   Dogwood
15      Bowling Green Open           17    A       BGO
16      Dynamic Discs Open           18   NT       DDO
17          City of Mobile           18  A/B       COM

In [93]:


#stats to do: threats, you're my sunshine, kryptonite, vampire, states money, Red/Blue states, power rankings, second half year improvement, PDGA age

In [94]:
player_prize_df

,name,id,events_played,LVC_prize,Waco_prize,Texas_prize,JB_prize,SP_prize,SK_prize,Vintage_prize,MAO_prize,VO_prize,Memorial_prize,Paradise_prize,TVC_prize,SSM_prize,Belton_prize,Dogwood_prize,BGO_prize,DDO_prize,COM_prize,total_cash,avg_cash
0,R. Wysocki,38008,7,1750,1050,5000,6000,0,0,965,0,0,0,0,0,0,2000,0,0,3000,0,19765,2823.0
1,P. McBeth,27523,7,1200,1450,2505,1633,0,0,0,0,0,4700,0,0,0,1400,0,0,6000,0,18888,2698.0
2,C. Heimburg,45971,7,3125,1850,1400,4000,0,0,2075,0,0,0,0,0,0,1250,0,0,2000,0,15700,2242.0
3,E. McMahon,37817,5,5500,315,1100,2800,0,0,0,0,0,0,0,0,0,0,0,0,3000,0,12715,2543.0
4,C. Allen,44184,7,2500,625,1000,3000,0,0,600,0,0,0,0,0,0,1100,0,0,1900,0,10725,1532.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1371,C. Nyman,117182,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
1372,L. Costanzi,111599,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
1373,I. McCraney,82400,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
1374,C. Franklin,153453,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0
1375,A. Elkins,160582,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0

In [95]:
# #best friends...


# top_money_MPO_df = sqlit("SELECT id, name, total_cash from players_events_df WHERE division = 'MPO' ORDER BY total_cash DESC LIMIT 20") 
# top_money_FPO_df = sqlit("SELECT id, name, total_cash from players_events_df WHERE division = 'FPO' ORDER BY total_cash DESC LIMIT 20") 
# top_money_MPO_list = top_money_MPO_df['id'].tolist()
# top_money_FPO_list = top_money_FPO_df['id'].tolist()

# players_join_MPO_df = pd.DataFrame()
# players_join_FPO_df = pd.DataFrame()
# players_join_MPO_df['name'] = top_money_MPO_df['name']
# players_join_FPO_df['name'] = top_money_FPO_df['name']
# players_join_MPO_df['id'] = top_money_MPO_df['id']
# players_join_FPO_df['id'] = top_money_FPO_df['id']
# for player in top_money_MPO_list:
#     best_friend = None
#     avg_place_tog = 0
#     avg_place_ap = 0
#     best_position_difference = 0
#     events_together = 0
#     events_apart = 0
#     for player2 in players_events_df['id'].tolist():
#         place_total_tog = 0
#         place_total_ap = 0
#         events_tog = 0
#         events_ap = 0
#         for tn in tourneys_list:
#             if player in participants_list_dict[f'{tn}']:
#                 player_row = players_events_df[players_events_df.id == player]
#                 if player2 in participants_list_dict[f'{tn}']:
#                     place_total_tog += int(player_row[f'{tn}_place'].item())
#                     events_tog += 1
#                 else:
#                     place_total_ap += int(player_row[f'{tn}_place'].item())
#                     events_ap += 1
#         if events_ap > 2 and events_tog > 2 and ((place_total_ap/events_ap) - (place_total_tog/events_tog)) > best_position_difference:
#             best_friend = player2
#             avg_place_tog = place_total_tog/events_tog
#             avg_place_ap = place_total_ap/events_ap
#             best_position_difference = ((place_total_ap/events_ap) - (place_total_tog/events_tog))
#             events_together = events_tog
#             events_apart = events_ap
            
                
#     if best_friend != None:
#         players_join_MPO_df.loc[players_join_MPO_df.id == player, 'best_friend_name'] = players_events_df[players_events_df.id == best_friend]['name'].iloc[0]
#         players_join_MPO_df.loc[players_join_MPO_df.id == player, 'best_friend_id'] = best_friend
#         players_join_MPO_df.loc[players_join_MPO_df.id == player, 'avg_place_tog'] = avg_place_tog
#         players_join_MPO_df.loc[players_join_MPO_df.id == player, 'avg_place_ap'] = avg_place_ap
#         players_join_MPO_df.loc[players_join_MPO_df.id == player, 'best_friend_help'] = best_position_difference
#         players_join_MPO_df.loc[players_join_MPO_df.id == player, 'events_together'] = events_together
#         players_join_MPO_df.loc[players_join_MPO_df.id == player, 'events_apart'] = events_apart
        
        
#     else:
#         players_join_MPO_df.loc[players_join_MPO_df.id == player, 'best_friend_name'] = "Noone"
#         players_join_MPO_df.loc[players_join_MPO_df.id == player, 'best_friend_id'] = '00000'
        
    
    
# players_join_MPO_df

In [96]:
sqlit("SELECT name, id, total_cash from players_events_df WHERE division = 'MPO' ORDER BY total_cash DESC LIMIT 20")

            name     id  total_cash
0     R. Wysocki  38008       19765
1      P. McBeth  27523       18888
2    C. Heimburg  45971       15700
3     E. McMahon  37817       12715
4   C. Dickerson  62467        9945
5    N. Locastro  11534        9676
6    P. Ulibarri  27171        8965
7      D. Gibson  48346        8935
8       K. Klein  85132        8877
9      A. Hammes  57365        8243
10    G. Gurthie  13864        7990
11       M. Orum  18330        7030
12      K. Jones  41760        6895
13     J. Conrad  17295        6485
14     R. Newsom  88212        5525
15      C. White  81739        5523
16    G. Rathbun  60436        5392
17      N. Queen  68286        5246
18     A. Barela  44382        5025
19    C. Clemons  50401        5015